<div id="cta-header-section" class="cta-header-section">
  <p class="m-0">
    <strong>
      <%= text %>
    </strong>
  </p>
  <div class="m-3">
    <%= erb :'component/_contact_banner_button',
            locals: {
              style: "background-color: #{@primary_color};color: #{@primary_font_color};--hover_color:#{@hover_color};padding: 0px 10px; border-radius: 30px;",
              text_button: text_button,
              style_class: 'btn my-primary-button',
              specific_id: "cta-header-button",
            }%>
  </div>
</div>


<script>
  header = document.getElementById('cta-header-section')
  button = document.getElementById('cta-header-button')
  window.addEventListener('scroll', () => {
      const scrollThresholdVh = 75
      const scrollThresholdPx = window.innerHeight * (scrollThresholdVh / 100)

      if (window.scrollY > scrollThresholdPx) {
          header.style.backgroundColor = "<%= @primary_color %>"
          button.style.backgroundColor = "<%= @secondary_color %>"
      } else {
          header.style.backgroundColor = "white"
          button.style.backgroundColor = "<%= @primary_color %>"
      }
  })
</script>