<a
    class="service-card"
    id='service-card-<%=service.id %>'
    data-hover-color="<%= hover_color %>"
    data-border-hover-color="<%= border_hover_color %>"
    data-border-color="<%= border_color %>"
    style='background-color: white;
      border: 3px solid <%= border_color %>;
      margin: 20px; cursor: pointer;
      transition: 0.3s;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      z-index: 5;
    '
    href="/es/servicios/<%= service.slug %>"
>
    <h3>
      <%= service.name %>
    </h3>
    <h4>
      <%= service.subtitle %>
    </h4>
</a>
