

<div class="row event-item pb-4 mt-4">
  <div class="col-lg-3">
    <a href="<%= event[:url] %>"><h6><%= event[:name] %></h6></a>
    <p>
      <img src="/app/img/icons/VideoCamera.svg">
      Online
    </p>
  </div>
  <div class="col-lg-1">
    <p>
      <img src="/app/img/icons/Clock.svg">
      <%= event[:duration] %>hs
    </p>

  </div>
  <div class="col-lg-2">
    <strong><%= event[:date] %></strong>
    <p><%= event[:info_time] %></p>
    <p class="small-label time-zone"> <%= event[:place] %></p>
  </div>
  <div class="col-lg-2">
    <strong>$<%= event[:price] || 'precio' %></strong>
  </div>
  <div class="col-lg-2">
    <strong class="price">$<%= event[:eb_price]  || 'promo' %></strong>
    <p class="small-label">hasta <%= event[:eb_date]  || 'fecha' %></p>
  </div>
  <div class="col-lg-2">
    <a class="my-primary-button p-2"
       href='<%= "https://eventos.kleer.la/events/#{event[:id]}/participants/new?lang=#{session[:locale]}&utm_source=kleer.la&utm_campaign=kleer.la" %>'>Comprar</a>
  </div>

</div>
