<div class="course-company-panel">
  <% if @event_type.public_editions == [] %>
    <p class="m-0">
      <strong>
        ¡Contactarnos para aplicar este sercicio en tu organizacion!
      </strong>
    </p>
    <a href="<%= t('generals.social_media.whatsapp') %>>">
      <strong>Contáctanos🔥</strong>
    </a>
  <% else %>
    <p class="m-0">
      <strong>
        ¡No te pierdas el próximo curso a comenzar el <%= @event_type.public_editions[0].date %>!
      </strong>
    </p>
    <a href="#course-next-editions">
      <strong>Inscribeme ahora🔥</strong>
    </a>
  <% end %>
</div>
<%= erb :'services/landing/hero' %>
<%= erb :'services/landing/description' %>
<%= erb :'services/landing/takeaways' %>
<%= erb :'services/landing/recipients' %>
<%#= erb :'services/landing/next_editions' %>
<%= erb :'services/landing/program' %>
<%#= erb :'services/landing/trainers' %>
<%#= erb :'services/landing/testimonies' %>
<%#= erb :'services/landing/qna' %>
<%= erb :'services/landing/contact' %>
<%= erb :'component/_contact_modal' %>
