<section id="<%= id %>" class="container subservice-container mt-5 mb-5">
  <h2 class="">
    <%= sub_service["name"] %>
  </h2>
  <div class="row mt-4 mb-5">
    <% if index % 2 != 0 %>
      <div class="col-md-6 d-flex justify-content-center">
        <img
          style="max-height: 450px;"
          class="image"
          src="<%= sub_service["image"] %>"/>
      </div>
    <% end %>
    <div class="col-md-6">
      <div class="description">
        <%= @markdown_renderer.render(sub_service["description"]) %>
      </div>
    </div>
    <% if index % 2 == 0 %>
      <div class="col-md-6 d-flex justify-content-center">
        <img
          style="max-height: 450px;"
          class="image"
          src="<%= sub_service["image"] %>"/>
      </div>
    <% end %>
  </div>
  <div class="info-subcontainer row">
    <div class="col-md-6">
      <div class="takeaways">
        <%= @markdown_renderer.render(sub_service["takeaways"]) %>
        <img
          class="desktop_figure takeaways__red-bean"
          src="<%= cdn('website-assets/red_bean.svg') %>" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="recipients">
        <%= @markdown_renderer.render(sub_service["recipients"]) %>
        <img
          class="desktop_figure recipients__green-bean"
          src="<%= cdn('website-assets/green_bean_sg.svg') %>" />
        <img
          class="desktop_figure recipients__yellow-bean"
          src="<%= cdn('website-assets/yellow_bean.svg') %>"/>
      </div>
    </div>
  </div>
</section>

