<section id="resources-hero" class="resources-hero">
  <h1><%= t("resources.title") %></h1>
  <h2 class="hero-description"><%= t("resources.subtitle") %></h2>
  <% if session[:locale] == 'es' %>
    <%= erb :'component/sections/_search_box'  %>
  <% end %>
  <img
    class="resources-hero__yellow-circle"
    src="<%= cdn('website-assets/yellow_circle.png') %>">
  <img
    class="resources-hero__blue-circle"
    src="<%= cdn('website-assets/blue_semicircle.png') %>">
</section>
