<% if (session[:locale] == "en") 
    lang_id = 'change_to_es_top'
    lang_url = '/es/'
    lang_text = 'ESPAÑOL'
  else
    lang_id = 'change_to_en_top'
    lang_url = '/en/'
    lang_text = 'ENGLISH'
  end
%>
<%# Menu desktop %>
<div class="hidden-xs hidden-sm">
  <nav class="navbar navbar-default navbar-fixed-top text-uppercase" role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <a id="logo" class="navbar-brand" href="/<%=session[:locale]%>">
          <img src="/app/img/logo.png" alt="Kleer" />
        </a>
        <ul class="nav navbar-nav">
          <li class="root">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick='scrollTo2("#about");'><%=t('side_menu.we_do')%> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/<%=session[:locale]%>/agilidad-organizacional"><%=t('side_menu.coaching')%></a></li>
                <li><a href="/<%=session[:locale]%>/facilitacion"><%=t('side_menu.facilitation')%></a></li>
                <%if session[:locale] == 'es'%>
                <li class="dropdown-submenu"><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
                  <ul class="dropdown-menu">
                    <li><a href="/<%=session[:locale]%>/entrenamos"><%=t('side_menu.agenda')%></a></li>
                    <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.catalog')%></a></li>
                    <li><a href="https://academia.kleer.la/"><%=t('side_menu.campus')%></a></li>
                  </ul>
                </li>
                <%else%>
                <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
                </li>
                <%end%>
                <li><a href="/<%=session[:locale]%>/clientes"><%=t('side_menu.clients')%></a></li>
            </ul>
          </li>
          <%if session[:locale] == 'es'%>          
          <li class="root">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/<%=session[:locale]%>/publicamos"><%=t('side_menu.we_publish')%> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/<%=session[:locale]%>/recursos"><%=t('side_menu.recursos')%></a></li>
              <li><a href="/<%=session[:locale]%>/blog"><%=t('side_menu.blog')%></a></li>
              <li><%= media_url_anchor "https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw"%><%=t('side_menu.videos')%></a></li>
              <li><a href="/<%=session[:locale]%>/libros"><%=t('side_menu.books')%></a></li>
            </ul>
          </li>
          <%end%>
          <li class="root">
              <%if session[:locale] == 'es'%>        
            <a class="dropdown-toggle" data-toggle="dropdown" href="/<%=session[:locale]%>/somos"><%=t('side_menu.we_are')%> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/<%=session[:locale]%>/nuestra-filosofia"><%=t("side_menu.our_philosophy")%></a></li>
              <li><a href="/<%=session[:locale]%>/somos"><%=t("side_menu.us")%></a></li>
                <li><a href="/<%=session[:locale]%>/prensa"><%=t("menu.press")%></a></li>
            </ul>
                <%else%>
            <a href="/<%=session[:locale]%>/somos"><%=t('side_menu.we_are')%></a>
                <%end%>
          </li>
          <li><a href="/<%=session[:locale]%>/#contact" onclick='scrollTo2("#contact");'><%=t('side_menu.lets_talk')%></a></li>
          <li><a id="<%=lang_id%>" href="<%=lang_url%>"><strong><%=lang_text%></strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= external_url_anchor"https://www.linkedin.com/company/541684" %><i class="social-icons-desktop fa fa-linkedin"></i></a></li>
          <li><%= external_url_anchor"https://twitter.com/kleer_la" %><i class="social-icons-desktop fa fa-twitter"></i></a></li>
          <li><%= media_url_anchor "https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" %><i class="social-icons-desktop fa fa-youtube"></i></a></li>
          <li><%= external_url_anchor"https://www.instagram.com/kleer.la/" %><i class="social-icons-desktop fa fa-instagram"></i></a></li>
          <li><%= external_url_anchor"https://facebook.com/kleer.la"  %><i class="social-icons-desktop fa fa-facebook"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>
<div class="visible-xs-block visible-sm">
  <nav class="navbar navbar-default navbar-fixed-top text-uppercase" role="navigation">
    <div class="container">
      <a id="logo" class="navbar-brand" href="/">
        <img src="/app/img/logo.png" alt="Kleer" />
      </a>
    </div>
  </nav>
</div>
<%#% Menu lateral %>
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle visible-xs-block visible-sm"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <div class="menu-container text-uppercase">

      <div id="logoMenu">
        <a href="/<%=session[:locale]%>"><img src="/app/img/logo.png"></a>
      </div>

      <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
      <ul class="sidebar-nav">

        <li><a href="javascript:void(0);" onclick='scrollTo2("#about");closeSidebar(event)'><%=t('side_menu.we_do')%></a>
          <ul>
            <li><a href="/<%=session[:locale]%>/agilidad-organizacional"><%=t('side_menu.coaching')%></a></li>
            <li><a href="/<%=session[:locale]%>/facilitacion"><%=t('side_menu.facilitation')%></a></li>
            <%if session[:locale] == 'es'%>
            <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
              <ul>
                <li><a href="/<%=session[:locale]%>/entrenamos"><%=t('side_menu.agenda')%></a></li>
                <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.catalog')%></a></li>
                <li><a href="https://academia.kleer.la/"><%=t('side_menu.campus')%></a></li>
              </ul>
            </li>
            <%else%>
            <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
            </li>
            <%end%>
            <li><a href="/<%=session[:locale]%>/clientes"><%=t('side_menu.clients')%></a></li>
          </ul>
        </li>
        <%if session[:locale] == 'es'%>
        <li><a href="/<%=session[:locale]%>/publicamos"><span class="white"><%=t('side_menu.we_publish')%></span></a>
          <ul>
            <li><a href="/<%=session[:locale]%>/recursos"><%=t('side_menu.recursos')%></a></li>
            <li><a href="/<%=session[:locale]%>/blog"><%=t('side_menu.blog')%></a></li>
            <li><%= media_url_anchor "https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" %><%=t('side_menu.videos')%></a></li>
            <li><a href="/<%=session[:locale]%>/libros"><%=t('side_menu.books')%></a></li>
          </ul>
        </li>
        <%end%>
        <li><a href="/<%=session[:locale]%>/somos"><span class="white"><%=t('side_menu.we_are')%></a></span>
        <%if session[:locale] == 'es'%>
          <ul>
            <li><a href="/<%=session[:locale]%>/nuestra-filosofia"><%=t("side_menu.our_philosophy")%></a></li>
            <li><a href="/<%=session[:locale]%>/somos"><%=t("side_menu.us")%></a></li>
              <li><a href="/<%=session[:locale]%>/prensa"><%=t("menu.press")%></a></li>
          </ul>
        <%end%>
        </li>
        <li><a href="/<%=session[:locale]%>/#contact" onclick='scrollTo2("#contact");closeSidebar(event)'><%=t('side_menu.lets_talk')%></a></li>
        <li><a id="<%=lang_id%>" href="<%=lang_url%>"><strong><%=lang_text%></strong></a></li>
      </ul>
      <div class="social-media">
        <ul class="list-unstyled list-inline font-family-alt no-letter-spacing text-extra-large">
          <li><%= external_url_anchor "https://www.linkedin.com/company/541684" %><i class="fa fa-linkedin"></i></a></li>
          <li><%= external_url_anchor "https://twitter.com/kleer_la" %><i class="fa fa-twitter"></i></a></li>
          <li><%= media_url_anchor "https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" %><i class="fa fa-youtube"></i></a></li>
          <li><%= external_url_anchor "https://www.instagram.com/kleer.la/" %><i class="fa fa-instagram"></i></a></li>
          <li><%= external_url_anchor "https://facebook.com/kleer.la" %><i class="fa fa-facebook"></i></a></li>
        </ul>
        <span class="display-inline-block font-family-alt text-large email"><a class="lower" href="mailto:hola@kleer.la">hola@kleer.la</a></span>
      </div>
    </div>
</nav>
