<div class="container">

	<div class="container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs text-center" role="tablist">
		<li role="presentation" class="active"><a data-target="#Otro" aria-controls="Otro" role="tab" data-toggle="tab"><%=t("contact.locations.other.title")%></a></li>
		<li role="presentation"><a data-target="#Argentina" aria-controls="Argentina" role="tab" data-toggle="tab">Argentina</a></li>
		<li role="presentation"><a data-target="#Bolivia" aria-controls="Bolivia" role="tab" data-toggle="tab">Bolivia</a></li>
		<li role="presentation"><a data-target="#Colombia" aria-controls="Colombia" role="tab" data-toggle="tab">Colombia</a></li>
		<li role="presentation"><a data-target="#Uruguay" aria-controls="Uruguay" role="tab" data-toggle="tab">Uruguay</a></li>
	</ul>

	<br>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="text-center tab-pane active" id="Otro">
					<div class="alert alert-info">
						<div class="row">
						<div class="col-xs-5 col-xs-offset-3">
							<h4><strong>Global</strong></h4>
							<ul class="list-unstyled">
							<li class="whatsapp">
								<%=t("contact.locations.other.whatsapp")%>
								</li>
							<li>&nbsp;</li>
							<li><i class="fa fa-envelope-o fa-fw"></i>
								<a href="mailto:<%=t("contact.locations.other.contact_email")%>">
								<%=t("contact.locations.other.contact_email")%></a></li>
							</ul>
						</div>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="text-center tab-pane" id="Argentina">
					<div class="alert alert-info">
						<div class="row">
						<div class="col-xs-5 col-xs-offset-3">
							<h4><strong>Kleer Argentina</strong></h4>
							<p><%=t("contact.locations.argentina.address1")%>
							 <%=t("contact.locations.argentina.address2")%>
							</p>
							<ul class="list-unstyled">
							<li>&nbsp;</li>
							<li>
								<%=t("contact.locations.argentina.phone")%>
								</li>
							<li>
								<a href="mailto:<%=t("contact.locations.argentina.contact_email")%>">
								<%=t("contact.locations.argentina.contact_email")%>
								</a></li>
							</ul>
						</div>
						<div class="col-xs-4 text-left">
							<a href="https://qr.afip.gob.ar/?qr=5DjfcAnZHIhtGI65mHIRlA,," target="_F960AFIPInfo">
							<img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" height="70" data-pin-nopin="true">
							</a>
						</div>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="text-center tab-pane" id="Bolivia">
					<div class="alert alert-info">
						<div class="row">
						<div class="col-sm-12">
							<h4><strong>Kleer Bolivia</strong></h4>
							<p><%=t("contact.locations.bolivia.address1")%>
							<br><%=t("contact.locations.bolivia.address2")%></p>
							<ul class="list-unstyled">
							<li>
								<%=t("contact.locations.bolivia.phone")%>
								</li>
							<li>
								<a href="mailto:<%=t("contact.locations.bolivia.contact_email")%>">
								<%=t("contact.locations.bolivia.contact_email")%>
								</a></li>
								<li><%=t("contact.helped_by")%>
								<%=t("contact.locations.bolivia.contact")%>
							</li>
							</ul>
						</div>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="text-center tab-pane" id="Colombia">
					<div class="alert alert-info">
						<div class="row">
						<div class="col-sm-12">
							<h4><strong>Kleer Colombia</strong></h4>
							<%=t("contact.locations.colombia.address2")%></p>
							<ul class="list-unstyled">
							<li><%=t("contact.locations.colombia.contact1")%>
								</li>
								<li class="whatsapp">
								<%=t("contact.locations.colombia.whatsapp")%>
								</li>
								<li><%=t("contact.locations.colombia.contact2")%></li>
							<li>
								<a href="mailto:<%=t("contact.locations.colombia.contact_email")%>">
								<%=t("contact.locations.colombia.contact_email")%>
								</a></li>
							</li>
							</ul>
						</div>
						</div>
					</div>
				</div>
				
				<div role="tabpanel" class="text-center tab-pane" id="Uruguay">
					<div class="alert alert-info">
						<div class="row">
						<div class="col-sm-12">
							<h4><strong>Kleer Uruguay</strong></h4>
							<p><%=t("contact.locations.uruguay.address1")%>
							- <%=t("contact.locations.uruguay.address2")%></p>
							<ul class="list-unstyled">
							<li>
								<%=t("contact.locations.uruguay.phone")%>
								</li>
							<li class="whatsapp">
								<%=t("contact.locations.uruguay.whatsapp")%>
								</li>
							<li>
								<a href="mailto:<%=t("contact.locations.uruguay.contact_email")%>">
								<%=t("contact.locations.uruguay.contact_email")%>
								</a></li>
							<li><%=t("contact.helped_by")%>
								<%=t("contact.locations.uruguay.contact")%>
							</li>
							</ul>
						</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		
	</div>
	</div>
	<a id="to-top" href="javascript:void(0);" onclick='scrollTo2("#top")' class="btn btn-dark btn-lg scroll"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</div>