<!-- Suscripcion Newsletter -->
    <div class="container fondo-celeste-oscuro slide-home-newsletter" id="contact">
        <div class="suscripcion">
            <div class="col-sm-12 suscripcion-inner">
              <p><%=t('contact.subscription.text')%></p>
              <div class="wrap-button"><button type="button" class="btn btn-warning btn-kleer btn-suscription" data-toggle="modal" data-target="#modalSN"><%=t('contact.subscription.interested')%></button></div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-bottom">
      <div class="text-center">
        <ul class="text-muted">
          <li>Copyright &copy; Kleer 2021 <span>|</span></li>
          <% if (session[:locale] == "es") %>
            <li><a href="/<%=session[:locale]%>/privacy"> Declaración de privacidad </a> <span>|</span></li>
            <li><a href="/<%=session[:locale]%>/terms"> Términos y condiciones</a> <span>|</span></li>
          <% end %>
          <% if (session[:locale] == "en") %>
            <li><a href="/<%=session[:locale]%>/privacy"> Privacy Policy </a> <span>|</span></li>
            <li><a href="/<%=session[:locale]%>/terms"> Terms of service</a> <span>|</span></li>
          <% end %>
          <% if (session[:locale] == "en") %><li><a href="/es/"><strong>ESPAÑOL</strong></a></li><% end %>
          <% if (session[:locale] == "es") %><li><a href="/en/"><strong>ENGLISH</strong></a></li><% end %>
        </ul>
      </div>
    </div>
  </footer>

  <!--Modal: Subscription Newsletter-->
<div class="modal fade" id="modalSN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>Newsletter</strong></h4>
      </div>
      <!--Body-->
      <div class="modal-body">

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://kleer.us1.list-manage.com/subscribe?u=98726a706d87424c18b69e332&id=de82c19d8f" allowfullscreen></iframe>
        </div>

      </div>
    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: Subscription Newsletter-->