<div class="blackBg blackBg-small">
<div class="header-small header-coaching header-blog"></div>

<div class="header-description">
	<h1 class="headerTitle blog__title">Blog</h1>
</div>
</div>

<div class="container mainContent blog blog-uniq">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-8 col-md-offset-2 contenedor-main-izq">
      <article class="blog__article">
        <h1><%= @article.title%></h1>
        <div class="blog__data">
          <div class="blog__name">
            <i class="fa fa-user"></i>
            <%=@article.trainers.join(' & ')%>
          </div>
          <div class="blog__date">
            <i class="fa fa-calendar"></i>
            <time datetime="<%=@article.created_at[0..9]%>">
              <%=@article.created_at[0..9]%>
            </time>
          </div>
        </div>
        <%=@markdown_renderer.render( @article.body )%>
        <a href="/blog"><< Volver</a>
      </article>
		</div>
		<!--<div class="col-md-3 hidden-xs hidden-sm">
    <%# navigation			 %>-->
		</div>
	</div>
</div>
