<div class="blackBg blackBg-small">
<div class="header-small header-coaching header-blog"></div>

<div class="header-description">
	<h1 class="headerTitle blog__title"><%= @where%></h1>
</div>
</div>
<%where_uri= "/#{@where.downcase.gsub(' ','-')}/" %>

<div class="container mainContent blog">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-8 col-md-offset-2 contenedor-main-izq">
      <%if @articles.nil? || @articles == [] %>
        <h2>En construcción</h2>
      <% else
      @articles.each do |article|%>
      <article class="blog__article">
        <h1><a href='<%= where_uri+article.slug%>'>
        <%=article.title%>
        </a></h1>
        <div class="blog__data">
          <div class="blog__name">
            <i class="fa fa-user"></i>
            <%=article.trainers.join(' & ')%>
          </div>
          <div class="blog__date">
            <i class="fa fa-calendar"></i>
            <time datetime="<%=article.created_at[0..9]%>">
            <%=article.created_at[0..9]%>
            </time>
          </div>
        </div>
        <%=@markdown_renderer.render( @show_abstract ? article.abstract : article.body)%>
      </article>
    <%end
    end%>
		</div>
		<!--<div class="col-md-3 hidden-xs hidden-sm">
      <%# navigation			 %>-->
		</div>
	</div>
</div>
