<div class="blackBg withSubtitleAndDescription">
	<div class="header-small header-catalogo"></div>

	<div class="header-description">
		<h1 class="headerTitle"><%=t("catalog.title")%></h1>
	</div>

</div>

	<div class="vSpace"></div>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="mb-30 title-flex"><%=t("catalog.description")%> 
					<a href="/recursos/primeros_pasos">
					<img src="/img/boton_AB.png" alt="¿Eres principiante en Agile?"></a></h3>
				</div>
			</div>
			<div class="row">
				<% @categories.each do |category| %>
					<div class="col-md-3">
						<div class="well categoria categoria-<%= category.codename %>">
							<h3><%= category.name %></h3>
							<div class="list-group">
								<% category.event_types.sort_by { |et| et.name}.each do |event_type| %>
								  <a href="/<%=session[:locale]%>/categoria/<%=category.codename%>/<%= event_type.uri_path%>" class="list-group-item">
								    <h3 class="list-group-item-heading"><%=event_type.name%></h3>
								    <p class="list-group-item-text">
											<%if event_type.subtitle.to_s!=""%>
												<%=event_type.subtitle%> <br/>
											<% end %>
											<div class="row">
												<div class="col-md-8" id="duration-<%= event_type.id%>">
													<%= (event_type.duration.to_s + ' horas') if event_type.duration>0%>
												</div>
											</div>
								    </p>
								  </a>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

<div class="container-fluid fondo-pano pano-9"></div>

<div class="container-fluid fondo-rosa containerWithPadding text-center text-white">
	<div class="container">
		<div class="col-md-12"><p><%=t('training.incompany')%></p></div>
		<div class="col-md-12">
			<a href="mailto:<%=t('contact.training_email')%>" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a></div>
	</div>
</div>
