<div class="blackBg withSubtitleAndDescription">
	<div class="header-small header-catalogo"></div>

	<div class="header-description">
		<h1 class="headerTitle"><%=t("catalog.title")%></h1>
	</div>

</div>
<div class="container">
  <div class="container-fluid">
    <%= erb :'component/_flash_error' %>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-30 title-flex"><%=t("catalog.description")%> 
        </h3>
      </div>
    </div>
    <div class="row">
      <% @categories.each do |category| 
          category.event_types.select {|et| et.lang == 'en'}.each do |event_type| #session[:locale]
      %>
            <div class="col-md-3">
              <div class="well categoria">
                <h3><%= event_type.name %></h3>
                <div class="list-group">
                  <h3 class="list-group-item-heading"><%=event_type.subtitle%></h3>
                  <p class="list-group-item-text">
                    <div class="row">
                      <div class="col-md-8" id="duration-<%= event_type.id%>">
                        <%= "#{event_type.duration} hours" if event_type.duration>0%>
                      </div>
                    </div>
                  </p>
                </div>
                <a href="/<%=session[:locale]%>/<%= event_type.uri_path%>" class="btn btn-info btn-kleer">More Info</a>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= erb :'training/_training_footer' %>
