<div class="blackBg">
	<div class="header-small header-coaching"></div>
	
	<div class="header-description">
		<h1 class="headerTitle"><%=t("coaching.title")%></h1>
	</div>
</div>

<div class="container mainContent">
	<div class="row">
		<div class="col-md-7 contenedor-main-izq">
			<p class="lead"><%=t("coaching.subtitle")%></p>
			<%=t("coaching.text.top")%>

			<h2><%=t("coaching.tabs.benefits.title")%></h2>
			<%=t("coaching.tabs.benefits.text")%>

		</div>
	</div>
	<div class="row">
		<div class="alertBox">
			<%=t("coaching.text.bottom")%>
		</div>
	</div>
<!-- 
	<div class="col-md-3">
		<%= erb :_twitter_widget, :layout => false %>
	</div>
-->
</div>	
	
