<div class="blackBg">
	<div class="header-small header-coaching"></div>
	
	<div class="header-description">
		<h1 class="headerTitle"><%=t("coaching.title")%></h1>
	</div>
</div>

<div class="container mainContent">
	<div class="row">
		<div class="col-sm-7">
			<p class="lead"><%=t("coaching.subtitle")%></p>
			<img src="/img/agilidad-organizacional.jpg" alt="Agilidad organizacional" class="agilidad-image visible-xs">
			<%=t("coaching.text.top")%>
		</div>
		<div class="col-sm-4 col-sm-push-1">
			<img src="/img/agilidad-organizacional.jpg" alt="Agilidad organizacional" class="agilidad-image hidden-xs">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 contenedor-main-izq">
			<%=t("coaching.text.middle")%>
			<h2><%=t("coaching.tabs.benefits.title")%></h2>
			<%=t("coaching.tabs.benefits.text")%>

		</div>
	</div>
	<div class="row">
		<div class="alertBox">
			<%=t("coaching.text.bottom")%>
		</div>
	</div>
<!-- 
	<div class="col-md-3">
		<%= erb :_twitter_widget, :layout => false %>
	</div>
-->
</div>	
	
