<div class="blackBg">
	<div class="header-coaching"></div>
	<h1 class="headerTitle"><%=t("coaching.title")%></h1>
</div>

<div class="container mainContent">
	<div class="col-md-12 contenedor-main-izq">
		<p class="lead"><%=t("coaching.subtitle")%></p>
		<%=t("coaching.text.top")%>

		<h2><%=t("coaching.tabs.benefits.title")%></h2>
		<%=t("coaching.tabs.benefits.text")%>

		<h2><%=t("coaching.tabs.characteristics.title")%></h2>
		<%=t("coaching.tabs.characteristics.text")%>

		<div class="alertBox">
			<%=t("coaching.text.bottom")%>
		</div>

	</div>
<!-- 
	<div class="col-md-3">
		<%= erb :_twitter_widget, :layout => false %>
	</div>
-->
</div>	
	
