<div class="blackBg">
	<div class="header-small header-publicamos"></div>

	<div class="header-description">
		<h1 class="headerTitle"><%=t("books.title")%></h1>
	</div>
</div>

<div class="vSpace"></div>

<div class="container mainContent">

	<div class="col-md-9 no-hpadding contenedor-main-izq">
		<h4><%=t("books.description")%></h4><br/>
		&nbsp;<br/>

        <% 
        indice=0
        @books.each do |book_loc|
        book= book_loc[session[:locale]]%>
        <%if indice ==0%>
		<div class="container-fluid">
        <%end%>
			<div class="col-md-4">
                <%if book['id']!= ""%>
                    <a id="<%=book['id']%>"></a>
                <%end%>
                <%if book['landing']!= ""%>
                    <a id="<%=book['landing']%>">
                <%end%>
				<p class="book-cover"><img src="<%= book['cover']%>" class="img-rounded"></p>
                <%if book['landing']!= ""%>
                    </a>
                <%end%>
                
				<div class="well well-small book-description">
					<h4><%=book['title']%></h4>
					<p><%=book['description']%></p>
					<p><a class="pay_tweet_like_button" target="_bank" href="<%= book['buy']%>"><%=book['button']%></a></p>
				</div>
			</div>
        <%if indice==2%>
			</div>
        <%end
        indice= (indice+1) % 3
        end
        %>
        <%if indice>0%>
			</div>
        <%end%>
	</div>

	<div class="col-md-3">
		<%= erb :_twitter_widget, :layout => false %>
	</div>

</div>
