<style>
	body {
		background: url(/img/fondos/fondo-08.jpg) no-repeat center center fixed; 
	}
</style>
<script type="text/javascript" src="/js/jquery.js"/></script>

<div class="row-fluid">
	<div class="span9" style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<div class="row-fluid">
			<div class="span3">
				<a href="/<%=session[:locale]%>/publicamos/mas-productivos"><p align="center"><img src="/img/ebooks/mas-productivos.jpg" class="img-rounded"></p></a>
			</div>
			<div class="span9">
				<h1><%=t("books.books.mas_productivos.title")%></h1>
				<h2><i><%=t("books.books.mas_productivos.subtitle")%></i></h2>
				<div class="well well-small">
					<p><%=t("books.books.mas_productivos.long_text")%></p>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span3 offset4" style="text-align:center;">
				Kindle<br/>
					<%= external_url_anchor "https://www.amazon.com/dp/B00IKUCZDC"%><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				<%=t("books.books.mas_productivos.download.pdf")%><br/>
					<iframe src="https://www.paywithatweet.com/dlbutton01.php?id=c008b0c3-e434-4bc8-a6a8-de07a96e85b8" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
			</div>
		</div>
		&nbsp;
		<hr/>
	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-05.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
