<div class=" fondo-amarillo slide-evento-gratuito">
	<div class="container">
		<h2><%=t("event.free")%></h2>
	</div>
</div>
<% elsif @event.show_pricing %>
<div class=" fondo-amarillo slide-evento-pricing">
	<div class="container">

		<!-- small (sm), medium (md) y large (lg) logistics -->
		<div class=" hidden-xs">

			<div class="col-md-3 col-sm-4">
				&nbsp;
			</div>

			<div class="col-md-9 col-sm-8 no-hpadding">

					<h2>
						<%=t("event.pricing")%>:
						<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
						<%= money_format(@event.list_price) %>

						<span class="btn-buy">
							<%if @event.is_sold_out %>
								<a href="#" class="btn btn-danger btn-kleer btn-caps">
									<%=t("general.buttons.complete")%>
								</a>
							<% else %>
								<%
								if @event.is_community_event
									button_text = t("general.buttons.register")
								else
									button_text = t("general.buttons.i_am_interested")
								end

								if @event.registration_link != ""
									registration_link = @event.registration_link
								else
									registration_link = "http://eventos.kleer.la/events/#{@event.id}/participants/new?lang=" + session[:locale] + @tracking_parameters
								end

								%>
								<a href="<%=registration_link%>" target="_blank" class="btn btn-success btn-kleer btn-caps">
									<%=button_text%>
								</a>
							<% end %>
						</span>
					</h2>

				<% if @event.eb_price > 0 %>
					<%=t("event.early_bird_until")%> <strong>
						<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
					</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.eb_price) %>
        	<br/>
				<% end %>

				<% if @event.couples_eb_price > 0 %>
					<%=t("event.early_bird_couples_until")%> <strong>
					<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
				</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.couples_eb_price) %><br/>
				<% end %>

        <% if @event.business_eb_price > 0 %>
        	<br/><%=t("event.ask_for_business_prices")%>
        <% end %>
			</div>
		</div>
		<!-- / small (sm), medium (md) y large (lg) logistics -->

		<!-- extra small (xs) logistics -->
		<div class=" no-hpadding visible-xs">

			<div class="col-xs-12">
				<h2><%=t("event.pricing")%>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
					<%= money_format(@event.list_price) %>

					<span class="btn-buy">
						<%if @event.is_sold_out %>
							<a href="#" class="btn btn-danger btn-kleer btn-caps">
								<%=t("general.buttons.complete")%>
							</a>
						<% else %>
							<%
							if @event.is_community_event
								button_text = t("general.buttons.register")
							else
								button_text = t("general.buttons.i_am_interested")
							end

							if @event.registration_link != ""
								registration_link = @event.registration_link
							else
								registration_link = "http://eventos.kleer.la/events/#{@event.id}/participants/new?lang=" + session[:locale] + @tracking_parameters
							end

							%>
							<a href="<%=registration_link%>" target="_blank" class="btn btn-success btn-kleer btn-caps">
								<%=button_text%>
							</a>
						<% end %>
					</span>
				</h2>

				<% if @event.eb_price > 0 %>
					<%=t("event.early_bird_until")%> <strong>
						<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
					</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.eb_price) %>
        	<br/>
				<% end %>

				<% if @event.couples_eb_price > 0 %>
					<%=t("event.early_bird_couples_until")%> <strong>
					<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
				</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.couples_eb_price) %><br/>
				<% end %>

        <% if @event.business_eb_price > 0 %>
        	<br/>&nbsp;
        	<br/><%=t("event.ask_for_business_prices")%>
        <% end %>
			</div>

		</div>
	</div>
</div>
