<div class="blackBg withSubtitleAndDescription">

	<div class="header-small header-courses"></div>

	<div class="header-description">

		<h3 class="headerTitle"><%= @event.event_type.name %></h3>
		<p class="headerSubtitle">
			<%if !@event.event_type.subtitle.nil? && !@event.event_type.subtitle.empty?%>
				<%=@event.event_type.subtitle%>
			<%end%>
			<% if @event.is_online %>
			Online,
			<% elsif @event.is_classroom %>
			Presencial,
			<% elsif @event.is_blended_learning %>
			Presencial + Online,
			<% end %>
			<%= @event.event_type.duration%> <%=t("event.duration")%>
		</p>
	</div>
</div>

<% if @event.list_price == 0.0  %>
	<%= erb :event_register_pricing %>
<% end %>

<%= erb :event_partial_logistics %>

<% if ! @event.show_pricing %>
	<%= erb :event_register_only %>
<% end %>


<!-- =================== DETAILS ======================== -->

<div class=" fondo-blanco">
	<div class="container">
		<div class="col-md-8 event-program-column evento-description-container">
			<% if @event.banner_text != "" %>
 				&nbsp;
 				<div class="alert alert-<%= (@event.banner_type != "") ? @event.banner_type : "danger" %>">
 				  <%=@markdown_renderer.render( @event.banner_text )%>
 				</div>
 			<% end %>
			<h2><%=t("event.tabs.description")%></h2>
			<%=@markdown_renderer.render( @event.event_type.description )%>
		</div>
		<% if !@event.specific_conditions.nil? && @event.specific_conditions.strip != "" %>
			<div class="col-md-4 event-important-column">
				<div class="post-it-success">
					<h3><%=t("event.important")%></h3>
				</div>
				<%=@markdown_renderer.render( @event.specific_conditions )%>
			</div>
		<% end %>
	</div>
</div>

<div class=" fondo-celeste">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-4">
				<img src="/img/personajes/03_03_web.png" class="img-responsive"/>
			</div>
			<div class="col-md-4">
				<% if !@event.event_type.learnings.nil? && @event.event_type.learnings != "" %>
					<h2><%=t("event.details.sections.learnings")%></h2>
					<%=@markdown_renderer.render( @event.event_type.learnings )%>
				<% end %>
			</div>
			<div class="col-md-4">
				<% if !@event.event_type.takeaways.nil? && @event.event_type.takeaways != "" %>
					<h2><%=t("event.details.sections.takeaways")%></h2>
				    <%=@markdown_renderer.render( @event.event_type.takeaways )%>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class=" fondo-blanco">
	<div class="container">
		<div class=" event-target-column">
			<div class="col-md-6">
				<h2><%=t("event.tabs.target")%></h2>
				<%=@markdown_renderer.render( @event.event_type.recipients )%>
			</div>
			<div class="col-md-6 event-program-column">
				<h2><%=t("event.tabs.program")%></h2>
				<%=@markdown_renderer.render( @event.event_type.program )%>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-amarillo">
	<div class="container">
		<div class=" col-md-10 col-md-offset-1 slide-evento-aprovecha text-center">
			APROVECHA ESTA OPORTUNIDAD PARA APRENDER EN UN ENTORNO DONDE EL PROTAGONISTA ERES TÚ<br/>
			<br/>
			<%if @event.is_sold_out %>
				<a href="#" class="btn btn-danger btn-kleer btn-caps">
					<%=t("general.buttons.complete")%>
				</a>
			<% else %>
				<%
				if @event.is_community_event
					button_text = t("general.buttons.register")
				else
					button_text = t("general.buttons.i_am_interested")
				end

				if @event.registration_link != ""
					registration_link = @event.registration_link
				else
					registration_link = "http://eventos.kleer.la/events/#{@event.id}/participants/new?lang=" + session[:locale] + @tracking_parameters
				end

				%>
				<a href="<%=registration_link%>" target="_blank" class="btn btn-success btn-kleer btn-caps">
					<%=button_text%>
				</a>
			<% end %>
		</div>
	</div>
</div>

<% if !@event.event_type.faqs.nil? && @event.event_type.faqs.strip != "" %>
<div class=" fondo-blanco">
	<div class="container">
		<div class=" col-md-10 col-md-offset-1">
			<h2><%=t("event.tabs.faqs")%></h2>
			<%=@markdown_renderer.render( @event.event_type.faqs )%>
		</div>
	</div>
</div>
<% end %>

<div class=" fondo-pano pano-9"></div>

<!-- ######################### EVENTER VIEW #################### -->
<img src="http://eventos.kleer.la/events/<%=@event.id%>/viewed.gif?lang=<%=session[:locale]%><%=@tracking_parameters%>" width="1px" height="1px" onerror='this.style.display = "none"'/>
