<div class="blackBg withSubtitleAndDescription">

	<div class="header-small header-courses"></div>

	<div class="header-description">

		<h3 class="headerTitle"><%= @event.event_type.name %></h3>
		<p class="headerSubtitle">
			<%if !@event.event_type.subtitle.nil? && !@event.event_type.subtitle.empty?%>
				<%=@event.event_type.subtitle%>
			<%end%>
			<% if @event.is_online %>
			Online,
			<% elsif @event.is_classroom %>
			Presencial,
			<% elsif @event.is_blended_learning %>
			Presencial + Online,
			<% end %>
			<%= @event.event_type.duration%> <%=t("event.duration")%>
			<%if !@event.specific_subtitle.empty?%>
				<br/><%= @event.specific_subtitle %>
			<% end %>
		</p>
	</div>
</div>

<%= erb :event_register_pricing %>

<%= erb :event_partial_logistics %>

<% if ! @event.show_pricing %>
	<%= erb :event_register_only %>
<% end %>


<!-- =================== DETAILS ======================== -->

<div class=" fondo-blanco">
	<div class="container">
		<div class="col-md-8 event-program-column evento-description-container">
			<% if @event.banner_text != "" %>
 				&nbsp;
 				<div class="alert alert-<%= (@event.banner_type != "") ? @event.banner_type : "danger" %>">
 				  <%=@markdown_renderer.render( @event.banner_text )%>
 				</div>
 			<% end %>
			<h2><%=t("event.tabs.description")%></h2>
			<%=@markdown_renderer.render( @event.event_type.description )%>


			<!--TESTIMONIALS-->
			<!--<h3>Testimonios de participantes</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="testimonial-wrapper">
						<div class="testimonial"><i class="fa fa-quote-left" aria-hidden="true"></i>
Realmente despiertas a un paradigma de evolución constante, tanto personal como organizacional.<i class="fa fa-quote-right" aria-hidden="true"></i></div>
						<div class="media">
							<div class="media-body">
								<div class="overview">
									<div class="name">Juan Carlos Ribera Vaca</div>
									<div class="details">Cochabamba, BO</div>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
								</div>										
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="testimonial-wrapper">
						<div class="testimonial"><i class="fa fa-quote-left" aria-hidden="true"></i>Se hace el curso pensando en la certificación y al final se ve que es muy valioso a nivel personal y profesional.<i class="fa fa-quote-right" aria-hidden="true"></i></div>
						<div class="media">
							<div class="media-body">
								<div class="overview">
									<div class="name">Luisa Fernanda Sepulveda Osorio</div>
									<div class="details">Bogotá, CO</div>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
								</div>										
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="testimonial-wrapper">
						<div class="testimonial"><i class="fa fa-quote-left" aria-hidden="true"></i>Entiendo el valor del framework pero gracias al curso salgo MUY MOTIVADO para ponerlo en práctica YA.<i class="fa fa-quote-right" aria-hidden="true"></i></div>
						<div class="media">
							<div class="media-body">
								<div class="overview">
									<div class="name">Juan Daza</div>
									<div class="details">Bogotá, Co</div>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
											<i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
									</div>
								</div>										
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="testimonial-wrapper">
						<div class="testimonial"><i class="fa fa-quote-left" aria-hidden="true"></i>Una experiencia muy valiosa y la capacidad de aprendizaje asombroza, Martin es un muy buen entrenador.<i class="fa fa-quote-right" aria-hidden="true"></i></div>
						<div class="media">
							<div class="media-body">
								<div class="overview">
									<div class="name">Pamela Contretas</div>
									<div class="details">Lima, PE</div>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
								</div>										
							</div>
						</div>
					</div>
				</div>
			</div>-->
            <!--END TESTIMONIALS-->
		</div>
		<% if !@event.specific_conditions.nil? && @event.specific_conditions.strip != "" %>
			<div class="col-md-4 event-important-column">
				<div class="post-it-success">
					<h3><%=t("event.important")%></h3>
				</div>
				<%=@markdown_renderer.render( @event.specific_conditions )%>
			</div>
		<% end %>
	</div>
</div>

<div class=" fondo-celeste">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-4">
				<img src="/img/personajes/cursos.svg" class="img-responsive"/>
			</div>
			<div class="col-md-4">
				<% if !@event.event_type.learnings.nil? && @event.event_type.learnings != "" %>
					<h2><%=t("event.details.sections.learnings")%></h2>
					<%=@markdown_renderer.render( @event.event_type.learnings )%>
				<% end %>
			</div>
			<div class="col-md-4">
				<% if !@event.event_type.takeaways.nil? && @event.event_type.takeaways != "" %>
					<h2><%=t("event.details.sections.takeaways")%></h2>
				    <%=@markdown_renderer.render( @event.event_type.takeaways )%>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class=" fondo-blanco">
	<div class="container">
		<div class=" event-target-column">
			<div class="col-md-6">
				<h2><%=t("event.tabs.target")%></h2>
				<%=@markdown_renderer.render( @event.event_type.recipients )%>
			</div>
			<div class="col-md-6 event-program-column">
				<h2><%=t("event.tabs.program")%></h2>
				<%=@markdown_renderer.render( @event.event_type.program )%>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-amarillo">
	<div class="container">
		<div class=" col-md-10 col-md-offset-1 slide-evento-aprovecha text-center">
			APROVECHA ESTA OPORTUNIDAD PARA APRENDER EN UN ENTORNO DONDE EL PROTAGONISTA ERES TÚ<br/>
			<br/>
			<%= erb :event_register_inscription_options %>			
		</div>
	</div>
</div>

<% if !@event.event_type.faqs.nil? && @event.event_type.faqs.strip != "" %>
<div class=" fondo-blanco">
	<div class="container">
		<div class=" col-md-10 col-md-offset-1">
			<h2><%=t("event.tabs.faqs")%></h2>
			<%=@markdown_renderer.render( @event.event_type.faqs )%>
		</div>
	</div>
</div>
<% end %>

<div class=" fondo-pano pano-9"></div>

<!-- ######################### EVENTER VIEW #################### -->
<% url = ENV['KEVENTER_URL'] || "http://eventos.kleer.la" %>
<img style="display:none" src=<%= url %>/events/<%=@event.id%>/viewed.gif?lang=<%=session[:locale]%><%=@tracking_parameters%>" width="1px" height="1px" onerror='this.style.display = "none"'/>
