<%
  # Setting flags to take decisions
  @online_only = true
  @same_trainer = true
  first_trainer = @event_type.public_editions[0].trainers[0].name
  counter = 0

  @event_type.public_editions.each do |event|
    if !event.online?
      @online_only = false
    end
    if event.trainers[0].name != first_trainer
      @same_trainer = false
    end
  end
%>

<% if @same_trainer %>
  <div class="fondo-marron slide-evento-logistics first-slide">
    <div class="container">
      <div class="row">
          <% @event = @event_type.public_editions[0] %>
          <%= erb :'_events/_with_cotrainer' %>
      </div>
    </div>
  </div>
<% end %>

<% @event_type.public_editions.each do |event| %>
  <!-- Definido para llamadas a componentes -->
  <% @event = event %>

  <% if counter % 2 == 0 %>
    <div class="fondo-amarillo slide-evento-logistics">
  <% else %>
    <div class="fondo-rosa slide-evento-logistics">
  <% end %>

    <div class="text-center">

      <div class="row logistic-indicator">
        <div class="col-xs-5 col-sm-3">

          <!-- Fechas -->
          <%
          date_line = "<table border=\"0\" align=\"center\" cellpadding=\"2\"><tr>"
          if event.date != event.finish_date && !event.finish_date.nil?
            post_it_width = "80px;"
            date_line += "<td>#{event.date.strftime("%d")}</td>"
            date_line += "<td rowspan=2>&nbsp;-&nbsp;</td>"
            date_line += "<td>#{event.finish_date.strftime("%d")}</td>"
            date_line += "</tr><tr>"
            date_line += "<td>#{month_es(event.date.strftime("%b"))}</td>"
            date_line += "<td>#{month_es(event.finish_date.strftime("%b"))}</td>"
          else
            post_it_width = "40px;"
            date_line += "<td>#{event.date.strftime("%d")}</td>"
            date_line += "</tr><tr>"
            date_line += "<td>#{month_es(event.date.strftime("%b"))}</td>"
          end
          date_line += "</tr></table>"
          %>

          <div class="wrap-info">
            <div class="klabel-calendar"><%=date_line%></div>

            <!-- botón INFO solamente si hay algo condiciones especificas del evento -->
            <% info_popup = !@event.specific_conditions.nil? && @event.specific_conditions.strip != "" %>
            <% if info_popup %>
              <!-- id para el popup, Titulo y texto (html) -->
              <% info_name = "info_#{counter}" %>
              <% info_title = t("event.important") %>
              <% info_text = @markdown_renderer.render( @event.specific_conditions.to_s ) %>
              <button type="button" class="btn btn-kleer btn-small" data-toggle="modal" data-target="#<%= info_name %>">
              <i class="fa fa-info"></i></button>
            <% end %>
            
          </div>
        </div>

        <!-- Horario -->
        <div class="col-xs-7 col-sm-2">
          <%=t("event.time", :starts => event.start_time.strftime("%k:%M"), :ends => event.end_time.strftime("%k:%M") )%>
          <% if event.online? || event.blended_learning? %>
            <br/><a href="<%= event.timezone_url%>">
            <%=event.place%>
            </a>
          <% end %>
        </div>

        <!-- Precio -->
        <div class="col-xs-7 col-xs-offset-5 col-sm-offset-0 col-sm-2">
          <% if @event.show_pricing %>
            <strong>
            <%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
            <%= money_format(@event.list_price) %></strong><br/>
          <% else %>
            &nbsp;
          <% end %>
        </div>

        <!-- Early Bird -->
        <div class="col-xs-7 col-xs-offset-5 col-sm-offset-0 col-sm-2 less-price">
          <% if @event.show_pricing && @event.eb_price > 0 %>
              <%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
              <%= money_format(@event.eb_price) %><br/>

              <%=t("event.early_bird_until")%> 
              <strong>
                <%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
              </strong>
          <% else %>
            &nbsp;
          <% end %>
        </div>

        <!-- boton -->
        <div class="col-xs-12 col-sm-3">
          <span class="btn-buy"> <%= erb :event_type_p_register %> </span>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="<%= info_name %>" tabindex="-1" role="dialog" aria-labelledby="Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal_<%= info_name %>">
              <%= info_title %>
          </h4>
        </div>
        <div class="modal-body">
          <%= info_text %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-kleer" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <% counter += 1 %>
<% end %>
