<!-- TITULO -->
<div class="blackBg withSubtitleAndDescription">
	<div class="header-small header-courses"></div>
	<div class="header-description">
		  <h1 class="headerTitle"><%= @event_type.name %></h1>
	</div>
</div>

<div class="container-fluid">
  <!-- EDICIONES ABIERTAS -->
  <div>
    <% if @event_type.public_editions.size > 0 %>
        <h2><%=t("event.public_editions")%></h2>
        <%= erb :event_type_p_editions %>
    <% else %>
        &nbsp; <br/>
    <% end %>

    <!-- PEDIDOS IN-COMPANY -->
    <div class="fondo-marron slide-evento-logistics in-company">
      <div class="container">
            <!-- id para el popup, Titulo y texto (html) -->
            <% #info_title = t("event.important") %>
            <% #info_text = @markdown_renderer.render( @event.specific_conditions.to_s ) %>
            <button type="button" class="btn btn-kleer btn-small" data-toggle="modal" 
            data-target="#event_type_contact">
            <%=t("mail_landing.title")%></button>
      </div>
    </div>

  <!-- Modal Info -->
  <div class="modal fade" id="event_type_contact" tabindex="-1" role="dialog" aria-labelledby="Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold"> Consultas del Curso</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/cursos2/339-comunicacion-colaborativa" id="event_type_contact_form">
        <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <input type="text" required="required" class="form-control validate" placeholder="* nombre" name="participant_name" id="participant_name"/>
            </div>
            <div class="md-form mb-5">
              <input type="email" required="required" class="form-control validate" placeholder="* e-mail" email="participant_email" id="participant_email"/>
            </div>
            <div class="md-form mb-5">
            <%# <input type="text" required="required" class="form-control validate" placeholder="* país" id="participant_country"/> %>
          <input list="country" required="required"placeholder="* país" class="form-control validate"  name="participant_country" id="participant_country">
          <datalist id="country">
              <option value="Afghanistan">
              </option><option value="Albania">
              </option><option value="Algeria">
              </option><option value="American Samoa">
              </option><option value="Andorra">
              </option><option value="Angola">
              </option><option value="Anguilla">
              </option><option value="Antarctica">
              </option><option value="Antigua and Barbuda">
              </option><option value="Argentina">
              </option><option value="Armenia">
              </option><option value="Aruba">
              </option><option value="Australia">
              </option><option value="Austria">
              </option><option value="Azerbaijan">
              </option><option value="Bahamas">
              </option><option value="Bahrain">
              </option><option value="Bangladesh">
              </option><option value="Barbados">
              </option><option value="Belarus">
              </option><option value="Belgium">
              </option><option value="Belize">
              </option><option value="Benin">
              </option><option value="Bermuda">
              </option><option value="Bhutan">
              </option><option value="Bolivia">
              </option><option value="Bosnia and Herzegovina">
              </option><option value="Botswana">
              </option><option value="Bouvet Island">
              </option><option value="Brazil">
              </option><option value="British Indian Ocean Territory">
              </option><option value="Brunei Darussalam">
              </option><option value="Bulgaria">
              </option><option value="Burkina Faso">
              </option><option value="Burundi">
              </option><option value="Cambodia">
              </option><option value="Cameroon">
              </option><option value="Canada">
              </option><option value="Cape Verde">
              </option><option value="Cayman Islands">
              </option><option value="Central African Republic">
              </option><option value="Chad">
              </option><option value="Chile">
              </option><option value="China">
              </option><option value="Christmas Island">
              </option><option value="Cocos (Keeling) Islands">
              </option><option value="Colombia">
              </option><option value="Comoros">
              </option><option value="Congo">
              </option><option value="Congo, The Democratic Republic of The">
              </option><option value="Cook Islands">
              </option><option value="Costa Rica">
              </option><option value="Cote D'ivoire">
              </option><option value="Croatia">
              </option><option value="Cuba">
              </option><option value="Cyprus">
              </option><option value="Czech Republic">
              </option><option value="Denmark">
              </option><option value="Djibouti">
              </option><option value="Dominica">
              </option><option value="Dominican Republic">
              </option><option value="Ecuador">
              </option><option value="Egypt">
              </option><option value="El Salvador">
              </option><option value="Equatorial Guinea">
              </option><option value="Eritrea">
              </option><option value="Estonia">
              </option><option value="Ethiopia">
              </option><option value="Falkland Islands (Malvinas)">
              </option><option value="Faroe Islands">
              </option><option value="Fiji">
              </option><option value="Finland">
              </option><option value="France">
              </option><option value="French Guiana">
              </option><option value="French Polynesia">
              </option><option value="French Southern Territories">
              </option><option value="Gabon">
              </option><option value="Gambia">
              </option><option value="Georgia">
              </option><option value="Germany">
              </option><option value="Ghana">
              </option><option value="Gibraltar">
              </option><option value="Greece">
              </option><option value="Greenland">
              </option><option value="Grenada">
              </option><option value="Guadeloupe">
              </option><option value="Guam">
              </option><option value="Guatemala">
              </option><option value="Guinea">
              </option><option value="Guinea-bissau">
              </option><option value="Guyana">
              </option><option value="Haiti">
              </option><option value="Heard Island and Mcdonald Islands">
              </option><option value="Holy See (Vatican City State)">
              </option><option value="Honduras">
              </option><option value="Hong Kong">
              </option><option value="Hungary">
              </option><option value="Iceland">
              </option><option value="India">
              </option><option value="Indonesia">
              </option><option value="Iran, Islamic Republic of">
              </option><option value="Iraq">
              </option><option value="Ireland">
              </option><option value="Israel">
              </option><option value="Italy">
              </option><option value="Jamaica">
              </option><option value="Japan">
              </option><option value="Jordan">
              </option><option value="Kazakhstan">
              </option><option value="Kenya">
              </option><option value="Kiribati">
              </option><option value="Korea, Democratic People's Republic of">
              </option><option value="Korea, Republic of">
              </option><option value="Kuwait">
              </option><option value="Kyrgyzstan">
              </option><option value="Lao People's Democratic Republic">
              </option><option value="Latvia">
              </option><option value="Lebanon">
              </option><option value="Lesotho">
              </option><option value="Liberia">
              </option><option value="Libyan Arab Jamahiriya">
              </option><option value="Liechtenstein">
              </option><option value="Lithuania">
              </option><option value="Luxembourg">
              </option><option value="Macao">
              </option><option value="Macedonia, The Former Yugoslav Republic of">
              </option><option value="Madagascar">
              </option><option value="Malawi">
              </option><option value="Malaysia">
              </option><option value="Maldives">
              </option><option value="Mali">
              </option><option value="Malta">
              </option><option value="Marshall Islands">
              </option><option value="Martinique">
              </option><option value="Mauritania">
              </option><option value="Mauritius">
              </option><option value="Mayotte">
              </option><option value="Mexico">
              </option><option value="Micronesia, Federated States of">
              </option><option value="Moldova, Republic of">
              </option><option value="Monaco">
              </option><option value="Mongolia">
              </option><option value="Montserrat">
              </option><option value="Morocco">
              </option><option value="Mozambique">
              </option><option value="Myanmar">
              </option><option value="Namibia">
              </option><option value="Nauru">
              </option><option value="Nepal">
              </option><option value="Netherlands">
              </option><option value="Netherlands Antilles">
              </option><option value="New Caledonia">
              </option><option value="New Zealand">
              </option><option value="Nicaragua">
              </option><option value="Niger">
              </option><option value="Nigeria">
              </option><option value="Niue">
              </option><option value="Norfolk Island">
              </option><option value="Northern Mariana Islands">
              </option><option value="Norway">
              </option><option value="Oman">
              </option><option value="Pakistan">
              </option><option value="Palau">
              </option><option value="Palestinian Territory, Occupied">
              </option><option value="Panama">
              </option><option value="Papua New Guinea">
              </option><option value="Paraguay">
              </option><option value="Peru">
              </option><option value="Philippines">
              </option><option value="Pitcairn">
              </option><option value="Poland">
              </option><option value="Portugal">
              </option><option value="Puerto Rico">
              </option><option value="Qatar">
              </option><option value="Reunion">
              </option><option value="Romania">
              </option><option value="Russian Federation">
              </option><option value="Rwanda">
              </option><option value="Saint Helena">
              </option><option value="Saint Kitts and Nevis">
              </option><option value="Saint Lucia">
              </option><option value="Saint Pierre and Miquelon">
              </option><option value="Saint Vincent and The Grenadines">
              </option><option value="Samoa">
              </option><option value="San Marino">
              </option><option value="Sao Tome and Principe">
              </option><option value="Saudi Arabia">
              </option><option value="Senegal">
              </option><option value="Serbia and Montenegro">
              </option><option value="Seychelles">
              </option><option value="Sierra Leone">
              </option><option value="Singapore">
              </option><option value="Slovakia">
              </option><option value="Slovenia">
              </option><option value="Solomon Islands">
              </option><option value="Somalia">
              </option><option value="South Africa">
              </option><option value="South Georgia and The South Sandwich Islands">
              </option><option value="Spain">
              </option><option value="Sri Lanka">
              </option><option value="Sudan">
              </option><option value="Suriname">
              </option><option value="Svalbard and Jan Mayen">
              </option><option value="Swaziland">
              </option><option value="Sweden">
              </option><option value="Switzerland">
              </option><option value="Syrian Arab Republic">
              </option><option value="Taiwan, Province of China">
              </option><option value="Tajikistan">
              </option><option value="Tanzania, United Republic of">
              </option><option value="Thailand">
              </option><option value="Timor-leste">
              </option><option value="Togo">
              </option><option value="Tokelau">
              </option><option value="Tonga">
              </option><option value="Trinidad and Tobago">
              </option><option value="Tunisia">
              </option><option value="Turkey">
              </option><option value="Turkmenistan">
              </option><option value="Turks and Caicos Islands">
              </option><option value="Tuvalu">
              </option><option value="Uganda">
              </option><option value="Ukraine">
              </option><option value="United Arab Emirates">
              </option><option value="United Kingdom">
              </option><option value="United States">
              </option><option value="United States Minor Outlying Islands">
              </option><option value="Uruguay">
              </option><option value="Uzbekistan">
              </option><option value="Vanuatu">
              </option><option value="Venezuela">
              </option><option value="Viet Nam">
              </option><option value="Virgin Islands, British">
              </option><option value="Virgin Islands, U.S">
              </option><option value="Wallis and Futuna">
              </option><option value="Western Sahara">
              </option><option value="Yemen">
              </option><option value="Zambia">
              </option><option value="Zimbabwe">
          </option></datalist>
            </div>
            <div class="md-form mb-5">
            <input type="number" required="required" class="form-control validate" placeholder="* para cuantas personas" name="participant_number" id="participant_number"
             min="1" max="5"/>
            </div>
            <div class="md-form">
            <textarea type="text" class="md-textarea form-control" placeholder="Contanos tu consulta" rows="2" name="participant_notes" id="participant_notes"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-kleer" id="contact_send">Enviar</button> 
        </form>
        <div id="message" hidden>
            Recibimos tu consulta, te responderemos en la brevedad. 
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


 <script type="text/javascript">
  var form = document.getElementById("event_type_contact_form");
  form.addEventListener("submit", onSubmitForm);
  function onSubmitForm(e) {
      e.preventDefault();
      var data = new FormData(form);
      fetch("/cursos/339/contact", { method: "POST", body: data });
      $('#event_type_contact').modal('hide');
      $('#contact_send').hide();
      $('#message').show();
  }
</script>

<!-- DESCRIPCIONES -->
<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="col-md-8 evento-description-container">

      <h2><i><%= @event_type.subtitle %></i></h2>
      <h3><%= @event_type.duration%> <%=t("event.duration")%></h3>
      <p class="elevatorPitch"><%= @event_type.elevator_pitch %></p>

      <%=@markdown_renderer.render( @event_type.description )%>
    </div>

    <div class="col-md-4">
      <!-- FAQ -->
      <% if !@event_type.faqs.nil? && @event_type.faqs.strip != "" %>
          <h2><%=t("event.tabs.faqs")%></h2>
          <%=@markdown_renderer.render( @event_type.faqs )%>
          <br/>&nbsp;
          <br/>&nbsp;
      <% end %>

      <!-- En la misma categoría -->
      <% if !@category.nil? %>
        &nbsp;
        <div class="well categoria-<%= @category.codename %>">
          Otros entrenamientos de esta categoría:<br/>&nbsp;
          <div class="list-group">
            <% @category.event_types.sort_by { |et| et.name}.each do |event_type| %>
              <a href="/<%=session[:locale]%>/categoria/<%=@category.codename%>/cursos/<%= event_type.uri_path%>" class="list-group-item">
                <h3 class="list-group-item-heading"><%=event_type.name%></h3>
                <p class="list-group-item-text">
                  <%=event_type.duration%> horas.
                  <% if event_type.has_rate %>
                    &nbsp;<div class="stars" id="rating<%= event_type.id %>" data-toggle="tooltip" data-placement="top" title="Rating: <%=event_type.average_rating%>/5 en base a <%=event_type.surveyed_count%> opiniones">
                      <div style="width:<%=event_type.average_rating.to_f*16%>px;"/></div>
                    </div>
                    <script type="text/javascript">
                      $(document).ready(function(){
                          $('#rating<%= event_type.id %>').tooltip();
                        });
                    </script>
                  <% end %>
                </p>
              </a>
            <% end %>
          </div>
        </div>
        &nbsp;
      <% end %>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid fondo-panramica-1"></div>

<!-- MAS DETALLES -->
<div class="container-fluid fondo-celeste">
  <div class="container">
    <div class="container-fluid col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/img/personajes/cursos.svg" class="img-responsive"/>
      </div>
      <div class="col-md-4">
        <% if !@event_type.learnings.nil? && @event_type.learnings != "" %>
          <h2><%=t("event.details.sections.learnings")%></h2>
          <%=@markdown_renderer.render( @event_type.learnings )%>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if !@event_type.takeaways.nil? && @event_type.takeaways != "" %>
          <h2><%=t("event.details.sections.takeaways")%></h2>
            <%=@markdown_renderer.render( @event_type.takeaways )%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="container-fluid event-target-column">
      <div class="col-md-6">
        <h2><%=t("event.tabs.target")%></h2>
        <%=@markdown_renderer.render( @event_type.recipients )%>
      </div>
      <div class="col-md-6 event-program-column">
        <h2><%=t("event.tabs.program")%></h2>
        <%=@markdown_renderer.render( @event_type.program )%>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-pano pano-5"></div>
