<% if @event.list_price == 0.0  %>
<div class=" fondo-amarillo slide-evento-gratuito">
	<div class="container">
		<h2><%=t("event.free")%></h2>
	</div>
</div>
<% elsif @event.show_pricing %>
<div class=" fondo-amarillo slide-evento-pricing">
	<div class="container">

		<!-- small (sm), medium (md) y large (lg) logistics -->
		<div class=" hidden-xs">

			<div class="col-md-3 col-sm-4">
				&nbsp;
			</div>

			<div class="col-md-9 col-sm-8 no-hpadding">

					<h2>
						<%=t("event.pricing")%>:
						<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
						<%= money_format(@event.list_price) %>

						<span class="btn-buy">
							<%= erb :event_register_inscription_options %>
						</span>
					</h2>

				<% if @event.eb_price > 0 %>
					<%=t("event.early_bird_until")%> <strong>
						<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
					</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.eb_price) %>
        	<br/>
				<% end %>

				<% if @event.couples_eb_price > 0 %>
					<%=t("event.early_bird_couples_until")%> <strong>
					<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
				</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.couples_eb_price) %><br/>
				<% end %>

        <% if @event.business_eb_price > 0 %>
        	<br/><%=t("event.ask_for_business_prices")%>
        <% end %>
			</div>
		</div>
		<!-- / small (sm), medium (md) y large (lg) logistics -->

		<!-- extra small (xs) logistics -->
		<div class=" no-hpadding visible-xs-block">

			<div class="col-xs-12">
				<h2><%=t("event.pricing")%>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
					<%= money_format(@event.list_price) %>
				</h2>

				<% if @event.eb_price > 0 %>
					<%=t("event.early_bird_until")%> <strong>
						<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
					</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.eb_price) %>
        	<br/>
				<% end %>

				<% if @event.couples_eb_price > 0 %>
					<%=t("event.early_bird_couples_until")%> <strong>
					<%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>
				</strong>:
					<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
        	<%= money_format(@event.couples_eb_price) %><br/>
				<% end %>

        <% if @event.business_eb_price > 0 %>
        	<br/>&nbsp;
        	<br/><%=t("event.ask_for_business_prices")%>
        <% end %>

				<span class="btn-buy">
					<%= erb :event_register_inscription_options %>
				</span>

			</div>

		</div>
	</div>
</div>
<% end %>
