<!-- TITULO -->
<div class="blackBg withSubtitleAndDescription">
	<div class="header-small header-courses"></div>
	<div class="header-description">
		  <h1 class="headerTitle"><%= @event_type.name %></h1>
	</div>
</div>

<div class="container-fluid">
  <!-- EDICIONES ABIERTAS -->
  <div>
    <% if @event_type.public_editions.size > 0 %>
        <h2><%=t("event.public_editions")%></h2>
        <%= erb :event_type_p_editions %>
    <% else %>
        &nbsp; <br/>
    <% end %>

    <!-- PEDIDOS IN-COMPANY -->
    <div class="fondo-marron slide-evento-logistics in-company">
      <div class="container">
            <a href="mailto:entrenamos@kleer.la?subject=<%= @event_type.name %>&body=<%=t("mail_scholarship.content")%>" class="btn btn-kleer btn-caps" title="<%=t("mail_scholarship.alt")%>"><%=t("mail_scholarship.title")%></a>
            <a href="mailto:entrenamos@kleer.la?subject=<%= @event_type.name %>&body=<%=t("mail_landing.content")%>" class="btn btn-kleer btn-caps" title="<%=t("mail_landing.alt")%>"><%=t("mail_landing.title")%></a>
            <br/>
      </div>
    </div>
  </div>
</div>


<!-- DESCRIPCIONES -->
<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="col-md-8 evento-description-container">

      <h2><i><%= @event_type.subtitle %></i></h2>
      <h3><%= "#{@event_type.duration} #{t('event.duration')}" if @event_type.duration > 0 %></h3>
      <p class="elevatorPitch"><%= @event_type.elevator_pitch %></p>

      <%=@markdown_renderer.render( @event_type.description )%>
    </div>

    <div class="col-md-4">
      <!-- FAQ -->
      <% if !@event_type.faq.nil? && @event_type.faq.strip != "" %>
          <h2><%=t("event.tabs.faq")%></h2>
          <%=@markdown_renderer.render( @event_type.faq )%>
          <br/>&nbsp;
          <br/>&nbsp;
      <% end %>

      <!-- En la misma categoría -->
      <% if !@category.nil? %>
        &nbsp;
        <div class="well categoria-<%= @category.codename %>">
          Otros entrenamientos de esta categoría:<br/>&nbsp;
          <div class="list-group">
            <% @category.event_types.sort_by { |et| et.name}.each do |event_type| %>
              <a href="/<%=session[:locale]%>/categoria/<%=@category.codename%>/<%= event_type.uri_path%>" class="list-group-item">
                <h3 class="list-group-item-heading"><%=event_type.name%></h3>
                <p class="list-group-item-text">
                  <%=event_type.duration%> horas.
                </p>
              </a>
            <% end %>
          </div>
        </div>
        &nbsp;
      <% end %>

      </div>
    </div>

  </div>
</div>

<div class="container-fluid fondo-panramica-1"></div>

<!-- MAS DETALLES -->
<div class="container-fluid fondo-celeste">
  <div class="container">
    <div class="container-fluid col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/img/personajes/cursos.svg" class="img-responsive hidden-in-mobile"/>
      </div>
      <div class="col-md-4">
        <% if !@event_type.learnings.nil? && @event_type.learnings != "" %>
          <h2><%=t("event.details.sections.learnings")%></h2>
          <%=@markdown_renderer.render( @event_type.learnings )%>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if !@event_type.takeaways.nil? && @event_type.takeaways != "" %>
          <h2><%=t("event.details.sections.takeaways")%></h2>
            <%=@markdown_renderer.render( @event_type.takeaways )%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="container-fluid event-target-column">
      <div class="col-md-6">
        <h2><%=t("event.tabs.target")%></h2>
        <%=@markdown_renderer.render( @event_type.recipients )%>
      </div>
      <div class="col-md-6 event-program-column">
        <h2><%=t("event.tabs.program")%></h2>
        <%=@markdown_renderer.render( @event_type.program )%>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-pano pano-5"></div>
