<!-- TITULO -->
<div class="blackBg withSubtitleAndDescription">
	<div class="header-small header-courses"></div>
	<div class="header-description">
		  <h3 class="headerTitle"><%= @event_type.name %></h3>
	</div>
</div>

<div class="container-fluid">
  <!-- EDICIONES ABIERTAS -->
  <div>
    <% if @event_type.public_editions.size > 0 %>
        <h2><%=t("event.public_editions")%></h2>
        <%= erb :event_type_p_editions %>
    <% else %>
        &nbsp; <br/>
    <% end %>

    <!-- PEDIDOS IN-COMPANY -->
    <div class="fondo-gris slide-evento-logistics in-company">
      <div class="container">
            <a href="mailto:entrenamos@kleer.la?subject=<%= @event_type.name %>&body=<%=t("mail_landing.content")%>" class="btn btn-kleer btn-caps" title="<%=t("mail_landing.alt")%>"><%=t("mail_landing.title")%></a>
            <br/>
      </div>
    </div>
  </div>
</div>


<!-- DESCRIPCIONES -->
<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="col-md-8 evento-description-container">

      <h2><i><%= @event_type.subtitle %></i></h2>
      <h3><%= @event_type.duration%> <%=t("event.duration")%></h3>
      <p class="elevatorPitch"><%= @event_type.elevator_pitch %></p>

      <h2><%=t("event.tabs.description")%></h2>
      <%=@markdown_renderer.render( @event_type.description )%>
    </div>

    <div class="col-md-4">
      <!-- FAQ -->
      <% if !@event_type.faqs.nil? && @event_type.faqs.strip != "" %>
          <h2><%=t("event.tabs.faqs")%></h2>
          <%=@markdown_renderer.render( @event_type.faqs )%>
          <br/>&nbsp;
          <br/>&nbsp;
      <% end %>

      <!-- En la misma categoría -->
      &nbsp;
      <div class="well categoria-<%= @category.codename %>">
        Otros entrenamientos de esta categoría:<br/>&nbsp;
        <div class="list-group">
          <% @category.event_types.sort_by { |et| et.name}.each do |event_type| %>
            <a href="/<%=session[:locale]%>/categoria/<%=@category.codename%>/cursos/<%= event_type.uri_path%>" class="list-group-item">
              <h3 class="list-group-item-heading"><%=event_type.name%></h3>
              <p class="list-group-item-text">
                <%=event_type.duration%> horas.
                <% if event_type.has_rate %>
                  &nbsp;<div class="stars" id="rating<%= event_type.id %>" data-toggle="tooltip" data-placement="top" title="Rating: <%=event_type.average_rating%>/5 en base a <%=event_type.surveyed_count%> opiniones">
                    <div style="width:<%=event_type.average_rating.to_f*16%>px;"/></div>
                  </div>
                  <script type="text/javascript">
                    $(document).ready(function(){
                        $('#rating<%= event_type.id %>').tooltip();
                      });
                  </script>
                <% end %>
              </p>
            </a>
          <% end %>
        </div>
      </div>
        &nbsp;
      </div>
    </div>

  </div>
</div>

<div class="container-fluid fondo-panramica-1"></div>

<!-- MAS DETALLES -->
<div class="container-fluid fondo-celeste">
  <div class="container">
    <div class="container-fluid col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/img/personajes/cursos.svg" class="img-responsive"/>
      </div>
      <div class="col-md-4">
        <% if !@event_type.learnings.nil? && @event_type.learnings != "" %>
          <h2><%=t("event.details.sections.learnings")%></h2>
          <%=@markdown_renderer.render( @event_type.learnings )%>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if !@event_type.takeaways.nil? && @event_type.takeaways != "" %>
          <h2><%=t("event.details.sections.takeaways")%></h2>
            <%=@markdown_renderer.render( @event_type.takeaways )%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="container-fluid event-target-column">
      <div class="col-md-6">
        <h2><%=t("event.tabs.target")%></h2>
        <%=@markdown_renderer.render( @event_type.recipients )%>
      </div>
      <div class="col-md-6 event-program-column">
        <h2><%=t("event.tabs.program")%></h2>
        <%=@markdown_renderer.render( @event_type.program )%>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-pano pano-5"></div>
