<div class="blackBg">
	<div class="header-small header-facilitacion-grafica"></div>
	
	<div class="header-description">
		<h1 class="headerTitle"><%=t("facilitation.services.graphic.title")%></h1>
	</div>

</div>

<div class="container-fluid fondo-verde">
    
    <div class="vSpace"></div>
    <div class="vSpace"></div>

    <div class="container">

        <h2 class="text-center"><%=t("facilitation.services.graphic.title")%></h2>
        <h3 class="text-center"><%=t("facilitation.graphic.text")%></h3>
    
    </div>

    <div class="vSpace"></div>
    <div class="vSpace"></div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container-fluid containerWithPadding text-center">
	<div class="container">

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3><%=t("facilitation.graphic.documents.title")%></h3>

            <p><%=t("facilitation.graphic.documents.text")%></p>
            <p><a href="mailto:facilitadores@kleer.la" class='btn btn-info btn-kleer'><%=t("facilitation.graphic.button")%></a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3><%=t("facilitation.graphic.workshops.title")%></h3>

            <p><%=t("facilitation.graphic.workshops.text")%></p>
            <p><a href="mailto:facilitadores@kleer.la" class='btn btn-info btn-kleer'><%=t("facilitation.graphic.button")%></a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3><%=t("facilitation.graphic.posters.title")%></h3>

            <p><%=t("facilitation.graphic.posters.text")%></p>
            <p><a href="mailto:facilitadores@kleer.la" class='btn btn-info btn-kleer'><%=t("facilitation.graphic.button")%></a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3><%=t("facilitation.graphic.videos.title")%></h3>

            <p><%=t("facilitation.graphic.videos.text")%></p>
            <p><a href="mailto:facilitadores@kleer.la" class='btn btn-info btn-kleer'><%=t("facilitation.graphic.button")%></a></p>
		</div>

	</div>
</div>

<div class="container-fluid fondo-pano pano-9"></div>

<div class="container-fluid fondo-rosa containerWithPadding text-center text-white">
	<div class="container">
		<div class="col-md-12"><p><%=t("facilitation.contact")%></p></div>
		<div class="col-md-12"><a href="mailto:facilitadores@kleer.la" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a></div>
	</div>
</div>