<div class="blackBg">
	<div class="header-small header-facilitacion"></div>

	<div class="header-description">
		<h1 class="headerTitle"><%=t("facilitation.title")%></h1>
	</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="text-center"><%=t("facilitation.subtitle")%></h2>
				<h3 class="text-center title-somos"><%=t("facilitation.description")%></h3>
			</div>
		</div>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container-fluid fondo-amarillo containerWithPadding">
	<div class="container">

		<div class="col-md-4">
			<ul class="featured-icons">
				<li><img src="/app/img/open-space-ico.jpg" alt="Open Space"></li>
				<li><img src="/app/img/fg-ico.jpg" alt="Facilitación Gráfica"></li>
				<li><img src="/app/img/hack-ico.jpg" alt="Hackathon"></li>
				<li><img src="/app/img/innovacion-ico.jpg" alt="Innovación/Estrategia"></li>
			</ul>
		</div>

		<div class="col-md-8">
			<h2><%=t("facilitation.event.title")%></h2>

			<p><%=t("facilitation.event.text")%></p>

		</div>

	</div>
</div>

<div class="containerWithPadding text-center">

	<div class="container">

		<h2><%=t("facilitation.services.title")%></h2>

		<div class="row">
			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion01.png" alt="Facilitación gráfica">
				<h3><%=t("facilitation.services.graphic.title")%></h3>

				<p><%=t("facilitation.services.graphic.text")%></p>

				<%=t("facilitation.services.graphic.button")%>

			</div>

			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion02.jpg" alt="Innovación y creatividad">
				<h3><%=t("facilitation.services.innovation.title")%></h3>

				<p><%=t("facilitation.services.innovation.text")%></p>

				<%=t("facilitation.services.innovation.button")%>

			</div>

		</div>

		<div class="row">

			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion03.png" alt="Planificación estratégica">
				<h3><%=t("facilitation.services.planning.title")%></h3>

				<p><%=t("facilitation.services.planning.text")%></p>

				<%=t("facilitation.services.planning.button")%>

			</div>

			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion04.jpg" alt="Dinámicas y eventos">
				<h3><%=t("facilitation.services.dynamics.title")%></h3>

				<p><%=t("facilitation.services.dynamics.text")%></p>

				<%=t("facilitation.services.dynamics.button")%>

			</div>

		</div>

	</div>

</div>

<div class="container-fluid fondo-pano pano-9"></div>

<div class="container-fluid fondo-rosa containerWithPadding text-center text-white">
	<div class="container">
		<div class="col-md-12"><p><%=t("facilitation.contact")%></p></div>
		<div class="col-md-12"><a href="mailto:facilitadores@kleer.la" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a></div>
	</div>
</div>
