<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Mauro Strione - www.innqube.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%=@meta_description%>">
  <meta name="keywords" content="<%=@meta_keywords%>">
  <meta name="robots" content="noarchive">

  <title><%=@page_title%></title>

	<link rel="shortcut icon" href="/img/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" type="text/css">
  <link href="/app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->


  <!-- build:css(.tmp) styles/main.css -->
  <link href="/app/css/kleer.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400i" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <script src="/app/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/app/vendor/scrollreveal.min.js" type="text/javascript"></script>
    <script src="/app/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- endbuild -->

</head>

<body ng-app="kleerApp">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->

    <!-- Menu desktop -->
  <div class="hidden-xs hidden-sm">
    <nav class="navbar navbar-default navbar-fixed-top container-fluid text-uppercase" role="navigation">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="root">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick='scrollTo2("#about");'><%=t('side_menu.we_do')%> <b class="caret"></b>
              <ul class="dropdown-menu">
                  <li><a href="/<%=session[:locale]%>/coaching"><%=t('side_menu.coaching')%></a></li>
                  <li><a href="/<%=session[:locale]%>/facilitacion"><%=t('side_menu.facilitation')%></a></li>
                  <li class="dropdown-submenu"><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
                    <ul class="dropdown-menu">
                      <li><a href="/<%=session[:locale]%>/entrenamos"><%=t('side_menu.agenda')%></a></li>
                    </ul>
                  </li>
                  <li><a href="/<%=session[:locale]%>/clientes"><%=t('side_menu.clients')%></a></li>
              </ul>
            </a>
          </li>
          <li class="root">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/<%=session[:locale]%>/publicamos"><%=t('side_menu.we_publish')%> <b class="caret"></b>
            <ul class="dropdown-menu">
              <li><a href="/<%=session[:locale]%>/libros"><%=t('side_menu.books')%></a></li>
              <li><a href="/<%=session[:locale]%>/blog"><%=t('side_menu.blog')%></a></li>
              <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><%=t('side_menu.videos')%></a></li>
            </ul>
            </a>
          </li>
          <li><a href="/<%=session[:locale]%>/somos"><%=t('side_menu.we_are')%></a></li>
          <li><a href="/<%=session[:locale]%>/#contact" onclick='scrollTo2("#contact");'><%=t('side_menu.lets_talk')%></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://facebook.com/kleer.la" target="_blank"><i class="social-icons-desktop fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/kleer_la" target="_blank"><i class="social-icons-desktop fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/541684" target="_blank"><i class="social-icons-desktop fa fa-linkedin"></i></a></li>
          <li><a href="https://plus.google.com/106280725763107001222" target="_blank"><i class="social-icons-desktop fa fa-google-plus"></i></a></li>
          <li><a href="https://github.com/kleer-la" target="_blank"><i class="social-icons-desktop fa fa-github"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><i class="social-icons-desktop fa fa-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/kleer.la/" target="_blank"><i class="social-icons-desktop fa fa-instagram"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>

  <!-- Menu lateral -->
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle visible-xs visible-sm"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">

      <div class="menu-container text-uppercase">

        <div id="logoMenu">
          <a href="/"><img src="/app/img/kleer-logo.png"></a>
        </div>

        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <ul class="sidebar-nav">

          <li><a href="javascript:void(0);" onclick='scrollTo2("#about");closeSidebar(event)'><%=t('side_menu.we_do')%></a></li>
          <li>
            <ul>
                <li><a href="/<%=session[:locale]%>/coaching"><%=t('side_menu.coaching')%></a></li>
                <li><a href="/<%=session[:locale]%>/facilitacion"><%=t('side_menu.facilitation')%></a></li>
                <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
                  <ul>
                    <li><a href="/<%=session[:locale]%>/entrenamos"><%=t('side_menu.agenda')%></a></li>
                  </ul>
                </li>
                <li><a href="/<%=session[:locale]%>/clientes"><%=t('side_menu.clients')%></a></li>
            </ul>
          </li>
          <li><a href="/<%=session[:locale]%>/publicamos"><span class="white"><%=t('side_menu.we_publish')%></span></a></li>
          <li>
            <ul>
              <li><a href="/<%=session[:locale]%>/libros"><%=t('side_menu.books')%></a></li>
              <li><a href="/<%=session[:locale]%>/blog"><%=t('side_menu.blog')%></a></li>
              <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><%=t('side_menu.videos')%></a></li>
            </ul>
          </li>
          <li><a href="/<%=session[:locale]%>/somos"><%=t('side_menu.we_are')%></a></li>
          <li><a href="/<%=session[:locale]%>/#contact" onclick='scrollTo2("#contact");closeSidebar(event)'><%=t('side_menu.lets_talk')%></a></li>

        </ul>

        <div class="social-media">
          <ul class="list-unstyled list-inline font-family-alt no-letter-spacing text-extra-large">
            <li><a href="https://facebook.com/kleer.la" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/kleer_la" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/541684" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://plus.google.com/106280725763107001222" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://github.com/kleer-la" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/kleer.la/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <span class="display-inline-block font-family-alt text-large email"><a class="lower" href="mailto:hola@kleer.la">hola@kleer.la</a></span>
        </div>

      </div>

  </nav>

  <!-- Logo Kleer -->

  <div id="logo">
    <a href="/"><img src="/app/img/kleer-logo.png"></a>
  </div>

  <!-- Márgenes -->
  <div class="margin top-margin"></div>
  <div class="margin left-margin"></div>
  <div class="margin rigth-margin"></div>
  <div class="margin bottom-margin"></div>
  <div id="top"></div>

<%= yield %>

  <!-- Footer -->
  <footer-small>
    <div class="container">

      <div class="container">

        <div class="row">
          <div class="text-center">
            <br>
            <ul class="list-inline">
              <li><a href="https://facebook.com/kleer.la" target="_blank">	<i class="fa fa-facebook fa-fw fa-2x sr-contact"></i></a></li>
              <li><a href="https://twitter.com/kleer_la" target="_blank"><i class="fa fa-twitter fa-fw fa-2x sr-contact"></i></a></li>
              <li><a href="https://www.linkedin.com/company/541684" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x sr-contact"></i></a></li>
              <li><a href="https://plus.google.com/106280725763107001222" target="_blank"><i class="fa fa-google-plus fa-fw fa-2x sr-contact"></i></a></li>
              <li><a href="https://github.com/kleer-la" target="_blank"><i class="fa fa-github fa-fw fa-2x sr-contact"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><i class="fa fa-youtube fa-fw fa-2x sr-contact"></i></a></li>
              <li><a href="https://www.instagram.com/kleer.la/" target="_blank"><i class="fa fa-instagram fa-fw fa-2x sr-contact"></i></a></li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Kleer 2017 |
              <% if (session[:locale] == "es") %>
                <a href="/<%=session[:locale]%>/privacy"> Declaración de privacidad </a> |
                <a href="/<%=session[:locale]%>/terms"> Términos y condiciones</a>
              <% end %>
              <% if (session[:locale] == "en") %>
                <a href="/<%=session[:locale]%>/privacy"> Privacy Policy </a> |
                <a href="/<%=session[:locale]%>/terms"> Terms of service</a>
              <% end %>
            </p>
          </div>
        </div>

      </div>
      <a id="to-top" href="javascript:void(0);" onclick='scrollTo("#top")' class="btn btn-dark btn-lg scroll"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </div>
  </footer-small>

<!-- Google Analytics -->
<script>
    !function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    } (window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-21102272-1');
    ga('send', 'pageview');
</script>


<script>

    //Para evitar el cambio de tamaño de background al hacer scroll en mobile cuando se esconde la barra de direcciones
    $(window).resize(function () {
      resizeBackground();
    });
    function resizeBackground() {
      if ((/Android|iPhone|iPad|iPod|BlackBerry/i).test(navigator.userAgent || navigator.vendor || window.opera)) {
        if (screen.width > screen.height) {
          barHeight = 0;
        } else {
          barHeight = 60;
        }
        $("#slider").height(screen.height - barHeight);
      }
    }
    resizeBackground();

    // Cierra el sidebar menu
    function closeSidebar(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    }

    $("#menu-close").click(function (e) {
      closeSidebar(e);
    });
    // Abre el sidebar menu
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    // Efecto de animación de iconos
    window.sr = ScrollReveal();
    sr.reveal('.sr-services', {
      duration: 1000,
      scale: 0.3,
      distance: '100px',
      delay: 200
    }, 200);
    sr.reveal('.sr-button', {
      duration: 1000,
      scale: 0.3,
      delay: 500
    });
    sr.reveal('.sr-contact', {
      duration: 1000,
      scale: 0.3,
      distance: '0px',
      delay: 200
    }, 300);

    // Scroll animado a las secciones la página
    function scrollTo(anchor){
          var target = $(anchor);
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
    };

    // Link to-top aparece cuando hacemos scroll
    var fixed = false;
    $(document).scroll(function () {
      if ($(this).scrollTop() > 250) {
        if (!fixed) {
          fixed = true;
          $('#to-top').show("slow", function () {
            $('#to-top').css({
              position: 'fixed',
              display: 'block'
            });
          });
        }
      } else {
        if (fixed) {
          fixed = false;
          $('#to-top').hide("slow", function () {
            $('#to-top').css({
              display: 'none'
            });
          });
        }
      }
    });
    // Disable Google Maps scrolling
    // See https://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function (event) {
      var that = $(this);
      that.on('click', onMapClickHandler);
      that.off('mouseleave', onMapMouseleaveHandler);
      that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function (event) {
      var that = $(this);
      // Disable the click handler until the user leaves the map area
      that.off('click', onMapClickHandler);
      // Enable scrolling zoom
      that.find('iframe').css("pointer-events", "auto");
      // Handle the mouse leave event
      that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
</script>

<!-- SnapEngage
================================================== -->
<script type="text/javascript">
  document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  SnapABug.setLocale("<%=session[:locale]%>");
  SnapABug.addButton("ab0964bc-0c2b-4b9b-8f59-b3e3cdb81b04","0","55%");
</script>
</body>

</html>
