<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Kleer - https://www.kleer.la">
  <meta name="description" content="<%=@meta_description%>">
  <meta name="keywords" content="<%=@meta_keywords%>">
  <meta name="robots" content="noarchive">
  <meta property="og:url" content="https://www.kleer.la" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%=@page_title%>" />
  <meta property="og:description" content="<%=@meta_description%>" />
  <meta property="og:image" content="https://www.kleer.la/img/logos/kleer.png" />
  <meta property="og:image:url" content="https://www.kleer.la/img/logos/kleer.png" />
  <meta property="og:image:secure_url" content="https://www.kleer.la/img/logos/kleer.png" />
  <meta property="fb:app_id" content="116606177078" />

  <title><%=@page_title%></title>

	<link rel="shortcut icon" href="/img/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" type="text/css">
  <link href="/app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->


  <!-- build:css(.tmp) styles/main.css -->
  <link href="/app/css/kleer.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400i" rel="stylesheet" type="text/css">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PFM58HF');</script>
  <!-- End Google Tag Manager -->


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <script src="/app/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/app/vendor/scrollreveal.min.js" type="text/javascript"></script>
    <script src="/app/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- endbuild -->
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1229278120422076');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1229278120422076&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->


  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#87cedc",
        "text": "#337480"
      },
      "button": {
        "background": "#337480"
      }
    },
    "theme": "classic",
    "position": "bottom-right",
    "content": {
      "message": "Las cookies de este sitio web se usan para brindar la mejor experiencia posible.",
      "dismiss": "Aceptar",
      "link": "Conocer más",
      "href": "https://kleer.la/es/privacy"
    }
  })});
  </script>
</head>

<body ng-app="kleerApp">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFM58HF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->

    <!-- Menu desktop -->
  <div class="hidden-xs hidden-sm">
    <nav class="navbar navbar-default navbar-fixed-top text-uppercase" role="navigation">
      <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <a id="logo" class="navbar-brand" href="/">
            <img src="/app/img/logo.png" alt="Kleer" />
          </a>
          <ul class="nav navbar-nav">
            <li class="root">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick='scrollTo2("#about");'><%=t('side_menu.we_do')%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="/<%=session[:locale]%>/agilidad-organizacional"><%=t('side_menu.coaching')%></a></li>
                  <li><a href="/<%=session[:locale]%>/facilitacion"><%=t('side_menu.facilitation')%></a></li>
                  <li class="dropdown-submenu"><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
                    <ul class="dropdown-menu">
                      <li><a href="/<%=session[:locale]%>/entrenamos"><%=t('side_menu.agenda')%></a></li>
                      <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.catalog')%></a></li>
                      <li><a href="https://academia.kleer.la/"><%=t('side_menu.campus')%></a></li>
                    </ul>
                  </li>
                  <li><a href="/<%=session[:locale]%>/clientes"><%=t('side_menu.clients')%></a></li>
              </ul>
            </li>
            <li class="root">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/<%=session[:locale]%>/publicamos"><%=t('side_menu.we_publish')%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%=session[:locale]%>/libros"><%=t('side_menu.books')%></a></li>
                <li><a href="/<%=session[:locale]%>/blog"><%=t('side_menu.blog')%></a></li>
                <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><%=t('side_menu.videos')%></a></li>
                <li><a href="/<%=session[:locale]%>/recursos"><%=t('side_menu.recursos')%></a></li>
              </ul>
            </li>
            <li class="root">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/<%=session[:locale]%>/somos"><%=t('side_menu.we_are')%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%=session[:locale]%>/nuestra-filosofia"><%=t("side_menu.our_philosophy")%></a></li>
                <li><a href="/<%=session[:locale]%>/somos"><%=t("side_menu.us")%></a></li>
                <li><a href="/<%=session[:locale]%>/prensa"><%=t("menu.press")%></a></li>
              </ul>
            </li>
            <li><a href="/<%=session[:locale]%>/#contact" onclick='scrollTo2("#contact");'><%=t('side_menu.lets_talk')%></a></li>
            <li><% if (session[:locale] == "en") %><li><a href="/es/"><strong>ESPAÑOL</strong></a></li><% end %>
                <% if (session[:locale] == "es") %><li><a href="/en/"><strong>ENGLISH</strong></a></li><% end %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.linkedin.com/company/541684" target="_blank"><i class="social-icons-desktop fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/kleer_la" target="_blank"><i class="social-icons-desktop fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><i class="social-icons-desktop fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/kleer.la/" target="_blank"><i class="social-icons-desktop fa fa-instagram"></i></a></li>
            <li><a href="https://facebook.com/kleer.la" target="_blank"><i class="social-icons-desktop fa fa-facebook"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
  <div class="visible-xs-block visible-sm">
    <nav class="navbar navbar-default navbar-fixed-top text-uppercase" role="navigation">
      <div class="container">
        <a id="logo" class="navbar-brand" href="/">
          <img src="/app/img/logo.png" alt="Kleer" />
        </a>
      </div>
    </nav>
  </div>

  <!-- Menu lateral -->
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle visible-xs-block visible-sm"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">

      <div class="menu-container text-uppercase">

        <div id="logoMenu">
          <a href="/"><img src="/app/img/logo.png"></a>
        </div>

        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <ul class="sidebar-nav">

          <li><a href="javascript:void(0);" onclick='scrollTo2("#about");closeSidebar(event)'><%=t('side_menu.we_do')%></a>
            <ul>
              <li><a href="/<%=session[:locale]%>/agilidad-organizacional"><%=t('side_menu.coaching')%></a></li>
              <li><a href="/<%=session[:locale]%>/facilitacion"><%=t('side_menu.facilitation')%></a></li>
              <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.courses')%></a>
                <ul>
                  <li><a href="/<%=session[:locale]%>/entrenamos"><%=t('side_menu.agenda')%></a></li>
                  <li><a href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.catalog')%></a></li>
                  <li><a href="https://academia.kleer.la/"><%=t('side_menu.campus')%></a></li>
                </ul>
              </li>
              <li><a href="/<%=session[:locale]%>/clientes"><%=t('side_menu.clients')%></a></li>
            </ul>
          </li>
          <li><a href="/<%=session[:locale]%>/publicamos"><span class="white"><%=t('side_menu.we_publish')%></span></a>
            <ul>
              <li><a href="/<%=session[:locale]%>/libros"><%=t('side_menu.books')%></a></li>
              <li><a href="/<%=session[:locale]%>/blog"><%=t('side_menu.blog')%></a></li>
              <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><%=t('side_menu.videos')%></a></li>
              <li><a href="/<%=session[:locale]%>/recursos"><%=t('side_menu.recursos')%></a></li>
            </ul>
          </li>
          <li><a href="/<%=session[:locale]%>/somos"><span class="white"><%=t('side_menu.we_are')%></a></span>
            <ul>
              <li><a href="/<%=session[:locale]%>/nuestra-filosofia"><%=t("side_menu.our_philosophy")%></a></li>
              <li><a href="/<%=session[:locale]%>/somos"><%=t("side_menu.us")%></a></li>
              <li><a href="/<%=session[:locale]%>/prensa"><%=t("menu.press")%></a></li>
            </ul>
          </li>
          <li><a href="/<%=session[:locale]%>/#contact" onclick='scrollTo2("#contact");closeSidebar(event)'><%=t('side_menu.lets_talk')%></a></li>

        </ul>

        <div class="social-media">
          <ul class="list-unstyled list-inline font-family-alt no-letter-spacing text-extra-large">
            <li><a href="https://www.linkedin.com/company/541684" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/kleer_la" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/kleer.la/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://facebook.com/kleer.la" target="_blank"><i class="fa fa-facebook"></i></a></li>
          </ul>
          <span class="display-inline-block font-family-alt text-large email"><a class="lower" href="mailto:hola@kleer.la">hola@kleer.la</a></span>
        </div>

      </div>

  </nav>

  <!-- Logo Kleer -->

  <!--<div id="logo">
    <a href="/"><img src="/app/img/logo.png"></a>
  </div>-->

  <div id="top"></div>

<%= yield %>

  <!-- Footer -->
  <footer-small>
    <div class="container-fluid footer-bottom">

      <div class="text-center">
            <ul class="text-muted">
              <li>Copyright &copy; Kleer 2019 <span>|</span> </li>
              <% if (session[:locale] == "es") %>
                <li><a href="/<%=session[:locale]%>/privacy"> Declaración de privacidad </a> <span>|</span></li>
                <li><a href="/<%=session[:locale]%>/terms"> Términos y condiciones</a>  <span>|</span></li>
              <% end %>
              <% if (session[:locale] == "en") %>
                <li><a href="/<%=session[:locale]%>/privacy"> Privacy Policy </a> <span>|</span></li>
                <li><a href="/<%=session[:locale]%>/terms"> Terms of service</a> <span>|</span></li>
              <% end %> 
              <% if (session[:locale] == "en") %><li><a href="/es/"><strong>ESPAÑOL</strong></a></li><% end %>
              <% if (session[:locale] == "es") %><li><a href="/en/"><strong>ENGLISH</strong></a></li><% end %>
            </ul>
        </div>
      <a id="to-top" href="javascript:void(0);" onclick='scrollTo("#top")' class="btn btn-dark btn-lg scroll"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </div>
  </footer>

<script>

    //Para evitar el cambio de tamaño de background al hacer scroll en mobile cuando se esconde la barra de direcciones
    $(window).resize(function () {
      resizeBackground();
    });
    function resizeBackground() {
      if ((/Android|iPhone|iPad|iPod|BlackBerry/i).test(navigator.userAgent || navigator.vendor || window.opera)) {
        if (screen.width > screen.height) {
          barHeight = 0;
        } else {
          barHeight = 60;
        }
        $("#slider").height(screen.height - barHeight);
      }
    }
    resizeBackground();

    // Cierra el sidebar menu
    function closeSidebar(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    }

    $("#menu-close").click(function (e) {
      closeSidebar(e);
    });
    // Abre el sidebar menu
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    // Efecto de animación de iconos
    window.sr = ScrollReveal();
    sr.reveal('.sr-services', {
      duration: 1000,
      scale: 0.3,
      distance: '100px',
      delay: 200
    }, 200);
    sr.reveal('.sr-button', {
      duration: 1000,
      scale: 0.3,
      delay: 500
    });
    sr.reveal('.sr-contact', {
      duration: 1000,
      scale: 0.3,
      distance: '0px',
      delay: 200
    }, 300);

    // Scroll animado a las secciones la página
    function scrollTo(anchor){
          var target = $(anchor);
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
    };

    // Link to-top aparece cuando hacemos scroll
    var fixed = false;
    $(document).scroll(function () {
      if ($(this).scrollTop() > 250) {
        if (!fixed) {
          fixed = true;
          $('#to-top').show("slow", function () {
            $('#to-top').css({
              position: 'fixed',
              display: 'block'
            });
          });
        }
      } else {
        if (fixed) {
          fixed = false;
          $('#to-top').hide("slow", function () {
            $('#to-top').css({
              display: 'none'
            });
          });
        }
      }
    });
    // Disable Google Maps scrolling
    // See https://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function (event) {
      var that = $(this);
      that.on('click', onMapClickHandler);
      that.off('mouseleave', onMapMouseleaveHandler);
      that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function (event) {
      var that = $(this);
      // Disable the click handler until the user leaves the map area
      that.off('click', onMapClickHandler);
      // Enable scrolling zoom
      that.find('iframe').css("pointer-events", "auto");
      // Handle the mouse leave event
      that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
</script>

<!-- SnapEngage
================================================== -->
<script type="text/javascript">
  document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  SnapABug.setLocale("<%=session[:locale]%>");
  SnapABug.addButton("ab0964bc-0c2b-4b9b-8f59-b3e3cdb81b04","0","55%");
</script>
</body>

</html>
