<!DOCTYPE html>
<html class="no-js">
<head>
  <%= erb :_gtag %>
  <%= 
  (meta_tags! title: @page_title) if defined?(@page_title) && @page_title.to_s != ''
  (meta_tags! description: @meta_description) if defined?(@meta_description) && @meta_description.to_s != ''
  display_meta_tags site: 'Kleer', base_url: 'https://www.kleer.la' 
  %>
  <meta name="author" content="Kleer - https://www.kleer.la">
  <meta property="og:url" content="https://www.kleer.la" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.kleer.la/img/logos/kleer.png" />
  <meta property="og:image:url" content="https://www.kleer.la/img/logos/kleer.png" />
  <meta property="og:image:secure_url" content="https://www.kleer.la/img/logos/kleer.png" />
  <meta property="fb:app_id" content="116606177078" />
	<link rel="shortcut icon" href="/img/favicon.ico">
  <!-- build:css(.) styles/vendor.css -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" type="text/css">
  <link href="/app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->


  <!-- build:css(.tmp) styles/main.css -->
  <link href="/app/css/kleer.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
   document.documentElement.classList.remove("no-js");
  </script>
<%# Need jquery for DataTable in /entrenamos %>
<script src="/app/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<%=erb :_menu%>
  <div id="top"></div>
<%= yield %>
<footer>
<%= erb :_footer%>
</footer>
<script src="/app/vendor/scrollreveal.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    //Para evitar el cambio de tamaño de background al hacer scroll en mobile cuando se esconde la barra de direcciones
    $(window).resize(function () {
      resizeBackground();
    });
    function resizeBackground() {
      if ((/Android|iPhone|iPad|iPod|BlackBerry/i).test(navigator.userAgent || navigator.vendor || window.opera)) {
        if (screen.width > screen.height) {
          barHeight = 0;
        } else {
          barHeight = 60;
        }
        $("#slider").height(screen.height - barHeight);
      }
    }
    resizeBackground();

    // Cierra el sidebar menu
    function closeSidebar(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    }

    $("#menu-close").click(function (e) {
      closeSidebar(e);
    });
    // Abre el sidebar menu
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    // Efecto de animación de iconos
    window.sr = ScrollReveal();
    sr.reveal('.sr-services', {
      duration: 1000,
      scale: 0.3,
      distance: '100px',
      delay: 200
    }, 200);
    sr.reveal('.sr-button', {
      duration: 1000,
      scale: 0.3,
      delay: 500
    });
    sr.reveal('.sr-contact', {
      duration: 1000,
      scale: 0.3,
      distance: '0px',
      delay: 200
    }, 300);

    // Scroll animado a las secciones la página
    function scrollTo(anchor){
          var target = $(anchor);
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
    };

    // Link to-top aparece cuando hacemos scroll
    var fixed = false;
    $(document).scroll(function () {
      if ($(this).scrollTop() > 250) {
        if (!fixed) {
          fixed = true;
          $('#to-top').show("slow", function () {
            $('#to-top').css({
              position: 'fixed',
              display: 'block'
            });
          });
        }
      } else {
        if (fixed) {
          fixed = false;
          $('#to-top').hide("slow", function () {
            $('#to-top').css({
              display: 'none'
            });
          });
        }
      }
    });
    // Disable Google Maps scrolling
    // See https://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function (event) {
      var that = $(this);
      that.on('click', onMapClickHandler);
      that.off('mouseleave', onMapMouseleaveHandler);
      that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function (event) {
      var that = $(this);
      // Disable the click handler until the user leaves the map area
      that.off('click', onMapClickHandler);
      // Enable scrolling zoom
      that.find('iframe').css("pointer-events", "auto");
      // Handle the mouse leave event
      that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
</script>
<%= erb :_cookies%>
</body>
</html>
