      <div class="col-md-4">
        <% @event_type.public_editions.each do |event| %>
          &nbsp;
          <div class="row">
            <div class="col-xs-3">
              <%
              date_line = "<table border=\"0\" align=\"center\" cellpadding=\"2\"><tr>"
              if event.date != event.finish_date && !event.finish_date.nil?
                post_it_width = "80px;"
                date_line += "<td>#{event.date.strftime("%d")}</td>"
                date_line += "<td rowspan=2>&nbsp;-&nbsp;</td>"
                date_line += "<td>#{event.finish_date.strftime("%d")}</td>"
                date_line += "</tr><tr>"
                date_line += "<td>#{month_es(event.date.strftime("%b"))}</td>"
                date_line += "<td>#{month_es(event.finish_date.strftime("%b"))}</td>"
              else
                post_it_width = "40px;"
                date_line += "<td>#{event.date.strftime("%d")}</td>"
                date_line += "</tr><tr>"
                date_line += "<td>#{month_es(event.date.strftime("%b"))}</td>"
              end
              date_line += "</tr></table>"
              %>
              <div class="klabel-date"><%=date_line%></div>
            </div>
            <div class="col-xs-9" style="text-align:left;">
              <a href="/<%=session[:locale]%>/<%=event.is_community_event ? "comunidad" : "entrenamos" %>/evento/<%=url_sanitize(event.uri_path)%>?<%=@tracking_parameters%>">
                <%=event.event_type.name%>
              </a><br/>
              <% if event.specific_subtitle != "" %>
                <%=event.specific_subtitle%>
                <br/>
              <% end %>
              <img src="/img/flags/<%=event.country_code.downcase%>.png"/>
              <%=event.city%>, <%=event.country%>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
