<div class="blackBg">
<div class="header-small header-prensa"></div>

<div class="header-description">
	<h1 class="headerTitle"><%=t("privacidad.title")%></h1>
</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">

			<h3><%=t("privacidad.title1")%></h3>
			<p><%=t("privacidad.text1")%></p>
			<h3><%=t("privacidad.title2")%></h3>
			<p><%=t("privacidad.text2")%></p>
			<h3><%=t("privacidad.title3")%></h3>
			<p><%=t("privacidad.text3")%></p>
			<h3><%=t("privacidad.title4")%></h3>
			<p><%=t("privacidad.text4")%></p>
			<h3><%=t("privacidad.title5")%></h3>
			<p><%=t("privacidad.text5")%></p>
			<h3><%=t("privacidad.title6")%></h3>
			<p><%=t("privacidad.text6")%></p>
			<h3><%=t("privacidad.title7")%></h3>
			<p><%=t("privacidad.text7")%></p>
			<h3><%=t("privacidad.title8")%></h3>
			<p><%=t("privacidad.text8")%></p>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
