<div class="blackBg">
	<div class="header-small header-publicamos"></div>

	<div class="header-description">
		<h1 class="headerTitle"><%=t("publishing.title")%></h1>
	</div>
</div>

<div class="vSpace"></div>

<div class="container mainContent">

	<div class="col-md-12 no-hpadding contenedor-main-izq">

			<h4 class="text-center"><%=t("publishing.description")%></h4><br/>
			<br/>

			<%=t("publishing.content")%>

			<div class="vSpace"></div>
			<div class="vSpace"></div>

	</div>
</div>

	<div class="container-fluid fondo-celeste containerWithPadding text-center">
		<div class="container">

			<div class="col-md-4 text-center">
				<a href="/<%=session[:locale]%>/libros">
					<img class="middle-icon" src="/app/img/libros.svg" alt="icono libros">
					<div class="row">
						<h4 class="btn btn-light"><%=t('side_menu.books')%></h4>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="/<%=session[:locale]%>/blog">
					<img class="middle-icon" src="/app/img/blog.svg" alt="icono blog">
					<div class="row">
						<h4 class="btn btn-light"><%=t('side_menu.blog')%></h4>
					</div>
				</a>
			</div>

			<div class="col-md-4">
				<a href="http://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank">
					<img class="middle-icon" src="/app/img/videos.svg" alt="icono videos">
					<div>
						<h4 class="btn btn-light"><%=t('side_menu.videos')%></h4>
					</div>
				</a>
			</div>

	</div>

</div>
