<div class="blackBg">
    <div class="header-small header-publicamos"></div>

    <div class="header-description">
        <h1 class="headerTitle"><%=t("recursos.title")%></h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">

    <div class="col-md-9 no-hpadding contenedor-main-izq">
            <% if (session[:locale] == "es") %><h4>Soñamos con un mundo en el que la información valiosa sea compartida por todos. Aquí, nuestro granito de arena.</h4><% end %><br/>
            &nbsp;<br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://guiasagiles.org/" name="guias-agiles"><img src="/img/recursos/guias-agiles.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://guiasagiles.org/"><%=t("recursos.lista.recurso1.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso1.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso1.autores")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkl.la%2Fguias-agiles" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a rel="canonical" href="https://twitter.com/intent/tweet?text=¿Conoces la 22 guías de técnicas y herramientas que potencian a personas y equipos? Te comparto las GuiasAgiles, de @kleer_la. Busca la tuya y descárgarla aquí&url=https://kl.la/guias-agiles&hashtags=AgilidadOrganizacional,ReunionesProductivas,MasColaboracion,Agile,Scrum,equiposagiles" class="share share-twitter" data-size="large" rel="me" target="_blank">SHARE TWITTER</a>
                                <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fkl.la%2Fguias-agiles&title=%C2%BFConoces%20la%2022%20gu%C3%ADas%20de%20t%C3%A9cnicas%20y%20herramientas%20que%20potencian%20a%20personas%20y%20equipos%3F%20Te%20comparto%20las%20%23GuiasAgiles%20de%20Kleer.%20Busca%20la%20tuya%20y%20desc%C3%A1rgarla%20aqu%C3%AD%20https%3A%2F%2Fkl.la%2Fguias-agiles%20%23AgilidadOrganizacional%20%20%23ReunionesProductivas%20%23MasColaboracion%20%23Agile%20%23Scrum%20%23equiposagiles" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones">
                                <%=t("recursos.lista.recurso1.info")%>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://drive.google.com/drive/folders/1kmJuVrZaQnYGi-PX-cbmdBsq26Li1OBi?usp=sharing" name="DoD-kards"><img src="/img/recursos/DoD-Kards.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://drive.google.com/drive/folders/1kmJuVrZaQnYGi-PX-cbmdBsq26Li1OBi?usp=sharing"><%=t("recursos.lista.recurso2.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso2.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso2.autores")%></p>
                            <p><strong>Observaciones:</strong> <%=t("recursos.lista.recurso2.observaciones")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/dod-kards" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Cómo acordamos una definición de terminado con el equipo? Te comparto el juego de cartas DoD Kards de @kleer_la. Descárgalas aquí&url=https://kl.la/dod-kards&hashtags=AgilidadOrganizacional,ReunionesProductivas,MasColaboracion,Agile,Scrum,equiposagiles" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/dod-kards&title=&summary=¿Cómo acordamos una definición de terminado con el equipo? Te comparto el juego de cartas DoD Kards de Kleer. Descárgalas aquí https://kl.la/dod-kards #AgilidadOrganizacional  #ReunionesProductivas #MasColaboracion #Agile #Scrum #equiposagiles&source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones">

                                <%=t("recursos.lista.recurso2.info")%>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://dandypeople.com/blog/translated-to-spanish-agile-product-ownership-in-a-nutshell-poster/" name="poster-agile-PO"><img src="/img/recursos/poster-agile.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://dandypeople.com/blog/translated-to-spanish-agile-product-ownership-in-a-nutshell-poster/"><%=t("recursos.lista.recurso3.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso3.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso3.autores")%></p>
                            <p><strong>Traductor:</strong> <%=t("recursos.lista.recurso3.traductor")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/poster-agile-PO" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Conocés el poster Agile Product Ownership in a Nutshell? Te comparto el poster traducido por Pablo Lischinsky. Descárgarlo aquí&url=https://kl.la/poster-agile-PO&hashtags=AgilidadOrganizacional,Agile,Scrum,equiposagiles,ProductOwner,ProdMgmt,ProductDiscovery" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/poster-agile-PO&title=&summary=¿Conocés el poster Agile Product Ownership in a Nutshell? Te comparto el poster traducido por Pablo Lischinsky. Descárgarlo aquí https://kl.la/poster-agile-PO #AgilidadOrganizacional  #Agile #Scrum #equiposagiles #ProductOwner #ProdMgmt #ProductDiscovery&source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso3.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://coachingcanvas.org/es/download/the-coaching-canvas-wall-es.pdf 
" name="coaching-canvas"><img src="/img/recursos/coaching-canvas.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://coachingcanvas.org/es/download/the-coaching-canvas-wall-es.pdf 
"><%=t("recursos.lista.recurso4.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso4.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso4.autores")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/coaching-canvas" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Quieres facilitar conversaciones de Coaching? Te comparto el Coaching Canvas de @kleer_la. Descárgarlo aquí&url=https://kl.la/coaching-canvas&hashtags=AgilidadOrganizacional,AgileCoaching,Coaching,Agile,Scrum,facilitacion,Acompañamiento" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/coaching-canvas&title=&summary=¿Quieres facilitar conversaciones de Coaching? Te comparto el Coaching Canvas de Kleer. Descárgarlo aquí https://kl.la/coaching-canvas #AgilidadOrganizacional  #AgileCoaching #Coaching #Agile #Scrum #facilitacion #Acompañamiento&source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso4.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://kl.la/canvas-de-experimentos" name="canvas-experimentos"><img src="/img/recursos/canvas-experimentos.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://kl.la/canvas-de-experimentos"><%=t("recursos.lista.recurso5.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso5.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso5.autores")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/canvas-experimento" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Estás pensando en hacer experimentos para validar hipótesis? Te comparto el Canvas de Experimentos de @kleer_la. Descárgarlo aquí&url=https://kl.la/canvas-experimento&hashtags=AgilidadOrganizacional,Agile,Scrum,HDD,Experimentación,Aprendizaje" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/canvas-experimento&title=&summary=¿Estás pensando en hacer experimentos para validar hipótesis? Te comparto el Canvas de Experimentos de Kleer. Descárgarlo aquí https://kl.la/canvas-experimento #AgilidadOrganizacional  #Agile #Scrum #HDD #Experimentación #Aprendizaje &source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso5.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://drive.google.com/drive/folders/1hPXWB7NDHKseBmTcI0q8AsdyQgN1vNNV?usp=sharing" name="slicing-cards"><img src="/img/recursos/cartas-de-slicing.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://drive.google.com/drive/folders/1hPXWB7NDHKseBmTcI0q8AsdyQgN1vNNV?usp=sharing"><%=t("recursos.lista.recurso6.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso6.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso6.autores")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/slicing-kards" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Estás creando tu product backlog y encuentras con ítems muy grandes? Te comparto las Slicing Cards de @kleer_la. Descárgalas aquí&url=https://kl.la/slicing-kards&hashtags=AgilidadOrganizacional,Agile,Scrum,HDD,Experimentación,Aprendizaje" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/slicing-kards&title=&summary=¿Estás creando tu product backlog y encuentras con ítems muy grandes? Te comparto las Slicing Cards de @kleer_la. Descárgalas aquí https://kl.la/slicing-kards #AgilidadOrganizacional #Agile #Scrum #HDD #Experimentación #Aprendizaje&source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso6.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://www.dropbox.com/s/qewn1qp59h9nj7k/Team-Barometer-Esp-V2.pdf?dl=0" name="barometro-equipo"><img src="/img/recursos/barometro.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://www.dropbox.com/s/qewn1qp59h9nj7k/Team-Barometer-Esp-V2.pdf?dl=0"><%=t("recursos.lista.recurso7.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso7.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso7.autores")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/barometro-equipo" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Quieres llevar tu equipo a un mayor nivel de performance? Te comparto el Barómetro de Equipo de @kleer_la y Crisp. Descárgarlo aquí&url=https://kl.la/barometro-equipo&hashtags=AgilidadOrganizacional,Agile,Scrum,facilitacion,Acompañamiento,MasColaboracion,equiposagiles" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/barometro-equipo" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso7.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://media.kleer.la/posters/scrum.pdf" name="poster-scrum"><img src="/img/recursos/poster-de-scrum.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://media.kleer.la/posters/scrum.pdf"><%=t("recursos.lista.recurso8.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso8.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso8.autores")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/poster-de-scrum" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Quieres tener e imprimir un resumen ilustrado de Scrum? Te comparto el poster de Scrum de @kleer_la. Descárgarlo aquí&url=https://kl.la/poster-de-scrum&hashtags=AgilidadOrganizacional,Agile,Scrum,equiposagiles,facilitacion,ScrumMaster" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/poster-de-scrum&title=&summary=¿Quieres tener e imprimir un resumen ilustrado de Scrum? Te comparto el poster de Scrum de Kleer. Descárgarlo aquí https://kl.la/poster-de-scrum #AgilidadOrganizacional  #Agile #Scrum #equiposagiles #facilitacion #ScrumMaster&source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso8.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://media.kleer.la/posters/xp.pdf" name="poster-XP"><img src="/img/recursos/poster-xp.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://media.kleer.la/posters/xp.pdf"><%=t("recursos.lista.recurso9.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso9.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso9.autores")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/poster-de-xp" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Quieres tener e imprimir un resumen ilustrado de Extreme Programming? Te comparto el poster de XP de @kleer_la. Descárgarlo aquí&url=https://kl.la/poster-de-xp&hashtags=AgilidadOrganizacional,Agile,Scrum,equiposagiles,facilitacion,ScrumMaster,ExtremeProgramming,XP" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/poster-de-xp&title=&summary=¿Quieres tener e imprimir un resumen ilustrado de Extreme Programming? Te comparto el poster de XP de Kleer. Descárgarlo aquí https://kl.la/poster-de-xp #AgilidadOrganizacional  #Agile #Scrum #equiposagiles #facilitacion #ScrumMaster #ExtremeProgramming #XP&source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso9.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://drive.google.com/drive/folders/1ek513mdBcj-gWURMY8Nfesz-EvNrdm2v?usp=sharing" name="DoR-kards"><img src="/img/recursos/DoR_Kards.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://drive.google.com/drive/folders/1ek513mdBcj-gWURMY8Nfesz-EvNrdm2v?usp=sharing"><%=t("recursos.lista.recurso10.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso10.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso10.autores")%></p>
                            <p><strong>Observaciones:</strong> <%=t("recursos.lista.recurso10.observaciones")%></p>
                            <div class="share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://kl.la/dor-kards" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=¿Cómo acordamos una definición de listo con el equipo? Te comparto el juego de cartas DoR Kards de @kleer_la. Descárgalas aquí&url=https://kl.la/dor-kards&hashtags=AgilidadOrganizacional,ReunionesProductivas,MasColaboracion,Agile,Scrum,equiposagiles" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://kl.la/dor-kards&title=&summary=¿Cómo acordamos una definición de listo con el equipo? Te comparto el juego de cartas DoR Kards de Kleer. Descárgalas aquí https://kl.la/dor-kards #AgilidadOrganizacional  #ReunionesProductivas #MasColaboracion #Agile #Scrum #equiposagiles&source=" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso10.info")%></p>
                        </div>
                    </div>
                </div>
            </div>

            

    </div>

    <div class="col-md-3">
        <%= erb :_twitter_widget, :layout => false %>
    </div>

</div>
