<div class="blackBg">
    <div class="header-small header-publicamos"></div>

    <div class="header-description">
        <h1 class="headerTitle"><%=t("recursos.title")%></h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">

    <div class="col-md-9 no-hpadding contenedor-main-izq">
            <% if (session[:locale] == "es") %><h4>Soñamos con un mundo en el que la información valiosa sea compartida por todos. Aquí, nuestro granito de arena.</h4><% end %><br/>
            &nbsp;<br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://guiasagiles.org/" name="guias-agiles"><img src="/img/recursos/guias-agiles.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://guiasagiles.org/"><%=t("recursos.lista.recurso1.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso1.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso1.autores")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#guias-agiles" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Guias Ágiles Un lugar, todas las guías: Técnicas y herramientas que potencian a personas y equipos. https://qa2.kleer.la/es/recursos#guias-agiles" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#guias-agiles" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://www.elproximopaso.net/2017/07/dod-kards.html" name="DoD-kards"><img src="/img/recursos/dod-kards.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://www.elproximopaso.net/2017/07/dod-kards.html"><%=t("recursos.lista.recurso2.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso2.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso2.autores")%></p>
                            <p><strong>Observaciones:</strong> <%=t("recursos.lista.recurso2.observaciones")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#DoD-kards" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=DoD Kards
Es un juego de cartas cuyo objetivo es reflexionar y consensuar entre todos los miembros de un equipo cuáles son los criterios a incluir en su definición de terminado. https://qa2.kleer.la/es/recursos#DoD-kards" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#DoD-kards" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones">

                                <%=t("recursos.lista.recurso2.info")%>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://dandypeople.com/blog/translated-to-spanish-agile-product-ownership-in-a-nutshell-poster/" name="poster-agile-PO"><img src="/img/recursos/poster-agile.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://dandypeople.com/blog/translated-to-spanish-agile-product-ownership-in-a-nutshell-poster/"><%=t("recursos.lista.recurso3.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso3.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso3.autores")%></p>
                            <p><strong>Traductor:</strong> <%=t("recursos.lista.recurso3.traductor")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#poster-agile-PO" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Poster Agile Product Ownership
Traducción al español de un poster de Mia Kolmodin sobre agilidad empresarial y desarrollo ágil de productos digitales de alto valor e impacto. https://qa2.kleer.la/es/recursos#poster-agile-PO" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#poster-agile-PO" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso3.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://kl.la/canvas-de-experimentos" name="coaching-canvas"><img src="/img/recursos/coaching-canvas.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://kl.la/canvas-de-experimentos"><%=t("recursos.lista.recurso4.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso4.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso4.autores")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#coaching-canvas" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Coaching Canvas
Para Coaches dispuestos a utilizar diferentes técnicas con sus clientes, El Coaching Canvas es una herramienta de comunicación que te ayudará a facilitar conversaciones de coaching. https://qa2.kleer.la/es/recursos#coaching-canvas" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#coaching-canvas" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso4.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://kl.la/canvas-de-experimentos" name="canvas-experimentos"><img src="/img/recursos/canvas-experimentos.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://kl.la/canvas-de-experimentos"><%=t("recursos.lista.recurso5.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso5.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso5.autores")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#canvas-experimentos" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Canvas de Experimentos
¿Estás llevando adelante una iniciativa en un marco de exploración y aprendizaje? Te invitamos a que tomes como base el Canvas de Experimentos. Adaptalo según tu necesidad, usalo para diseñar experimentos, y compartí tus experiencias! https://qa2.kleer.la/es/recursos#canvas-experimentos" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#canvas-experimentos" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso5.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://www.dropbox.com/s/w04cv0j0nrtl4cl/Kleer_-_Slicing_Cards_-_V3_-_4_por_Hoja.pdf" name="slicing-cards"><img src="/img/recursos/cartas-de-slicing.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://www.dropbox.com/s/w04cv0j0nrtl4cl/Kleer_-_Slicing_Cards_-_V3_-_4_por_Hoja.pdf"><%=t("recursos.lista.recurso6.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso6.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso6.autores")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#slicing-cards" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Slicing Cards
Los patrones y las cartas de Slicing de User Stories te ayudarán a encontrar nuevos criterios con los que puedes subdividir las User Stories grandes en otras más pequeñas y simples. https://qa2.kleer.la/es/recursos#slicing-cards" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#slicing-cards" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso6.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://www.dropbox.com/s/qewn1qp59h9nj7k/Team-Barometer-Esp-V2.pdf?dl=0" name="barometro-equipo"><img src="/img/recursos/barometro.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://www.dropbox.com/s/qewn1qp59h9nj7k/Team-Barometer-Esp-V2.pdf?dl=0"><%=t("recursos.lista.recurso7.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso7.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso7.autores")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#barometro-equipo" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Barómetro de Equipo
El Barómetro de Equipo es una herramienta poderosa para ayudar a un equipo de trabajo a elevar su nivel de conciencia como tal y evaluarse frente a características de los Equipos de Alto Rendimiento. https://qa2.kleer.la/es/recursos#barometro-equipo" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#barometro-equipo" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso7.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://media.kleer.la/posters/scrum.pdf" name="poster-scrum"><img src="/img/recursos/poster-de-scrum.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://media.kleer.la/posters/scrum.pdf"><%=t("recursos.lista.recurso8.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso8.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso8.autores")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#poster-scrum" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Poster de Scrum
Lámina con el framework de Scrum detallando sus roles, ceremonias y valores. https://qa2.kleer.la/es/recursos#poster-scrum" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#poster-scrum" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso8.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://media.kleer.la/posters/xp.pdf" name="poster-XP"><img src="/img/recursos/poster-xp.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://media.kleer.la/posters/xp.pdf"><%=t("recursos.lista.recurso9.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso9.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso9.autores")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#poster-XP" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=Extreme Programming https://qa2.kleer.la/es/recursos#poster-XP" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#poster-XP" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso9.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://drive.google.com/drive/folders/1ek513mdBcj-gWURMY8Nfesz-EvNrdm2v?usp=sharing" name="DoR-kards"><img src="/img/recursos/DoR_Kards.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://drive.google.com/drive/folders/1ek513mdBcj-gWURMY8Nfesz-EvNrdm2v?usp=sharing"><%=t("recursos.lista.recurso10.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso10.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso10.autores")%></p>
                            <p><strong>Observaciones:</strong> <%=t("recursos.lista.recurso10.observaciones")%></p>
                            <div class="share-buttons">
                                <a href="http://www.facebook.com/sharer.php?u=https://qa2.kleer.la/es/recursos#DoR-kards" class="share share-facebook" target="_blank">SHARE FB</a>
                                <a href="https://twitter.com/intent/tweet?text=DoR Kards
Es un juego de cartas cuyo objetivo es reflexionar y consensuar entre todos los miembros de un equipo cuáles son los criterios a incluir en su definición de listo (DoR por su sigla en inglés: Definition of Ready). https://qa2.kleer.la/es/recursos#DoR-kards" class="share share-twitter" target="_blank">SHARE TWITTER</a>
                                <a href="
https://www.linkedin.com/shareArticle?mini=true&url=https://qa2.kleer.la/es/recursos#DoR-kards" class="share share-linkedin" target="_blank">SHARE LINKEDIN</a>
                            </div>
                            <p class="botones"><%=t("recursos.lista.recurso10.info")%></p>
                        </div>
                    </div>
                </div>
            </div>

            

    </div>

    <div class="col-md-3">
        <%= erb :_twitter_widget, :layout => false %>
    </div>

</div>
