<div class="blackBg">
    <div class="header-small header-publicamos"></div>

    <div class="header-description">
        <h1 class="headerTitle"><%=t("recursos.title")%></h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">

    <div class="col-md-9 no-hpadding contenedor-main-izq">
            <% if (session[:locale] == "es") %><h4>Soñamos con un mundo en el que la información valiosa sea compartida por todos. Aquí, nuestro granito de arena.</h4><% end %><br/>
            &nbsp;<br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://guiasagiles.org/"><img src="/img/recursos/guias-agiles.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://guiasagiles.org/"><%=t("recursos.lista.recurso1.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso1.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso1.autores")%></p>
                            <p class="botones"></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://www.elproximopaso.net/2017/07/dod-kards.htm"><img src="/img/recursos/dod-kards.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://www.elproximopaso.net/2017/07/dod-kards.htm"><%=t("recursos.lista.recurso2.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso2.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso2.autores")%></p>
                            <p><strong>Observaciones:</strong> <%=t("recursos.lista.recurso2.observaciones")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso2.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://dandypeople.com/blog/translated-to-spanish-agile-product-ownership-in-a-nutshell-poster/"><img src="/img/recursos/poster-agile.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://dandypeople.com/blog/translated-to-spanish-agile-product-ownership-in-a-nutshell-poster/"><%=t("recursos.lista.recurso3.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso3.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso3.autores")%></p>
                            <p><strong>Traductor:</strong> <%=t("recursos.lista.recurso3.traductor")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso3.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://kl.la/canvas-de-experimentos"><img src="/img/recursos/coaching-canvas.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://kl.la/canvas-de-experimentos"><%=t("recursos.lista.recurso4.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso4.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso4.autores")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso4.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://kl.la/canvas-de-experimentos"><img src="/img/recursos/canvas-experimentos.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://kl.la/canvas-de-experimentos"><%=t("recursos.lista.recurso5.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso5.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso5.autores")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso5.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="https://www.dropbox.com/s/w04cv0j0nrtl4cl/Kleer_-_Slicing_Cards_-_V3_-_4_por_Hoja.pdf"><img src="/img/recursos/cartas-de-slicing.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://www.dropbox.com/s/w04cv0j0nrtl4cl/Kleer_-_Slicing_Cards_-_V3_-_4_por_Hoja.pdf"><%=t("recursos.lista.recurso6.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso6.description")%></p>
                            <p><strong>Autores:</strong> <%=t("recursos.lista.recurso6.autores")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso6.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://www.dropbox.com/s/qewn1qp59h9nj7k/Team-Barometer-Esp-V2.pdf?dl=0"><img src="/img/recursos/barometro.png" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="https://www.dropbox.com/s/qewn1qp59h9nj7k/Team-Barometer-Esp-V2.pdf?dl=0"><%=t("recursos.lista.recurso7.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso7.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso7.autores")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso7.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://media.kleer.la/posters/scrum.pdf"><img src="/img/recursos/poster-de-scrum.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://media.kleer.la/posters/scrum.pdf"><%=t("recursos.lista.recurso8.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso8.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso8.autores")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso8.info")%></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <a href="http://media.kleer.la/posters/xp.pdf"><img src="/img/recursos/poster-xp.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://media.kleer.la/posters/xp.pdf"><%=t("recursos.lista.recurso9.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso9.description")%></p>
                            <p><strong>Autor:</strong> <%=t("recursos.lista.recurso9.autores")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso9.info")%></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://www.elproximopaso.net/2018/12/dor-kards.html"><img src="/img/recursos/DoR_Kards.jpg" class="img-rounded"></a>

                        <div class="well well-small book-description">
                            <h4><a href="http://www.elproximopaso.net/2018/12/dor-kards.html"><%=t("recursos.lista.recurso10.title")%></a></h4>
                            <p><%=t("recursos.lista.recurso10.description")%></p>
                            <p class="botones"><%=t("recursos.lista.recurso10.info")%></p>
                        </div>
                    </div>
                </div>
            </div>

            

    </div>

    <div class="col-md-3">
        <%= erb :_twitter_widget, :layout => false %>
    </div>

</div>
