<div class="blackBg">
    <div class="header-small header-publicamos"></div>

    <div class="header-description">
        <h1 class="headerTitle"><%=t("recursos.title")%></h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">
  <div class="col-md-9 no-hpadding contenedor-main-izq">
    <% if (session[:locale] == "es") %><h4>Soñamos con un mundo en el que la información valiosa sea compartida por todos. Aquí, nuestro granito de arena.</h4><% end %><br/>
      &nbsp;<br/>
      <% 
      indice=0
      @resources.each do |resource_loc|
      resource= resource_loc[session[:locale]]%>
      <%if indice ==0%>
        <div class="container-fluid">
      <%end%>
    <div class="col-md-4">
      <a id="<%=resource['id']%>"></a>
      <%if resource['landing']!= ""%>
          <a href="<%=resource['landing']%>" id="<%=resource['id']%>" name="<%=resource['id']%>">
      <%end%>
      <img src="<%= resource['cover']%>" class="img-rounded">
      <%if resource['landing']!= ""%>
          </a>
      <%end%>
      <div class="well well-small book-description">
        <h4><a href="<%=resource['landing']%>"><%=resource['title']%></a></h4>
        <p><%=resource['description']%></p>
        <p><strong>Autores:</strong> <%=resource['authors']%></p>
        <%if not resource['translators'].to_s.empty?%>
            <p><strong>Traductores:</strong> <%=resource['translators']%></p>
        <%end%>
        <%if not resource['comments'].to_s.empty?%>
            <p><strong>Observaciones:</strong> <%=resource['comments']%></p>
        <%end%>
        <div class="share-buttons">
        <%= external_url_anchor "https://www.facebook.com/sharer/sharer.php?#{resource['share_fb']}", 
                                'class="share share-facebook"'%>
          SHARE FB</a>
        <%= external_url_anchor "https://twitter.com/intent/tweet?#{resource['share_tw']}",
                                'class="share share-twitter" data-size="large" rel="me" rel="canonical"' %>
          SHARE TWITTER</a>
        <%= external_url_anchor "http://www.linkedin.com/shareArticle?#{resource['share_li']}", 
                                'class="share share-linkedin"' %>
          SHARE LINKEDIN</a>
        </div>
        <p class="botones"><a href="<%=resource['landing']%>" class='btn btn-sm btn-info btn-kleer'>Más info</a></p>
      </div>
    </div>
      <%if indice==2%>
    </div>
      <%end
      indice= (indice+1) % 3
      end
      %>
      <%if indice>0%>
    </div>
      <%end%>
  </div>

  <div class="col-md-3">
    <%= erb :_twitter_widget, :layout => false %>
  </div>
</div>
