<div class="blackBg">
<div class="header-small header-prensa"></div>

<div class="header-description">
	<h1 class="headerTitle"><%=t("terminos.title")%></h1>
</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">

			<h3><%=t("terminos.title1")%></h3>
			<p><%=t("terminos.text1")%></p>
			<h3><%=t("terminos.title2")%></h3>
			<p><%=t("terminos.text2")%></p>
			<h3><%=t("terminos.title3")%></h3>
			<p><%=t("terminos.text3")%></p>
			<h3><%=t("terminos.title4")%></h3>
			<p><%=t("terminos.text4")%></p>
			<h3><%=t("terminos.title5")%></h3>
			<p><%=t("terminos.text5")%></p>
			<h3><%=t("terminos.title6")%></h3>
			<p><%=t("terminos.text6")%></p>
			<h3><%=t("terminos.title7")%></h3>
			<p><%=t("terminos.text7")%></p>
			<h3><%=t("terminos.title8")%></h3>
			<p><%=t("terminos.text8")%></p>
			<h3><%=t("terminos.title9")%></h3>
			<p><%=t("terminos.text9")%></p>
			<h3><%=t("terminos.title10")%></h3>
			<p><%=t("terminos.text10")%></p>
			<h3><%=t("terminos.title11")%></h3>
			<p><%=t("terminos.text11")%></p>
			<h3><%=t("terminos.title12")%></h3>
			<p><%=t("terminos.text12")%></p>
			<h3><%=t("terminos.title13")%></h3>
			<p><%=t("terminos.text13")%></p>
			<h3><%=t("terminos.title14")%></h3>
			<p><%=t("terminos.text14")%></p>
			<h3><%=t("terminos.title15")%></h3>
			<p><%=t("terminos.text15")%></p>
			<h3><%=t("terminos.title16")%></h3>
			<p><%=t("terminos.text16")%></p>
			<h3><%=t("terminos.title17")%></h3>
			<p><%=t("terminos.text17")%></p>
			<h3><%=t("terminos.title18")%></h3>
			<p><%=t("terminos.text18")%></p>
			<h3><%=t("terminos.title19")%></h3>
			<p><%=t("terminos.text19")%></p>
			<h3><%=t("terminos.title20")%></h3>
			<p><%=t("terminos.text20")%></p>
			<h3><%=t("terminos.title21")%></h3>
			<p><%=t("terminos.text21")%></p>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
