<div class="outcomes">
  <h4>
    Beneficios de <%= name %>
  </h4>
  <div class="outcome-list row w-100">
    <% outcomes.each do |outcome| %>
      <div class="col-12 col-xl-6 outcome-container">
        <div
          class="outcome row"
          style="border: <%= @primary_color %> solid 3px;"
        >
          <div
            class="check col-2"
            style="background-color: <%=@primary_color%>; border: <%= @primary_color %> solid 5px;"
          >
            <img src="/app/img/icons/check.svg" alt="check" />
          </div>
          <div class="content col-10">
            <p>
              <%= outcome %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>