<div
  class="service-info-container"
  style="border: <%= @primary_color %> 3px solid;"
>
  <%= erb :'services/landing_area/service_section/_value_proposition',
          locals: { name: service.name, value_proposition: service.value_proposition }%>
  <%= erb :'services/landing_area/service_section/_outcomes',
          locals: { outcomes: service.outcomes, name: service.name}%>
  <%= erb :'services/landing_area/service_section/_program',
          locals: { program: service.program, id: service.id, name: service.name }%>
  <%= erb :'services/landing_area/service_section/_target',
          locals: { target: service.target, name: service.name }%>
  <%= erb :'services/landing_area/service_section/_definitions_program', locals: { name: service.name, definitions: service.definitions }%>
</div>