<%
  if authors.length <= 1
%>
  <div class="invidivual-author">
    <% if defined?(title) %>
      <b><%= title %>: </b>
    <% else %>
      <img
        src="/img/icons/blue_user.svg"
        alt=""
        class="little-icon me-2"
        />
    <% end %>
    <%= authors[0] %>
  </div>
<% else%>
  <div class="more-authors rounded ">
    <% if defined?(title) %>
      <b><%= title %>: </b>
      <img
        src="/img/icons/blue_people.svg"
        alt=""
        class="little-icon me-2"
        />
    <% else %>
      <img
        src="/img/icons/blue_people.svg"
        alt=""
        class="little-icon me-2"
        />
      <%= title if defined?(title)%> +
    <% end %>

    <div class="more-authors__popup">
      <% authors.each do |author| %>
        <div class="invidivual-author">
          <img
            src="/img/icons/blue_user.svg"
            alt=""
            class="little-icon ms-4"
            />
          <%= author %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
