<div class="card course-card" style="width: 18rem;">
  <div class="course-card__image-container">
    <a href="<%=@course[:url] %>">
      <%= erb :'component/_image', locals: {image_url: @course[:cover], css_class: 'card-img-top course-card__image', alt: '...', has_webp: @course[:has_webp]}%>
    </a>
      <div class="course-card__flags">
        <% if @course[:is_open] %>
          <div>Próximas fechas</div>
        <%end %>
        <% if @course[:is_elearning] %>
          <div>
            <img src="/app/img/logos/logo-academia.png" />
          </div>
        <% end %>
      </div>
  </div>
  <div class="course-card__body">
    <div>
      <% if defined? (@course[:categories]) and
            not @course[:categories].nil? and
            session[:locale] == 'es'%>
        <p class="course-card__categories"><%= @course[:categories][0...-2] %></p>
      <%end %>
      <a href="<%= @course[:url] %>">
        <h6 class="card-title course-card__title"><%= @course[:title]%></h6>
      </a>
    </div>
    <p class="card-text course-card__subtitle"><%= @course[:subtitle]%></p>
    <ul class="course-card__items">
      <% unless @course[:duration].nil? || @course[:duration].to_i == 0 %>
        <li class="course-card__item">
          <img class="icon-card" src="/app/img/icons/Clock.svg" loading="lazy"/>
          <%= @course[:duration]%> hs
        </li>
      <% end %>
      <% unless @course[:date].to_s == '' %>
        <li class="course-card__item">
          <i class="fa fa-calendar"></i>
          <%= @course[:date]%>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="text-center">
    <a href="<%= @course[:url] %>" class="btn my-secondary-button ms-3 me-3">
      <% if !@course[:is_elearning]  %>
        <%= t('generals.buttons.more_info') %>
      <% else %>
        <%= t('generals.buttons.go_academy') %>
      <% end %>
    </a>
  </div>
</div>
