<div class="recommended-card">
  <div class="image-container">
    <a href="<%= item.url%>">
      <%= erb :'component/_image', locals: {image_url: item.cover, css_class: 'card-img-top recommended-card__image', alt: '...', has_webp: false}%>
    </a>
    <% if @is_training_program == true %>
      <div class="level-flag">
        <%= {'initial'=> 'Fundamentos',  
          'intermediate'=> 'Intermedio',
          'advanced'=> 'Avanzado'
        }[item.level] %>
      </div>
    <% else %>
    <div class="type-flag">
      <% if item.type == 'service' && item.is_training_program %>
        <%= t('recommended.type.training_program') %>
      <% else %>
        <%= t("recommended.type.#{item.type}") %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="card-body">
    <div>
      <a href="<%= item.url%>">
        <h3 class="card-title"><%= item.title%></h3>
      </a>
    </div>
    <p class="card-text subtitle"><%= item.subtitle%></p>
    <div class="button-container">
      <a href="<%= item.url%>" class="btn my-secondary-button ms-3 me-3">
        <%= t('generals.buttons.more_info') %>
      </a>
    </div>
  </div>
</div>
