
<div class="card resource-card" style="width: 18rem;" id="<%= resource.slug %>">
  <%= erb :'component/modals/_share_modal_button', locals: {
    id: resource.id,
    facebook: resource.fb_share,
    twitter: resource.tw_share,
    linkedin: resource.li_share,
    resource_link: resource.kleer_share_url
  }%>
  <div class="image-container">
    <%= erb :'component/_image', locals: {image_url: resource.cover, css_class: 'card-img-top', alt: '...', has_webp: false}%>
  </div>
  <h2 class="card-title title mobile-title hidden-element"><%= resource.title %></h2>

  <div class="card-body body">
    <h2 class="card-title title"><%= resource.title %></h2>
    <p class="card-text subtitle"><%= resource.description%></p>
    <ul class="items">
      <% unless resource.authors_list == [] %>
        <li>
          <%= erb :'component/cards/_authors_block', locals: {authors: resource.authors_list, title: 'Autores'} %>
        </li>
      <% end %>
      <% unless resource.translators_list == [] %>
        <li>
          <%= erb :'component/cards/_authors_block', locals: {authors: resource.translators_list, title: 'Tradujo'} %>
        </li>
      <% end %>
      <% unless resource.illustrators_list == [] %>
        <li>
          <%= erb :'component/cards/_authors_block', locals: {authors: resource.illustrators_list, title: 'Ilustró'} %>
        </li>
      <% end %>
      <% unless resource.comments == '' %>
        <li style="font-size: 12px; margin-top:5px">
          <b>Observaciones: </b> <%= resource.comments %>
        </li>
      <% end %>
    </ul>

  </div>
  <div class="footer">
    <% unless resource.buyit  == '' %>
      <p class="external-web">
        <a >Obtener en web externa</a>
      </p>
    <% end %>

    <% unless resource.landing == '' %>
      <button class="info my-secondary-button">
        <a href="<%= resource.landing %>">Mas info</a>
      </button>
    <% end %>
    <% unless resource.buyit == '' %>
      <button  class="my-primary-button button">
        <a href="<%= resource.buyit %>">
          Obtener
          <img src='/app/img/icons/ExternalLink.svg'/>
        </a>
      </button>
    <% end %>
    <% unless resource.getit == '' %>
      <button class="my-primary-button button">
        <a href="<%= resource.getit %>">
          Descargar
          <img src='/app/img/icons/Download.svg'/>
        </a>
      </button>
    <% end %>
  </div>
</div>

<script>
  {
      const id = '<%= resource.slug %>'
      let actualCard = document.getElementById(id)
      let body = actualCard.querySelector('.body')
      let mobileTitle = actualCard.querySelector('.mobile-title')
      let image = actualCard.querySelector('.image-container')
      let quantityButtons = actualCard.querySelector('.footer').children.length
      let height = body.offsetHeight
      let face = 1

      const collapseBody = (limit) => {
          let bodyString = body.children[1].innerHTML
          body.children[1].innerHTML = bodyString.substring(0, limit) + '...'
      }

      const turnCard = (value) => {
          if(value === 1){
              body.classList.add('hidden-element')
              mobileTitle.classList.remove('hidden-element')
              image.classList.remove('hidden-element')
          }else{
              body.classList.remove('hidden-element')
              image.classList.add('hidden-element')
              mobileTitle.classList.add('hidden-element')
          }

          face *= -1
      }

      if(window.innerWidth > 768){
          if (height > 350 && height < 380 && quantityButtons === 1){
              collapseBody(150)
          }else if (height > 280 && quantityButtons > 1) {
              collapseBody(100)
          }else if (height > 380 && height < 500){
              collapseBody(100)
          }
      }else{
          actualCard.onclick = () => turnCard(face)
          turnCard(face)
      }

  }

</script>
