<%
lang = session[:locale]
resources_path = RouterHelper.translate_path('recursos', lang)
landing_uri = "/#{lang}/#{resources_path}/#{resource.slug}"
%>
<div class="card resource-card" id="<%= resource.slug %>">
  <a href="<%= landing_uri %>">
  <div class="image-container">
    <% if resource.format && !resource.format.empty? %>
      <span class="format-badge"><%= resource.format %></span>
    <% end %>
    <%= erb :'component/_image', locals: {image_url: resource.cover, css_class: 'card-img-top', alt: '...', has_webp: false}%>
  </div>
  </a>
  <div class="card-body body">
    <a href="<%= landing_uri %>">
      <h2 class="card-title title"><%= resource.title %></h2>
    </a>
    <p class="card-text subtitle"><%= truncate_words(resource.description, 25)%></p>
  </div>
</div>
