<div class="course-trainers__individual-container position-relative">
  <%unless trainer.role.empty?%>
    <span class="badge badge-role"><%= t('resources.show.roles')[trainer.role.to_sym] || trainer.role%></span>
  <%end%>

  <img src="<%= "#{trainer.gravatar_picture_url.to_s || ""}?s=400" %>" class="rounded-circle mb-3" loading="lazy"/>
  <h6><%= trainer.name %> </h6>
  <p><%=@markdown_renderer.render(smart_truncate(trainer.bio, 210) || "")%></p>
  <div>
    <% if trainer.linkedin_url != '' and not trainer.linkedin_url.nil? %>
      <a href="<%= trainer.linkedin_url %>" class="me-2">
        <i class="fab fa-linkedin-in"></i>
      </a>
    <% end %>
    <% if trainer.twitter_username != ''  and not trainer.twitter_username.nil? %>
      <a href="https://x.com/<%= trainer.twitter_username %>">
        <i class="fab fa-twitter"></i>
      </a>
    <% end %>
  </div>
</div>
