<div class="course-trainers__individual-container position-relative">
  <%unless trainer.role.empty?%>
    <span class="badge badge-role"><%= t('resources.show.roles')[trainer.role.to_sym] || trainer.role%></span>
  <%end%>

  <img src="<%= "#{trainer.gravatar_picture_url.to_s || ""}?s=400" %>" class="rounded-circle mb-3" loading="lazy"/>
  <h6><%= trainer.name %> </h6>
  <p><%=@markdown_renderer.render(smart_truncate(trainer.bio, 210) || "")%></p>
  <div>
    <% if trainer.linkedin_url != '' and not trainer.linkedin_url.nil? %>
      <a href="<%= trainer.linkedin_url %>" class="me-2">
        <i class="fab fa-linkedin-in"></i>
      </a>
    <% end %>
    <% if trainer.twitter_username != ''  and not trainer.twitter_username.nil? %>
      <a href="https://x.com/<%= trainer.twitter_username %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/></svg>
      </a>
    <% end %>
  </div>
</div>
