<% if !@category.nil? %>
  &nbsp;
  <div class="well categoria-<%= @category.codename %>">
    Otros entrenamientos de esta categoría:<br/>&nbsp;
    <div class="list-group">
      <% @category.event_types.sort_by { |et| et.name}.each do |event_type| %>
        <a href="/<%=session[:locale]%>/categoria/<%=@category.codename%>/<%= event_type.uri_path%>" class="list-group-item">
          <h3 class="list-group-item-heading"><%=event_type.name%></h3>
          <p class="list-group-item-text">
            <%=event_type.duration%> horas.
          </p>
        </a>
      <% end %>
    </div>
  </div>
  &nbsp;
<% end %>

