<section id="course-hero">
  <div class="row h-100">
    <div class="col-md-9 course-hero__text">
      <div class="course-hero__flag">
        <p>
          <img src="/app/img/icons/VideoCamera.svg" width="20" height="20" alt="Video camera icon">
          Online
        </p>
      </div>
      <h1><%= @event_type.name %></h1>
      <h2 class="hero-description"><%= @event_type.subtitle %></h2>
    </div>
    <div class="col-md-3 course-hero__button">
        <a data-bs-toggle="modal" data-bs-target="#incompany-quote-modal">
          <strong><%= t("course_landing.quote_incompany") %></strong>
        </a>
    </div>
  </div>
  <img src="<%= cdn('website-assets/yellow_oval.svg') %>" alt="" class="course-hero__yellow-oval" width="222" height="244">
  <img src="<%= cdn('website-assets/red_bean.svg') %>" alt="" class="course-hero__red-bean" width="117" height="75"/>
  <img src="<%= cdn('website-assets/rustic_worm.svg') %>" alt="" class="course-hero__rustic-worm" width="117" height="75"/>
</section>
