<div class="course-company-panel">
  <p class="m-0">
    ¡No te pierdas el próximo cursos a comenzar el #/#
  </p>
  <a>
    Inscribeme ahora
  </a>
</div>
<%= erb :'training/landing_course/hero' %>
<%= erb :'training/landing_course/description' %>
<%= erb :'training/landing_course/learnings' %>
<%= erb :'training/landing_course/qna' %>
<%= erb :'training/landing_course/recipients' %>
<%= erb :'training/landing_course/next_editions' %>
<%= erb :'training/landing_course/trainers' %>
<%= erb :'training/landing_course/program' %>

