<div class="course-company-panel">
  <% if @event_type.public_editions == [] %>
    <p class="m-0">
      <strong>
        <%= t("course_landing.flash.title") %>
      </strong>
    </p>
    <a data-bs-toggle="modal" data-bs-target="#mail-modal">
          <strong><%= t('course_landing.flash.contact_us') %></strong>
    </a>
  <% else %>
    <p class="m-0">
      <strong>
        ¡No te pierdas el próximo curso a comenzar el <%= @event_type.public_editions[0].date %>!
      </strong>
    </p>
    <a href="#course-next-editions">
      <strong><%= t("course_landing.flash.register") %></strong>
    </a>
  <% end %>
</div>
<%= erb :'training/landing_course/hero' %>
<%= erb :'training/landing_course/description' %>
<%= erb :'training/landing_course/takeaways' %>
<%= erb :'training/landing_course/recipients' %>
<%= erb :'training/landing_course/next_editions' %>
<%= erb :'training/landing_course/program' %>
<%= erb :'training/landing_course/trainers' %>
<%= erb :'training/landing_course/testimonies' %>
<%= erb :'training/landing_course/qna' %>
<% #= erb :'component/sections/related_courses' %>
<%= erb :'component/sections/recommended', locals: { recommended: @event_type.recommended }%>

