<%
  separator = '<h4>'
  question_separator = '</h4>'

  answers = []
  questions = []

  qna = @markdown_renderer.render(@event_type.faq).split(separator)

  qna.each do |complete_question|
    separated_question = complete_question.split(question_separator)
    questions.push(separated_question[0])
    answers.push(separated_question[1])
  end

  questions = questions.compact
  answers = answers.compact

%>
<%unless questions == []%>
<section id="course-qna">
  <div class="container p-5 course-qna-container">
    <h2 class="text-center mb-5 common-subtitle"><%= t("course_landing.faq") %></h2>
    <% questions.each.with_index do |question, index| %>

      <a data-bs-toggle="collapse" href="#question<%=index %>" role="button" aria-expanded="false" aria-controls="question<%=index %>">
        <div class="course-qna__question">
          <h3 class="common-item"><%= question %></h3>
          <img src="/app/img/icons/arrow.svg" loading="lazy"/>
        </div>
      </a>
      <div class="collapse course-qna__answer" id="question<%=index %>">
        <%= answers[index] %>
      </div>
    <% end %>
  </div>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/blue_oval.svg" class="desktop_figure course-program__blue-oval" loading="lazy"/>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_oval.svg" class="desktop_figure course-program__red-oval" loading="lazy"/>
</section>
<%end%>
