<section id="aboutus-cultura" class="aboutus-cultura">
  <div class="container">
    <h2><%= t('aboutus.cultura.title') %></h2>
    <p class="aboutus-cultura__description"><%= t('aboutus.cultura.description') %></p>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="aboutus-value-card">
          <h4><%= t('aboutus.cultura.value1_title') %></h4>
          <p><%= t('aboutus.cultura.value1_text') %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutus-value-card">
          <h4><%= t('aboutus.cultura.value2_title') %></h4>
          <p><%= t('aboutus.cultura.value2_text') %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutus-value-card">
          <h4><%= t('aboutus.cultura.value3_title') %></h4>
          <p><%= t('aboutus.cultura.value3_text') %></p>
        </div>
      </div>
    </div>
  </div>
</section>
