<section id="aboutus-filosofia" class="aboutus-filosofia">
  <div class="container">
    <h2><%= t('aboutus.filosofia.title') %></h2>
    <p class="aboutus-filosofia__description"><%= t('aboutus.filosofia.description') %></p>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="aboutus-pillar-card">
          <h4><%= t('aboutus.filosofia.pillar1_title') %></h4>
          <p><%= t('aboutus.filosofia.pillar1_text') %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutus-pillar-card">
          <h4><%= t('aboutus.filosofia.pillar2_title') %></h4>
          <p><%= t('aboutus.filosofia.pillar2_text') %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutus-pillar-card">
          <h4><%= t('aboutus.filosofia.pillar3_title') %></h4>
          <p><%= t('aboutus.filosofia.pillar3_text') %></p>
        </div>
      </div>
    </div>
  </div>
</section>
