<div class="blackBg">
	<div class="header-small header-about-us"></div>
	<div class="header-description">
		<h1 class="headerTitle"><%=t("we_are.title")%></h1>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center"><%=t("we_are.subtitle")%></h2>
			<h3 class="text-center title-somos"><%=t("we_are.description")%></h3>
		</div>
	</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

</div>

<div class="container-fluid containerWithPadding text-center fondo-celeste">

  <div class="col-md-12 no-hpadding">
	<div class="item">
	  <div class="container somos">
		<% @kleerers.each do |kleerer| %>
			<div class="col-sm-3 text-center">
			  <div class="img-container">
				<img src="<%=kleerer.gravatar_picture_url%>?s=400" class="img-circle">
			  </div>
		 	  <span class="nombreKleerer"><%=kleerer.name%></span>
				<% if kleerer.linkedin_url != "" %>
          <%= external_url_anchor kleerer.linkedin_url%>
						<i class="fa fa-linkedin"></i>
					</a>
				<% end %>

				<% if kleerer.twitter_username != "" %>
          <%= external_url_anchor "https://twitter.com/#{kleerer.twitter_username}"%>
						<i class="fa fa-twitter"></i>
					</a>
				<% end %>
			</div>
		<% end %>
	  </div>
	</div>
  </div>
</div>

