<section id="aboutus-kleerers" class="aboutus-kleerers">
  <div class="container">
    <h2 class="text-center mb-5"><%= t('aboutus.equipo.title') %></h2>
    <div class="row justify-content-center">
      <% @kleerers.each do |kleerer| %>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="aboutus-member-card">
            <div class="aboutus-member-card__photo">
              <img
                src="<%= kleerer.gravatar_picture_url %>?s=400"
                alt="<%= kleerer.name %>"
                loading="lazy"
                width="400"
                height="400"
              />
            </div>
            <div class="aboutus-member-card__info">
              <h5 class="aboutus-member-card__name"><%= kleerer.name %></h5>
              <% if kleerer.role && kleerer.role != '' %>
                <p class="aboutus-member-card__role"><%= kleerer.role %></p>
              <% end %>
              <% bio_text = kleerer.bio.to_s.gsub(/[>#*\r]/, '').strip
                 if bio_text != '' %>
                <p class="aboutus-member-card__bio"><%= truncate_words(bio_text, 30) %></p>
              <% end %>
              <div class="aboutus-member-card__social">
                <% if kleerer.linkedin_url != '' %>
                  <%= external_url_anchor kleerer.linkedin_url %>
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                <% end %>
                <% if kleerer.twitter_username != '' %>
                  <%= external_url_anchor "https://x.com/#{kleerer.twitter_username}" %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/></svg>
                  </a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
