<%=erb :'component/_generic_hero', locals: {title: t('privacy.title'), subtitle: ''} %>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">

			<% if (session[:locale] == "en") %>
				<p><%=t("privacy.text")%></p>
			<% end %>

			<h3><%=t("privacy.title1")%></h3>
			<p><%=t("privacy.text1")%></p>
			<h3><%=t("privacy.title2")%></h3>
			<p><%=t("privacy.text2")%></p>
			<h3><%=t("privacy.title3")%></h3>
			<p><%=t("privacy.text3")%></p>
			<h3><%=t("privacy.title4")%></h3>
			<p><%=t("privacy.text4")%></p>
			<h3><%=t("privacy.title5")%></h3>
			<p><%=t("privacy.text5")%></p>
			<h3><%=t("privacy.title6")%></h3>
			<p><%=t("privacy.text6")%></p>
			<h3><%=t("privacy.title7")%></h3>
			<p><%=t("privacy.text7")%></p>

		</div>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
