<%=erb :'component/_generic_hero', locals: {title: t('terms.title'), subtitle: ''} %>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">

			<h3><%=t("terms.title1")%></h3>
			<p><%=t("terms.text1")%></p>
			<h3><%=t("terms.title2")%></h3>
			<p><%=t("terms.text2")%></p>
			<h3><%=t("terms.title3")%></h3>
			<p><%=t("terms.text3")%></p>
			<h3><%=t("terms.title4")%></h3>
			<p><%=t("terms.text4")%></p>
			<h3><%=t("terms.title5")%></h3>
			<p><%=t("terms.text5")%></p>
			<h3><%=t("terms.title6")%></h3>
			<p><%=t("terms.text6")%></p>
			<h3><%=t("terms.title7")%></h3>
			<p><%=t("terms.text7")%></p>
			<h3><%=t("terms.title8")%></h3>
			<p><%=t("terms.text8")%></p>
			<h3><%=t("terms.title9")%></h3>
			<p><%=t("terms.text9")%></p>
			<h3><%=t("terms.title10")%></h3>
			<p><%=t("terms.text10")%></p>
			<h3><%=t("terms.title11")%></h3>
			<p><%=t("terms.text11")%></p>
			<h3><%=t("terms.title12")%></h3>
			<p><%=t("terms.text12")%></p>
			<h3><%=t("terms.title13")%></h3>
			<p><%=t("terms.text13")%></p>
			<h3><%=t("terms.title14")%></h3>
			<p><%=t("terms.text14")%></p>
			<h3><%=t("terms.title15")%></h3>
			<p><%=t("terms.text15")%></p>
			<h3><%=t("terms.title16")%></h3>
			<p><%=t("terms.text16")%></p>
			<h3><%=t("terms.title17")%></h3>
			<p><%=t("terms.text17")%></p>
			<h3><%=t("terms.title18")%></h3>
			<p><%=t("terms.text18")%></p>
			<h3><%=t("terms.title19")%></h3>
			<p><%=t("terms.text19")%></p>
			<h3><%=t("terms.title20")%></h3>
			<p><%=t("terms.text20")%></p>
			<h3><%=t("terms.title21")%></h3>
			<p><%=t("terms.text21")%></p>

		</div>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
