<section id="aboutus-trayectoria" class="aboutus-trayectoria">
  <div class="container">
    <h2><%= t('aboutus.trayectoria.title') %></h2>
    <p class="aboutus-trayectoria__description"><%= t('aboutus.trayectoria.description') %></p>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="aboutus-timeline-card">
          <span class="aboutus-timeline-card__label">2008</span>
          <p><%= t('aboutus.trayectoria.past') %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutus-timeline-card aboutus-timeline-card--present">
          <span class="aboutus-timeline-card__label">Hoy</span>
          <p><%= t('aboutus.trayectoria.present') %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutus-timeline-card">
          <span class="aboutus-timeline-card__label">Futuro</span>
          <p><%= t('aboutus.trayectoria.future') %></p>
        </div>
      </div>
    </div>
  </div>
</section>
