<!-- Button trigger modal -->
<button type="button" class="share-button" data-bs-toggle="modal" data-bs-target="#<%="shareModal#{id}"%>">
  <img src="/app/img/icons/Share.svg" loading="lazy"/>
</button>

<!-- Modal -->
<div class="modal fade modal-share" id="<%="shareModal#{id}"%>" tabindex="-1" aria-labelledby="<%="shareModal#{id}label"%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>Compartir</h3>
        <div class="share-modal__buttons-container">
          <a href="<%= "https://www.facebook.com/sharer/sharer.php?#{facebook}" %>">
            <img src="/app/img/icons/Facebook.svg" loading="lazy"/>
          </a>
          <a href="<%= "https://twitter.com/intent/tweet?#{twitter}" %>">
            <img src="/app/img/icons/Twitter.svg" loading="lazy"/>
          </a>
          <a href="<%= "http://www.linkedin.com/shareArticle?#{linkedin}" %>">
            <img src="/app/img/icons/Linkedin.svg" loading="lazy"/>
          </a>
        </div>
        <div class="copy-link-container">
          <input
            class="share-link-input"
            id="<%="shareLink#{id}"%>"
            value="<%= resource_link %>"
            >
            <button id="<%="copyButton#{id}"%>" class="copy-button">copy link</button>
          </input>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    {
        const copyButton = document.querySelector('#<%="copyButton#{id}"%>');
        const copyLink = document.querySelector('#<%="shareLink#{id}"%>');

        copyButton.onclick =
        () =>{
            navigator.clipboard.writeText(document.querySelector('#<%="shareLink#{id}"%>').value)
            copyLink.value = 'copied!'
        }
    }
</script>
