<div class="card course-card" style="width: 18rem;">
  <div class="course-card__image-container">
  <%#TODO: alt text%>
    <a href="<%= @course[:url] %>">
      <%= erb :'component/_image', locals: {image_url: @course[:cover], css_class: 'card-img-top course-card__image', alt: '...', has_webp: @course[:has_webp]}%>
    </a>

      <div class="course-card__flags">
        <% if @course[:is_open] %>
          <div>Abierto</div>
        <%end %>
        <% if @course[:is_incompany] %>
          <div>In Company</div>
        <% end %>
        <% if @course[:is_elearning] %>
          <div>E-learning</div>
        <% end %>
      </div>

  </div>
  <div class="card-body course-card__body">
    <div>
      <% if defined? (@course[:categories]) and not @course[:categories].nil? %>
        <p class="course-card__categories"><%= @course[:categories][0...-2] %></p>
      <%end %>
      <a href="<%= @course[:url] %>">
        <h6 class="card-title course-card__title"><%= @course[:title]%></h6>
      </a>
    </div>
    <p class="card-text course-card__subtitle"><%= @course[:subtitle]%></p>
    <ul class="course-card__items">
      <% unless @course[:duration].nil? || @course[:duration].to_i == 0 %>
        <li class="course-card__item">
          <img class="icon-card" src="/app/img/icons/Clock.svg" />
          <%= @course[:duration]%> hs
        </li>
      <% end %>
      <% unless @course[:date].to_s == '' %>
        <li class="course-card__item">
          <i class="fa fa-calendar"></i>
          <%= @course[:date]%>
        </li>
      <% end %>
  <%#TODO: country%>
      <li class="course-card__item">
        <img class="icon-card" src="/app/img/icons/VideoCamera.svg" />
        Online <%#= @course[:country]%>
      </li>
      <%#if @course[:certified] > 0%>
<!--        <li class="course-card__item">-->
<!--          <img class="icon-card" src="/app/img/icons/Medal.svg" />-->
<!--          # if @course[:certified] == 1-->
<!--                t('home2022.home_courses.card.certified.kleer')-->
<!--             # else-->
<!--                # t('home2022.home_courses.card.certified.scrumalliance')-->
<!--             # end -->
<!--        </li>-->
      <%#end%>
    </ul>
  </div>
  <div class="text-center mt-4">
    <a href="<%= @course[:url] %>" class="btn my-secondary-button ms-4 me-4">
      <% if !@course[:is_elearning]  %>
        <%= t('generals.buttons.more_info') %>
      <% else %>
        <%= t('generals.buttons.go_academy') %>
      <% end %>
    </a>
  </div>
</div>
