<div class="card course-card" style="width: 18rem;">
  <div class="course-card__image-container">
  <%#TODO: alt text%>
    <%= erb :'component/_image', locals: {image_url: @course[:cover], css_class: 'card-img-top course-card__image', alt: '...'}%>
    <% if @course[:open] %>
      <div class="course-card__flags">
        <div>Abierto</div>
      </div>
    <% end %>

  </div>
  <div class="card-body course-card__body">
    <h6 class="card-title course-card__title"><%= @course[:title]%></h6>
    <p class="card-text course-card__subtitle"><%= @course[:subtitle]%></p>
    <ul class="course-card__items">
      <li class="course-card__item">
        <img class="icon-card" src="/app/img/icons/Clock.svg" />
        <%= @course[:duration]%> hs
      </li>
      <li class="course-card__item">
        <i class="fa fa-calendar"></i>
        <%= @course[:date]%>
      </li>
  <%#TODO: country%>
      <li class="course-card__item">
        <img class="icon-card" src="/app/img/icons/VideoCamera.svg" />
        Online <%#= @course[:country]%>
      </li>
      <%if @course[:certified] > 0%>
        <li class="course-card__item">
          <img class="icon-card" src="/app/img/icons/Medal.svg" />
          <%= if @course[:certified] == 1
                t('home2022.home_courses.card.certified.kleer')
             else
                t('home2022.home_courses.card.certified.scrumalliance')
             end
          %>
        </li>
      <%end%>
    </ul>
  </div>
  <div class="text-center mt-4">
    <a href="#" class="btn my-secondary-button"><%= t('generals.buttons.more_info') %></a>
  </div>
</div>
