<footer>
  <div class="container-fluid footer__body">
    <div class="row">
      <% t('footer_menu').each do  |item| %>
        <div class="col-6 col-md-2">
          <h6><%= item[:title] %></h6>
          <ul>
            <% item[:items].each do |subitem| %>
              <li><a href='<%= "/#{session[:locale]}#{subitem[:url]}"%>'>
                  <%= subitem[:title] %>
              </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-6 col-md-3">
        <h6><%= t("generals.social_media.title") %></h6>
        <% if session[:locale] == 'es'%>
        <div class="button-container mt-2 mb-3">
          <button class="btn my-secondary-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Suscríbete al Newsletter</button>
        </div>
        <%end%>
        <%= erb :'component/_social_media' %>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-bottom">
      <ul class="footer-botom__list">
        <li>Copyright &copy; Kleer 2024 <span>|</span></li>
        <% if (session[:locale] == "es") %>
          <li><a href="/<%=session[:locale]%>/privacy"> Declaración de privacidad </a> <span>|</span></li>
          <li><a href="/<%=session[:locale]%>/terms"> Términos y condiciones</a> <span>|</span></li>
        <% end %>
        <% if (session[:locale] == "en") %>
          <li><a href="/<%=session[:locale]%>/privacy"> Privacy Policy </a> <span>|</span></li>
          <li><a href="/<%=session[:locale]%>/terms"> Terms of service</a> <span>|</span></li>
        <% end %>
        <% if (session[:locale] == "en") %><li><a href="/es/"><strong>ESPAÑOL</strong></a></li><% end %>
        <% if (session[:locale] == "es") %><li><a href="/en/"><strong>ENGLISH</strong></a></li><% end %>
      </ul>
  </div>
  <%= erb :'component/forms/_newsletter'
</footer>
