<form action="/send-mail" method="post" class="needs-validation" novalidate>
  <div class="row">
    <div class="mb-3 col-xs-12">
      <label class="form-label"><%= t("contact-us-form.name-input.label") %></label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name-input"
        required>
      <div class="invalid-feedback">
        <%= t("contact-us-form.name-input.error-message") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-xs-12 col-md-6">
      <label class="form-label"><%= t("contact-us-form.email-input.label") %></label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email-input"
        required>
      <div class="invalid-feedback">
        <%= t("contact-us-form.email-input.error-message") %>
      </div>
    </div>
    <div class="mb-3 col-xs-12 col-md-6">
      <label class="form-label"><%= t("contact-us-form.phone-input.label") %></label>
      <input
        type="text"
        class="form-control"
        id="phone-input"
        name="phone">
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label"><%= t("contact-us-form.message-input.label") %></label>
    <div id="emailHelp" class="form-text"><%= t("contact-us-form.message-input.sub-label") %></div>
    <textarea
      class="form-control"
      name="message"
      id="message-input"
      rows="3"
      required></textarea>

    <div class="invalid-feedback">
      <%= t("contact-us-form.message-input.error-message") %>
    </div>
  </div>
  <div class="g-recaptcha"
  data-sitekey="6Ld9MFkjAAAAAAVJamqOc2u72jHMzKx1FO5GX5bZ"
  name="captcha"
  data-callback="enableButton"
  ></div>


  <input type="hidden" id="input-context" name="context" value="<%= request.path_info %>">
  <input type="hidden" name="csrf_token" value="<%= session[:csrf] %>">
  <div class="btn-center-container">
    <button type="submit"
            id="submit"
            class="btn my-primary-button"
            value="Submit">
      <%= t("contact-us-form.button.text") %></button>
  </div>
</form>
<script>

  function enableButton() {
    document.getElementById("submit").disabled = false;
  }


  (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
          .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()

                  }
                  form.classList.add('was-validated')
              }, false)
          })
  })()
</script>
