<div class="card generic-card m-4" style="width: 16rem;" id="@id">
  <img src="<%=@image_cover %>" class="card-img-top" alt="<%=@title %>">
  <div class="card-body generic-card__description">
    <h5 class="card-title"><%=@title %></h5>
    <p class="card-text">
      <%= @description %>
    </p>
    <ul class="generic-card__list">
      <%if @authors %>
        <li>
          <strong>Autores: </strong>
          <%= @authors %>
        </li>
      <%end %>
      <%if @translators %>
        <li>
          <strong>Traductores: </strong>
          <%= @translators %>
        </li>
      <%end %>
      <%if @comments %>
        <li>
          <strong>Observaciones: </strong>
          <%= @comments %>
        </li>
      <%end %>
    </ul>
    <div class="container share-buttons">
<!--      <div class="row">-->
<!--        <div class="col-4">-->
          <%=
            external_url_anchor2 "https://www.facebook.com/sharer/sharer.php?#{@fb_share}",
                                'class="share share-facebook"',
                                'SHARE FB'
          %>
<!--        </div>-->
<!--        <div class="col-4">-->
          <%=
            external_url_anchor2 "https://twitter.com/intent/tweet?#{@tw_share}",
                                'class="share share-twitter" data-size="large" rel="me" rel="canonical"',
                                'SHARE TWITTER'

          %>
<!--        </div>-->
<!--        <div class="col-4">-->
          <%=
            external_url_anchor2 "http://www.linkedin.com/shareArticle?#{@li_share}",
                                'class="share share-linkedin"',
                                'SHARE LINKEDIN'
          %>
<!--        </div>-->
<!--      </div>-->
    </div>
    <a href="<%= @landing %>>" class="btn btn-primary">Más Info</a>
  </div>
</div>
