<div class="card generic-card m-4" style="width: 18rem;" id="<%=@id%>">
  a
  <img src="<%=@image_cover %>" class="card-img-top" alt="<%=@title %>">
  <div class="card-body generic-card__description">
    <h5 class="card-title generic-card__title"><%=@title %></h5>
    <%if @card_subtitle %>
      <h6 class="card-subtitle mb-2 text-muted"><%= @card_subtitle %></h6>
    <%end %>  
    <p class="card-text">
      <%= @description %>
    </p>
    <ul class="generic-card__list">
      <%if @authors %>
        <li>
          <strong>Autores: </strong>
          <%= @authors %>
        </li>
      <%end %>
      <%if @translators %>
        <li>
          <strong>Traductores: </strong>
          <%= @translators %>
        </li>
      <%end %>
      <%if @comments != ''  and @comments%>
        <li>
          <strong>Observaciones: </strong>
          <%= @comments %>
        </li>
      <%end %>
    </ul>

    <% unless @is_book %>
      <div class="container share-buttons">
            <%=
              external_url_anchor2("https://www.facebook.com/sharer/sharer.php?#{@fb_share}",
                                  'class="share share-facebook"',
                                  'SHARE FB') unless @fb_share.to_s == ''
            %>
            <%=
              external_url_anchor2("https://twitter.com/intent/tweet?#{@tw_share}",
                                  'class="share share-twitter" data-size="large" rel="me" rel="canonical"',
                                  'SHARE TWITTER') unless @li_share.to_s == ''

            %>
            <%=
              external_url_anchor2("http://www.linkedin.com/shareArticle?#{@li_share}",
                                  'class="share share-linkedin"',
                                  'SHARE LINKEDIN') unless @li_share.to_s == ''
            %>
            &nbsp;
      </div>
    <%end %>
    <div class="button-container text-center">
      <a href="<%= @landing %>" class="btn my-secondary-button generic-card__button">Más Info</a>
    </div>

  </div>
</div>
