<% if (session[:locale] == "en")
    lang_id = 'change_to_es_top'
    lang_url = '/es/'
    lang_text = 'ESPAÑOL'
  else
    lang_id = 'change_to_en_top'
    lang_url = '/en/'
    lang_text = 'ENGLISH'
  end
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a id="logo" class="navbar-brand a" href="/<%=session[:locale]%>">
      <img src="/app/img/black_logo.png" alt="Kleer" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/<%=session[:locale]%>/agilidad-organizacional"><%=t('side_menu.coaching')%></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=t('side_menu.courses')%>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/<%=session[:locale]%>/catalogo"><%=t('side_menu.sync_courses')%></a></li>
            <li><a class="dropdown-item" href="https://academia.kleer.la/"><%=t('side_menu.campus')%></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/<%=session[:locale]%>/clientes"><%=t('side_menu.clients')%></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=t('side_menu.we_publish')%>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/<%=session[:locale]%>/recursos"><%=t('side_menu.recursos')%></a></li>
            <li><a class="dropdown-item" href="/<%=session[:locale]%>/blog"><%=t('side_menu.blog')%></a></li>
            <li><a class="dropdown-item" href="/<%=session[:locale]%>/libros"><%=t('side_menu.books')%></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/<%=session[:locale]%>/somos"><%=t("side_menu.us")%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/en">ENGLISH</a>
        </li>
      </ul>
      <div>
        <div class="social-media navbar-text">
          <ul class="social-media__list">
            <li class="list-inline-item"><a href="https://www.linkedin.com/company/541684"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/kleer_la"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw"><i class="fa fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/kleer.la/"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://facebook.com/kleer.la"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<a href="https://api.whatsapp.com/send/?phone=573207666176&text&app_absent=0" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>
