<% if (session[:locale] == "en")
    lang_id = 'change_to_es_top'
    lang_url = '/es/'
    lang_text = 'ESPAÑOL'
  else
    lang_id = 'change_to_en_top'
    lang_url = '/en/'
    lang_text = 'ENGLISH'
  end

   navbar_items = t('navbar')
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
  <div class="container-fluid navbar-content">
    <a id="logo" class="navbar-brand a" href="/<%=session[:locale]%>">
      <picture>
        <source srcset="/app/img/black_logo.webp" type="image/webp">
        <img src="/app/img/black_logo.png" alt="Kleer" />
      </picture>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%navbar_items.each do |item| %>
          <%if item[:options] %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%=item[:text]%>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%item[:options].each do |option| %>
                  <li>
                    <a class="dropdown-item" href="<%= "#{option[:inside] ? '/'+session[:locale] : ''}#{option[:url]}" %>">
                      <%=option[:text]%>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <%else %>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="<%= "#{item[:inside] ? '/'+session[:locale] : ''}#{item[:url]}" %>">
                <%=item[:text]%>
              </a>
            </li>
          <%end %>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="<%= lang_url %>"> <%= lang_text %> </a>
        </li>
      </ul>
      <div class="social-container">
        <%= erb :'component/_social_media' %>
      </div>
    </div>
  </div>
</nav>
<a href="https://api.whatsapp.com/send/?phone=573207666176&text&app_absent=0" class="float whatsapp-button" target="_blank">
  <img class="" src="/app/img/icons/Whatsapp.svg" />
</a>


