<% require './lib/timezone_converter'
   require 'date'

   event_type = event.event_type
   date = format_date_range(event.date, event.finish_date, session[:locale])
   info_time =  t("course_landing.event.time", :starts => event.start_time.strftime("%k:%M"), :ends => event.end_time.strftime("%k:%M") )

   today = Date.today
   eb_date = Date.parse(event.eb_date)

   coupon = event_type.coupons[0]

   list_price = event.list_price.to_i
   price_off = event.eb_price.to_i
   using_coupon = false

   if coupon
     coupon_price = list_price - (list_price * coupon.percent_off.to_i / 100)

      if coupon_price < price_off
        price_off = coupon_price
        using_coupon = true
      end
   end
%>

<div class="row event-item pb-4 mt-4 ms-2 me-2">
  <% if with_name %>
    <div class="col-lg-3">
      <a href="<%= event_type.uri_path %>"><h6><%= event_type.name %></h6></a>
      <p id="place-<%=event_type.id%>">
        <% if event.country_iso == 'OL' %>
          <img src="/app/img/icons/VideoCamera.svg">
          Online
        <% else %>
          <img src="/img/flags/<%= event.country_iso.downcase %>.png"/>
          <%= "#{event.city} - #{event.country_name}" %><br>
          <%= [event.place.to_s, event.address.to_s].uniq.join(' - ') %>
        <% end %>
      </p>
    </div>
    <div class="col-4 col-lg-2 next-edition-item">
      <p>
        <%= date %>
      </p>
      <% if with_name %>
        <strong class="duration-mobile"><%= event.event_type.duration %> horas</strong>
      <% end %>
    </div>
  <% else %>
    <div class="col-4 col-lg-1 next-edition-item">
      <%= format_date_range(event.date, event.finish_date, session[:locale]) %>
    </div>
    <div class="col-4 col-lg-1 next-edition-item">
      <p>
        <img src="/app/img/icons/Clock.svg">
        <%= event.event_type.duration %>hs
      </p>
    </div>
  <% end %>

  <% unless with_name %>
    <div class="col-4 col-lg-2 next-edition-item">
      <p>
        <% if event.online? || event.blended_learning? %>
          <img src="/app/img/icons/VideoCamera.svg">
          Online
        <% else %>
          <img src="/img/flags/<%= event.country_iso.downcase %>.png"/>
          <%= "#{event.city}, #{event.country}" %><br>
          <%= [event.place.to_s, event.address.to_s].uniq.join(' - ')
          %>
        <% end %>
      </p>
    </div>
  <% end %>
  <div class="col-6 col-lg-2 next-edition-item">
    <% if with_name %>
      <strong class="duration-desktop"><%= event.event_type.duration %>hs</strong>
    <% end %>
    <%= info_time %>
    <a class="small-label time-zone" href="<%=event.timezone_url%>">
      <%= "#{TimezoneConverter.gmt(event.time_zone_name)} #{event.time_zone_name}" %>
    </a>
  </div>
  <div class="col-4 col-lg-2 next-edition-item" id="currency-<%=event_type.id%>">
    <strong><%= "#{event.currency_iso_code} #{money_format(list_price)}" || 'precio' %></strong>
  </div>
  <div class="col-4 col-lg-2 next-edition-item">
    <% if using_coupon %>
      <strong class="price event-price"><%= "#{event.currency_iso_code} #{money_format(price_off)}"%></strong>
      <img src="<%= coupon.icon %>" class="coupon-icon"/>
    <% else event.eb_price and event.eb_date and eb_date >= today %>
      <strong class="price"><%= "#{event.currency_iso_code} #{money_format(event.eb_price.to_i)}"%></strong>
      <p class="small-label">hasta <%= event.eb_date %></p>
    <% end %>
  </div>
  <div class="col-4 col-lg-1 next-edition-item">
    <div class="btn-center-container" id="pay-button-<%=format_date_range(event.date, event.finish_date, session[:locale]).to_s.downcase.gsub(' ','-')%>">
      <% if event.is_sold_out || event.registration_ended?%>
        <button class="my-primary-button p-2"
                href='' style="filter: grayscale(100%); max-width: 150px; width: 130px">
          Completo
        </button>
      <% else
        uri = "https://eventos.kleer.la/events/#{event.id}/participants/new?lang=#{session[:locale]}&utm_source=kleer.la&utm_campaign=kleer.la"
        uri = event.registration_link unless event.registration_link.empty?
      %>
        <a id="buy-<%=event_type.id%>"
           class="my-primary-button p-2"
           style="max-width: 150px; width: 130px"
           href='<%= uri %>'>Comprar
        </a>
      <% end %>
    </div>

  </div>

</div>
