<% 
require './lib/timezone_converter'
require 'date'

 pricing = calculate_event_pricing(event)

 show_two_prices = true if defined?(show_two_prices).nil? || show_two_prices.nil?
 last_column_width = show_two_prices ? 1 : 3
 popup = specific_conditions_popup(event, @markdown_renderer)
%>

<div class="row event-item pb-4 mt-4 ms-2 me-2">
  <% if with_name %>
    <div class="col-lg-3">
      <a href="<%= event.event_type.uri_path %>"><h6><%= event.event_type.name %></h6></a>
      <p id="place-<%= event.event_type.id %>">
        <% if event.country_iso == 'OL' %>
          <img src="/app/img/icons/VideoCamera.svg" loading="lazy">
          Online
        <% else %>
          <img src="/img/flags/<%= event.country_iso.downcase %>.png" loading="lazy"/>
          <%= "#{event.city} - #{event.country_name}" %><br>
          <%= [event.place.to_s, event.address.to_s].uniq.join(' - ') %>
        <% end %>
      </p>
    </div>
    <div class="col-4 col-lg-2 next-edition-item">
      <%= popup[:open] if popup %>
        <%= format_date_range(event.date, event.finish_date, session[:locale]) %>
      <%= popup[:close] if popup %>
      <% if with_name %>
        <strong class="duration-mobile"><%= event.duration %> horas</strong>
      <% end %>
    </div>
  <% else %>
    <div class="col-4 col-lg-1 next-edition-item">
      <%= popup[:open] if popup %>
        <%= format_date_range(event.date, event.finish_date, session[:locale]) %>
      <%= popup[:close] if popup %>
    </div>
    <div class="col-4 col-lg-1 next-edition-item">
      <p>
        <img src="/app/img/icons/Clock.svg" loading="lazy">
        <%= event.duration %>hs
      </p>
    </div>
  <% end %>

  <% unless with_name %>
    <div class="col-4 col-lg-2 next-edition-item">
      <p>
        <% if event.online? || event.blended_learning? %>
          <img src="/app/img/icons/VideoCamera.svg" loading="lazy">
          Online
        <% else %>
          <img src="/img/flags/<%= event.country_iso.downcase %>.png" loading="lazy"/>
          <%= "#{event.city}, #{event.country}" %><br>
          <%= [event.place.to_s, event.address.to_s].uniq.join(' - ') %>
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="col-6 col-lg-2 next-edition-item">
    <% if with_name %>
      <strong class="duration-desktop"><%= event.duration %>hs</strong>
    <% end %>
    <%= event_time_info(event) %>
    <a class="small-label time-zone" href="<%= event.timezone_url %>">
      <%= "#{TimezoneConverter.gmt(event.time_zone_name)} #{event.time_zone_name}" %>
    </a>
  </div>

  <% if !pricing[:show_eb_price] || show_two_prices %>
    <div class="col-4 col-lg-2 next-edition-item" id="currency-<%= event.event_type.id %>">
      <strong><%= format_price(event, pricing[:list_price]) || 'precio' %></strong>
    </div>
  <% end %>

  <% if pricing[:show_eb_price] || show_two_prices %>
  <div class="col-4 col-lg-2 next-edition-item">
    <% if pricing[:using_coupon] %>
      <strong class="price event-price"><%= format_price(event, pricing[:final_price]) %></strong>
      <% unless pricing[:coupon].icon.to_s.empty? %>
        <img src="<%= pricing[:coupon].icon %>" class="coupon-icon" loading="lazy"/>
      <% end %>
    <% elsif pricing[:show_eb_price] %>
      <strong class="price"><%= format_price(event, pricing[:final_price]) %></strong>
      <p class="small-label">hasta <%= event.eb_date %></p>
    <% end %>
  </div>
  <% end %>

  <div class="col-4 col-lg-<%= last_column_width %> next-edition-item">
    <div class="btn-center-container" id="pay-button-<%= format_date_range(event.date, event.finish_date, session[:locale]).to_s.downcase.gsub(' ', '-') %>">
      <% if event.is_sold_out || event.registration_ended? %>
        <button class="my-primary-button p-2" style="filter: grayscale(100%); max-width: 150px; width: 130px">
          Completo
        </button>
      <% else %>
        <% uri = event.registration_link.empty? ? "https://eventos.kleer.la/events/#{event.id}/participants/new?lang=#{session[:locale]}&utm_source=kleer.la&utm_campaign=kleer.la" : event.registration_link %>
        <a id="buy-<%= event.event_type.id %>" class="my-primary-button p-2" style="max-width: 150px; width: 130px" href="<%= uri %>">
          Comprar
        </a>
      <% end %>
    </div>
  </div>
</div>