<div class="social-media">
  <ul class="social-media__list">
    <li class="list-inline-item"><a href="<%= t('generals.social_media.linkedin') %>"><i class="fa fa-linkedin"></i></a></li>
    <li class="list-inline-item"><a href="<%= t('generals.social_media.twitter') %>"><i class="fa fa-twitter"></i></a></li>
    <li class="list-inline-item"><a href="<%= t('generals.social_media.youtube') %>"><i class="fa fa-youtube"></i></a></li>
    <li class="list-inline-item"><a href="<%= t('generals.social_media.instagram') %>"><i class="fa fa-instagram"></i></a></li>
    <li class="list-inline-item"><a href="<%= t('generals.social_media.facebook') %>"><i class="fa fa-facebook"></i></a></li>
  </ul>
</div>
