<div class="container py-2" style="margin-top: 70px;">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1 style="font-size: 2rem; margin-bottom: 0.5rem;"><%= t('booking.meeting_about', name: service_area.name) %></h1>

      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-warning" role="alert"><%= flash[:error] %></div>
      <% end %>

      <%= erb :'bookings/_qualified_options', locals: {
        service_area: service_area,
        consultants: consultants,
        booking_token: booking_token,
        visitor_name: visitor_name,
        visitor_email: visitor_email,
        visitor_company: visitor_company,
        visitor_message: visitor_message,
        visitor_context: visitor_context,
        slug: slug
      } %>
    </div>
  </div>
</div>
<script src="/js/booking.js?v=<%= Time.now.to_i %>" defer></script>
