<%
  @coming_courses = @coming_courses
    .select {|e| e.event_type.lang == session[:locale]}
    .first(4)
    .map.with_index { |course, index|
    {
      title: course.event_type.name, duration: course.event_type.duration, subtitle: course.event_type.subtitle,
      cover: course.event_type.cover, uri_path: course.event_type.uri_path,
      country: 'OL', certified: (2 if course.event_type.is_sa_cert).to_i + 
                                (1 if course.event_type.is_kleer_cert).to_i, 
      active: index == 0
    }}
%>

<section id="last-courses" class="p-5 mt-4">
  <!--    decoration figures-->
  <img src="/app/img/view_figures/blue_square.svg" class="desktop_figure last-courses__blue-square"/>
  <img src="/app/img/view_figures/red_circle.svg" class="desktop_figure last-courses__red-circle"/>
  <!--    -------->
  <div class='container'>
    <h4 class="text-center m-4 last-courses__tittle">
      <%= t('home2022.home_courses.title')%>
    </h4>
    <div class='row mt-5'>

      <% @coming_courses.each do |course|
        @course = course
      %>
        <div class='col-3 p-2'>
          <%= erb :'component/_course_card' %>
        </div>
      <% end%>
    </div>
    <div class="btn-center-container mt-5">
      <a class="btn my-primary-button">
        <%= t('home2022.home_courses.button.title') %>
      </a>
    </div>
  </div>
</section>

<!--    responsive carousel-->
<section id="mobile-carousel">
  <div class="container">
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @coming_courses.each do |course|
          @course = course
        %>
          <div class="carousel-item p-4 <%= course[:active] ? 'active' : '' %>">
            <%= erb :'component/_course_card' %>
          </div>
        <%end %>
      </div>
      <button class="carousel-control-prev me-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next ms-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <div class="btn-center-container mt-5">
      <a class="btn my-primary-button">
        <%= t('home2022.home_courses.button.title') %>
      </a>
    </div>
  </div>

</section>
