<%
  all_courses_url = "/#{session[:locale]}/catalogo#training-courses"
  @coming_courses = @coming_courses
    .select {|e| e.event_type.lang == session[:locale]}
    .uniq { |e| e.event_type.id}
    .first(4)
    .map.with_index { |course, index|
      is_open = (course.date.to_s != '')
      date = is_open ? format_date_range(course.date, course.finish_date, 'es') : t('home2022.home_courses.no_date')
      {
        title: course.event_type.name, duration: course.event_type.duration, subtitle: course.event_type.subtitle,
        cover: course.event_type.cover, uri_path: course.event_type.uri_path, open: false,date: date, url: course.event_type.uri_path,
        country: 'OL', certified: (2 if course.event_type.is_sa_cert).to_i +
                                  (1 if course.event_type.is_kleer_cert).to_i,
        active: index == 0
      }
    }
%>
<section id="last-courses" class="p-5 mt-4">
  <%#    decoration figures %>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/blue_square.svg" class="desktop_figure last-courses__blue-square"/>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_circle.svg" class="desktop_figure last-courses__red-circle"/>
  <div class='container'>
    <h4 class="text-center m-4 last-courses__tittle">
      <%= t('home2022.home_courses.title')%>
    </h4>
    <div class='row mt-5'>
      <% @coming_courses.each do |course|
        @course = course
      %>
        <div class='col-3 p-2'>
          <%= erb :'component/_course_card' %>
        </div>
      <% end%>
    </div>
    <div class="btn-center-container mt-5">
      <a class="btn my-primary-button" href="<%=all_courses_url%>">
        <%= t('home2022.home_courses.button.title') %>
      </a>
    </div>
  </div>
</section>
<%#  responsive carousel %>  
<section id="mobile-carousel">
  <div class="container">
    <h4 class="text-center m-4 last-courses__tittle">
      <%= t('home2022.home_courses.title')%>
    </h4>
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @coming_courses.each do |course|
          @course = course
        %>
          <div class="carousel-item p-4 <%= course[:active] ? 'active' : '' %>">
            <%= erb :'component/_course_card' %>
          </div>
        <%end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="btn-center-container mt-5">
      <a class="btn my-primary-button" href="<%=all_courses_url%>">
        <%= t('home2022.home_courses.button.title') %>
      </a>
    </div>
  </div>
</section>
