<%
carousel = t("home2022.home_hero").map.with_index{|e, index| {
  subject: e[:subject],
  description: e[:description],
  url: e[:url],
  img: e[:img],
  alt: e[:alt],
  button_text: e[:button_text],
  active: index == 0
}}

%>
<section id="hero">
  <div id="carouselExampleCaptions" class="carousel hero__carousel slide hero" data-bs-ride="false">
    <div class="carousel-indicators">
      <% carousel.each_with_index do |item, index| %>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="<%=index%>" aria-label="Slide <%=index+1%>"
          <%= item[:active] ? "class='active' aria-current='true'" : '' %>
        >
        </button>
      <% end %>
    </div>
    <div class="carousel-inner hero_carousel-inner">
      <%carousel.each do |item|%>

        <div class="carousel-item hero_carousel__item <%=' active' if item[:active]%>">

          <div class="container carousel__item h-100">
            <div class="row h-100">
              <div class="offset-lg-1 col-lg-6 carousel__text">
                <div>
                  <h1><%=item[:subject]%></h1>
                  <p><%=item[:description]%></p>
                </div>
                <a href="<%= item[:url] %>" class="btn my-primary-button hero__desktop-button"><%= item[:button_text] %></a>
              </div>
              <div class="col-lg-5 carousel__img-container">
                <img src="/app/img/hero_cover.png" class="carousel__img" alt="<%=item[:alt]%>">
              </div>
              <a href="<%= item[:url] %>" class="btn my-primary-button hero__mobile-button"><%= item[:button_text] %></a>
            </div>

          </div>
          <img src="/app/img/view_figures/yellow_bean.svg" class="desktop_figure hero_yellow_bean" />
          <img src="/app/img/view_figures/green_bean.svg" class="desktop_figure hero_green_bean" />

        </div>
      <%end%>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
