<%
hero_item = t("home.home_hero").first
hero_data = section_data(@page, 'hero', { title: hero_item[:subject], content: hero_item[:description], cta_text: hero_item[:button_text] })
titles = to_lines(hero_data[:title])
description = hero_data[:content]
cta_url = hero_item[:url]
cta_text = hero_data[:cta_text]
%>
<section id="hero2" class="hero2">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 carousel__text">
        <div>
          <h1>
            <span class="highlight highlight--first"><%= titles[0] %></span>
            <span class="highlight"><%= titles[1] %></span>
            <span class="highlight"><%= titles[2] %></span>          
          </h1>
          <p><%= description %></p>
        </div>
        <a href="<%= "/#{session[:locale]}#{cta_url}" %>" class="btn my-primary-button hero__desktop-button">
          <%= cta_text %>
        </a>
      </div>
      <div class="col-lg-6 hero__img-container">
        <picture>
          <source srcset="<%= webp_ext(hero_item[:img]) %>" type="image/webp">
          <img
            src="<%= hero_item[:img] %>"
            class="hero__img"
            alt="<%= hero_item[:alt] %>"
          >
        </picture>
      </div>
      <a href="<%= "/#{session[:locale]}#{cta_url}" %>" class="btn my-primary-button hero__mobile-button">
        <%= cta_text %>
      </a>
    </div>
  </div>
  <img
h    src="<%= cdn('website-assets/yellow_bean.svg') %>"
    class="desktop_figure hero_yellow_bean2"
    alt="decorative figure"
  />
</section>