<%
hero_item = t("home.home_hero").first
title = 'Acelera la transformación organizacional'
description = 'Construye una cultura de innovación y aprendizaje continuo con Kleer.'
if !@page.sections.nil? && !@page.sections['hero'].nil?
  title = @page.sections['institutional']['title']
  description = @page.sections['institutional']['content']
end
titles = to_lines(title)
%>

<section id="institutional" class="hero2">
  <div class="container h-100">
    <div class="row h-100">
      <div class="offset-lg-1 col-lg-6 carousel__text">
        <div>
          <h2>
            <span class="highlight highlight--first"><%= titles[0] %></span>
            <span class="highlight"><%= titles[1] %></span>
            <span class="highlight"><%= titles[2] %></span>          
          </h2>
          <p><%= description %></p>
        </div>
      </div>
<div class="col-lg-5 hero__img-container">
  <iframe 
    width="100%" 
    height="315" 
    src="https://www.youtube.com/embed/RdgV8iWW2DM" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>
      <a href="<%= "/#{session[:locale]}#{hero_item[:url]}" %>" class="btn my-primary-button hero__mobile-button">
        <%= hero_item[:button_text] %>
      </a>
    </div>
  </div>
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_bean.svg"
    class="desktop_figure hero_yellow_bean2"
    alt="decorative figure"
  />
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_bean.svg"
    class="desktop_figure hero_green_bean"
    alt="decorative figure"
  />
</section>