<%
institutional_data = section_data(@page, 'institutional', { 
  title: 'Acelera la transformación organizacional', content: 'Construye una cultura de innovación y aprendizaje continuo con Kleer.', cta_text: 'https://www.youtube.com/embed/RdgV8iWW2DM' })
titles = to_lines(institutional_data[:title])
description = institutional_data[:content]
cta_url = institutional_data[:cta_text]
is_image = cta_url =~ /\.(jpg|webp|png)$/i
%>

<section id="institutional" class="institutional">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-5 institutional__text">
        <div>
          <h2 class="institutional__title">
            <span class="highlight highlight--first"><%= titles[0] %></span>
            <span class="highlight"><%= titles[1] %></span>
            <span class="highlight"><%= titles[2] %></span>          
          </h2>
          <p><%= description %></p>
        </div>
      </div>
      <div class="col-lg-7 institutional__img-container">
        <% if is_image %>
          <img class="institutional__image" src="<%= cta_url %>" alt="Institutional image" style="width:100%;" />
        <% else %>
          <iframe 
            class="institutional__video"
            width="100%" 
            src="<%= cta_url %>" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
        <% end %>
      </div>
    </div>
  </div>
</section>