<% promotion_path = 'home.services.' #home_business_agility.'
  title = t(promotion_path + 'title')
  text =  t(promotion_path + 'text')
  img_url = t(promotion_path + 'img.url')
  img_alt = t(promotion_path + 'img.alt')
  url =  t(promotion_path + 'buttons.more.url')
  buttom_more_text = t(promotion_path + 'buttons.more.text')
  buttom_questions_text = t(promotion_path + 'buttons.questions.text')
%>
<section id="promotion" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 ps-3 mb-3 promotion__text">
        <h2 class="promotion__title mb-5 mt-5">
          <%= title %>
        </h2>
        <%= text %>
      </div>
      <div class="col-xs-12 col-md-5 promotion_img-container">
      <picture>
        <source srcset="<%=img_url%>.webp" type="image/webp">
        <img src="<%=img_url%>.png" alt="<%=img_alt%>" loading="lazy"/>
      </picture>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%if url!='' %>
        <div class="col-12 col-lg-3 col-md-4 mb-4">
          <a class="btn my-primary-button" href="<%=url%>">
            <%= buttom_more_text%>
          </a>
        </div>
        <%end%>
        <div class="col-12 col-lg-3 col-md-3">
          <%= erb :'component/_contact_banner_button',  locals: {style:'', text_button: buttom_questions_text, style_class: 'btn my-secondary-button'}%>
        </div>
      </div>
    </div>
  </div>
</section>
