<% promotion_path = 'home2022.DLA.' #home_business_agility.'
  title = t(promotion_path + 'title')
  text =  t(promotion_path + 'text')
  img_url = '/app/img/business_a'
  img_alt = 'Agilidad organizacional imagen'
  url = '/agilidad-organizacional'
  buttom_more_text = t(promotion_path + 'buttons.more.text') 
  buttom_questions_text = t('home2022.home_business_agility.buttons.questions.text')
%>
<section id="promotion" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 ps-3 mb-3 promotion__text">
        <h3 class="promotion__title mb-5 mt-5">
          <%= title %>
        </h3>
        <%= text %>
      </div>
      <div class="col-xs-12 col-md-5 promotion_img-container">
      <picture>
        <source srcset="<%=img_url%>.webp" type="image/webp">
        <img src="<%=img_url%>.png" alt="<%=img_alt%>"/>
      </picture>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-2 col-md-3">
          <a class="btn my-primary-button" href="<%=url%>">
            <%= buttom_more_text%>
          </a>
        </div>
        <div class="col-6 col-lg-3 col-md-3">
          <%= erb :'component/_contact_banner_button',  locals: {text_button: buttom_questions_text, style_class: 'btn my-secondary-button'}%>
        </div>
      </div>
    </div>
  </div>
</section>
