<%
title = 'Explora Nuestros Servicios'
description = 'Queremos conocer tus desafíos para ofrecerte una solución personalizada.'
if !@page.sections.nil? && !@page.sections['services'].nil?
  title = @page.sections['services']['title']
  description = @page.sections['services']['content']
end
%>
<% titles = to_lines(title) %>
<section id="homepage-service-areas" class="container mb-5 service-areas">
  <div class="mb-4">
    <h2>
      <span class="highlight highlight--first"><%= titles[0] %> </span>
      <span class="highlight"><%= titles[1] %> </span>
      <span class="highlight"><%= titles[2] %></span>
    </h2>
    <p><%= description%></p>
  </div>

  <div class="row justify-content-center align-items-stretch">
    <% @areas.each do |area| %>
      <%= erb :'home/_service_area_card', locals: { area: area } %>
    <% end %>
  </div>
</section>