<div class="container p-3 courses__search-box">
  <div class="row container">
    <div class="col-12 col-lg-3">
      <div class="dropdown">
        <a
          class="btn dropdown-toggle ps-0"
          href="#" role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="catalog__category-drop"
        >
          <%=t("blog.search.category")%>
        </a>
        <ul class="dropdown-menu">
          <%@categories&.each do |category|
            #TODO: delete
            url = ERB::Util.url_encode(category.name)%>
            <li>
              <button
                class="dropdown-item"
                onclick="handleChangeCategory('<%=category.name%>')">
                <%=category.name%>
              </button>
            </li>
          <% end%>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="input-group">
        <input
          class="form-control border"
          type="input"
          name="matchWord"
          value="<%= @match || '' %>"
          oninput="handleChangeText(event)"
          id="catalog__text-input" />
      </div>
    </div>
    <div class="offset-8 offset-md-9  offset-lg-0 col-lg-2">
      <button onclick="cleanAllFilters()" class="blue-link" >
        <%=t("blog.search.reset")%>
      </button>
    </div>
  </div>
</div>
