<%
  courses = keventer_to_card(@events, session[:locale])

  categories = []
  @categories = [] if @categories.nil?

  @categories.each{|e|
    categories.push(e.name)
  }
  
  courses = courses.uniq {|e| e[:uri_path]}
  courses = courses.shuffle

%>
<section id="training-courses" class="">
  <h2 class="text-center m-4 title">
    <%= t("catalog.list.title") %>
  </h2>
  <% if session[:locale]  == 'es'%>
    <%= erb :'training/catalog/_search_box' %>
  <% end %>
  <div class='container training-courses__container'>

    <div class='row mt-5 w-100' id="courses-container">
      <% courses.each do |course|
        @course = course
      %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2" id="<%= "#{course[:categories]}#{course[:slug]}"%>">
          <%= erb :'component/cards/_course_card' %>
        </div>
      <% end%>
    </div>
    <div class="btn-center-container mt-5 mb-5">
      <button
        class="my-primary-button"
        id="see-more"
        onclick="handleShowAll()"
      ><%= t("catalog.more") %></button>
    </div>
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_circle3.svg"
      class="desktop_figure training-courses_red-circle"
      alt="decorative figure"
      />
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_triangle.svg"
      class="desktop_figure training-courses_green-triangle"
      alt="decorative figure"
      />
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_sigsac.svg"
      class="desktop_figure training-courses_rustic-sigsac"
      alt="decorative figure"
      />
  </div>
</section>
<% if session[:locale]  == 'es'%>
  <script src="/js/catalog_filter.js"> </script>
<% end %>
