<section id="training-info">
  <div class="info-container">
    <h4 class="text-center mb-5"><%=t('catalog.type')%></h4>
    <div class="row">
      <div class="col-md-4">
        <div class="subcontainer">
          <div>
            <h3 class="subtitle"><%=t('catalog.in_company.title') || "" %></h3>
            <%= @markdown_renderer.render(t("catalog.in_company.text")) %>
          </div>
          <div class="btn-center-container">
            <%= erb :'component/_contact_banner_button',
                    locals:
                      {
                        style_class: 'my-primary-button training-info__redir-button',
                        text_button: t("catalog.in_company.button.text")
                      }
            %>
          </div>
        </div>
      </div>
      <div class="col-md-4 border-start border-end">
        <div class="subcontainer">
            <h3 class="subtitle"><%=t('catalog.public.title')  || "" %></h3>
            <%= @markdown_renderer.render(t("catalog.public.text")) %>
          <div class="btn-center-container">
            <a class="my-primary-button training-info__redir-button"
              href="<%= t("catalog.public.button.link") %>">
              <%= t("catalog.public.button.text") %>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="subcontainer">
          <h3 class="subtitle">
            <img src="/app/img/logos/logo-academia.png" class="logo-academia" alt="academia"/>
          </h3>
            <%= t("catalog.e-learning.text") %>
          <div class="btn-center-container">
            <a
              class="my-primary-button training-info__redir-button"
              href="<%= t("catalog.e-learning.button.link") %>"
            ><%= t("catalog.e-learning.button.text") %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_triangle.svg"
    class="desktop_figure training-hero_yellow-triangle"
    alt="decorative figure"
    />
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/blue_circle.svg"
    class="desktop_figure training-hero_blue-circle"
    alt="decorative figure"
    />
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_sigsac.svg"
    class="desktop_figure training-info_rustic-sigsac"
    alt="decorative figure"
    />
</section>
