<section id="training-info">
  <div class="training-info__container">
    <h4 class="text-center mb-5"><%=t('courses_page.type')%></h4>
    <div class="row">
      <div class="col-md-4">
        <div class="training-info__subcontainer">
          <div>
            <h5 ><%=t('courses_page.in_company.title')%></h5>
            <ul>
              <li><%= t("courses_page.in_company.text") %></li>
              <!--            <li>lorem ipsum....</li>-->
              <!--            <li>lorem ipsum....</li>-->
            </ul>
          </div>
          <div class="btn-center-container">
            <a
              class="my-primary-button training-info__redir-button"
              href="<%= t("courses_page.in_company.button.link") %>"
            ><%= t("courses_page.in_company.button.text") %></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 border-start border-end">
        <div class="training-info__subcontainer">
          <div>
            <h5><%=t('courses_page.public.title')%></h5>
            <ul>
              <li><%= t("courses_page.public.text") %></li>
              <!--            <li>lorem ipsum....</li>-->
              <!--            <li>lorem ipsum....</li>-->
            </ul>
          </div>

          <div class="btn-center-container">
            <a class="my-primary-button training-info__redir-button"
              href="<%= t("courses_page.public.button.link") %>">
              <%= t("courses_page.public.button.text") %>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="training-info__subcontainer">
          <div>
            <h5><%= t("courses_page.e-learing.title") %></h5>
            <ul>
              <li><%= t("courses_page.e-learing.text") %></li>
              <!--            <li>lorem ipsum....</li>-->
              <!--            <li>lorem ipsum....</li>-->
            </ul>
          </div>

          <div class="btn-center-container">
            <a
              class="my-primary-button training-info__redir-button"
              href="<%= t("courses_page.e-learing.button.link") %>"
            ><%= t("courses_page.e-learing.button.text") %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_triangle.svg"
    class="desktop_figure training-hero_yellow-triangle"
    alt="decorative figure"
    />
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/blue_circle.svg"
    class="desktop_figure training-hero_blue-circle"
    alt="decorative figure"
    />
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_sigsac.svg"
    class="desktop_figure training-info_rustic-sigsac"
    alt="decorative figure"
    />
</section>
