<%
  courses = keventer_to_card(@events, session[:locale])

  if session[:locale]  == 'es'
    @academy.each{|e|
      courses.push(
        {
          title: e['es']['title'], duration: e['es']['duration'], subtitle: e['es']['subtitle'],
          cover: e['es']['cover'], uri_path: e['es']['url'], is_open: false, is_incompany: false, is_elearning: true,
          has_webp: false, url: e['es']['url'],
          categories: format_categories(e['es']['categories']), date: 'Asincrono', certified: 1
        }
      )
    }
  end

  categories = []
  @categories.each{|e|
    categories.push(e.name)
  }

  courses = courses.uniq {|e| e[:uri_path]}

%>
<section id="training-courses" class="p-5 mt-4">
  <div class='container training-courses__container'>
    <h4 class="text-center m-4 last-courses__tittle">
      <%= t("courses_page.catalog.title") %>
    </h4>
    <% if session[:locale]  == 'es'%>
      <div class="courses-filters row">
      <div class="dropdown d-flex courses-filters__drop col-12 col-lg-3">
        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Modalidad
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <div class="form-check">
              <input
                class="form-check-input check-delivery"
                type="checkbox"
                value="Abierto"
                onchange="handleChangeDelivery(this.value)"
                checked="true"
                id="abiertosCheck">
              <label class="form-check-label " for="abiertosCheck">Abierto</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input
                class="form-check-input check-delivery"
                type="checkbox"
                value="In Company"
                onchange="handleChangeDelivery(this.value)"
                checked="true"
                id="incompanyCheck">
              <label class="form-check-label" for="incompanyCheck">In Company</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input
                class="form-check-input check-delivery"
                type="checkbox"
                value="E-learning"
                checked="true"
                onchange="handleChangeDelivery(this.value)"
                id="elearningCheck">
              <label class="form-check-label" for="elearningCheck">E-learning</label>
            </div>
          </li>
        </ul>
      </div>
      <div class="buttons-container col-12 col-lg-9">
        <div class="courses-filters-container d-flex">
          <% categories.each do |category| %>
            <button
              class="courses-filters__tag courses-filters__tag--selected"
              onclick="handleClickCategory('<%= category %>')"
            ><%= category %></button>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class='row mt-5 w-100' id="courses-container">
      <% courses.each do |course|
        @course = course
      %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2" id="<%= "#{course[:categories]}#{course[:title]}"%>">
          <%= erb :'component/cards/_course_card' %>
        </div>
      <% end%>
    </div>
    <div class="btn-center-container mt-5 mb-5">
      <button
        class="my-primary-button"
        id="see-more"
        onclick="handleClickSeeMore()"
      ><%= t("courses_page.catalog.more") %></button>
    </div>
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_circle3.svg"
      class="desktop_figure training-courses_red-circle"
      alt="decorative figure"
      />
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_triangle.svg"
      class="desktop_figure training-courses_green-triangle"
      alt="decorative figure"
      />
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_sigsac.svg"
      class="desktop_figure training-courses_rustic-sigsac"
      alt="decorative figure"
      />
  </div>
</section>
<% if session[:locale]  == 'es'%>
  <script src="/js/courses_filter.js"> </script>
<% end %>
