<script>

document.addEventListener('DOMContentLoaded', function() {
    runOnScroll();
    window.addEventListener("scroll", runOnScroll);
});

if (document.readyState === 'complete') {
    runOnScroll();
}

function runOnScroll() {
    const table = document.getElementById('landing-blog-content-table');
    const blogBody = document.getElementById('landing-blog-body');
    const threshold = 120;
    const current = document.getElementById('landing-blog-hero').getBoundingClientRect().bottom;
    const blogBottom = blogBody.getBoundingClientRect().bottom;
    
    // Only fix the ToC if we're scrolling through the content
    // and not yet near the bottom
    const shouldBeFixed = current <= threshold + 4 && blogBottom > window.innerHeight + 200;

    if (shouldBeFixed && !table.classList.contains('fixed-table')) {
        table.classList.add('fixed-table')
    } else if (!shouldBeFixed && table.classList.contains('fixed-table')) {
        table.classList.remove('fixed-table')
    }
}
</script>

  <div id="landing-blog-content-table">
  <h3 class="title mt-0"><%=t("blog.landing.ToC")%></h3>
  <ul>
    <% titles.each.with_index do |title, index| %>
      <% subtitles = title[:subtitles].each_with_index.reduce('') do |string , (subtitle, subindex)|
        string + "<a href='#subtitle-#{index}-#{subindex}'>
                    <li class='ms-3 mt-2'>
                      #{subtitle}
                    </li>
                  </a>"
      end %>
      <div class="mt-3">
          <div class="row">
            <div class="col-10">
              <a
                class=""
                href="#title-<%=index%>"
              >
              <%= title[:title] %>
              </a>
            </div>
            <div class="col-2">
              <a
                href="#item<%=index%>"
                data-bs-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="item<%=index %>"
              >
                <%= subtitles != '' ? "<img src='/app/img/icons/arrow.svg' loading='lazy'  width='22px' height='12px'/>" : ''%>
              </a>
            </div>
          </div>
        </a>
        </div>
      <% if subtitles != '' %>
      <div class="collapse course-program__specific-item" id="item<%=index %>">
        <%= subtitles %>
      </div>
      <% end %>
    <% end %>

  <%= erb :'blog/landing_blog/_toc_item', locals: {
        title: 'Contenido Recomendado',
        title_id: 'recommendedContent',
        subtitles: recommended.map { |item| item.title },
        index: 30
      } if recommended.any?%>
  </ul>
</div>
