
<div id="landing-blog-content-table">
  <h3 class="title mt-0">Contenido del blog</h3>
<!--  <ul>-->
    <%# separated_titles.each do |title| %>
<!--      <li class="mt-3"><%#= title[:title] %></li>-->
      <%# if title[:subtitles] != [] %>
        <%# title[:subtitles].each do |subtitle|  %>
<!--          <li class="ms-4 mt-1"><%#= subtitle %></li>-->
        <%# end %>
      <%# end %>
    <%# end %>
<!--  </ul>-->
  <ul>
    <% titles.each.with_index do |title, index| %>
      <% subtitles = title[:subtitles].each_with_index.reduce('') do |string , (subtitle, subindex)|
        string + "<a href='#subtitle-#{index}-#{subindex}'>
                    <li class='ms-3 mt-1'>
                      #{subtitle}
                    </li>
                  </a>"
      end %>
      <div class="mt-3">
          <div class="row">
            <div class="col-10">
              <a
                class=""
                href="#title-<%=index%>"
              >
              <%= title[:title] %>
              </a>
            </div>
            <div class="col-2">
              <a
                href="#item<%=index%>"
                data-bs-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="item<%=index %>"
              >
                <%= subtitles != '' ? "<img src='/app/img/icons/arrow.svg'/>" : ''%>
              </a>
            </div>
          </div>
        </a>
        </div>
      </li>
      <% if subtitles != '' %>
      <div class="collapse course-program__specific-item" id="item<%=index %>">
        <%= subtitles %>
      </div>
      <% end %>
    <% end %>
  </ul>
</div>

<script>
    function runOnScroll() {
        const table = document.getElementById('landing-blog-content-table');
        const body = document.getElementById('landing-blog-body').children[2]

        if (document.body.getBoundingClientRect().top <= -1000 && document.body.getBoundingClientRect().bottom > 2500) {
            table.classList.add('fixed-table')
            body.classList.remove('up-body')
        }else{
            table.classList.remove('fixed-table')
            body.classList.add('up-body')
        }
    };
    window.addEventListener("scroll", runOnScroll);

    window.addEventListener("hashchange", function () {
        setTimeout(() => {
            window.scrollTo(window.scrollX, window.scrollY - 150);
        }, 1000)
    });

</script>
