<%# _toc_item.erb %>
  <div class="mt-3">
    <div class="row">
      <div class="col-10">
        <a href="#<%= title_id %>">
          <%= title %>
        </a>
      </div>
      <% if subtitles.any? %>
        <div class="col-2">
          <a
            href="#item<%= index %>"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="item<%= index %>"
          >
            <img src="/app/img/icons/arrow.svg" loading="lazy" width="22px" height="12px"/>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <% if subtitles.any? %>
    <div class="collapse course-program__specific-item" id="item<%= index %>">
      <% subtitles.each_with_index do |subtitle, subindex| %>
        <a href="#<%= title_id %>">
          <li class="ms-3 mt-2">
            <%= subtitle %>
          </li>
        </a>
      <% end %>
    </div>
  <% end %>