<section class="certificates-form-container">
  <h1><%= t("certificate-form.title") %></h1>
  <h2 class=""><%= t("certificate-form.subtitle") %></h2>

    <%= erb :'component/_flash_error' %>
    <form
      action="/es/certificado"
      method="post"
      class="needs-validation form"
      novalidate>
        <div class="control">
          <label class="form-label"><%= t("certificate-form.code-input.label") %></label>
          <input
            type="text"
            class="form-control"
            name="q"
            id="q-input"
            pattern=".{20}" title="<%= t("certificate-form.code-input.error-message") %>"
            value="<%= search_term%>"
            required>
          <div class="invalid-feedback">
            <%= t("certificate-form.code-input.error-message") %>
          </div>
        </div>
        <div class="image-container">
          <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/where_is_certificate_code.jpg" class="img-fluid" alt="Validation Code" loading="lazy">
        </div>

      <div class="mb-4">
        <%= recaptcha_tags callback: 'enableButton' %>
      </div>

      <div class="btn-center-container">
        <button type="submit"
                id="submit"
                class="btn my-primary-button"
                value="Submit"
                disabled
        >
          <%= t("certificate-form.submit.text") %></button>
      </div>
    </form>

  <img
    class="desktop_figure skyblue-semicircle"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/skyblue_semicircle.svg">
  <img
    class="desktop_figure rustic-circle"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_circle2.svg"/>
  <img
    class="desktop_figure yellow-oval"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_oval2.svg"/>
  <img
    class="desktop_figure red-bean"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_bean.svg"/>
</section>



<script>


  function enableButton() {
    document.getElementById("submit").disabled = false;
  }

  (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
          .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()

                  }
                  form.classList.add('was-validated')
              }, false)
          })
  })()
</script>
