<% 
  lang = session[:locale] || 'es'
  partial_url = lang == 'es' ? 'recursos' : 'resources'
%>
<section id="resource-detail-hero">
  <div class="resource-detail-hero">
    <div class="container offset-lg-1">
      <div class="row">
        <div class="col-12 col-lg-6 resource-detail-hero__content">
          <h1><%=@resource.title%></h1>
          <p><%=@resource.description%><span style="font-size:1rem"><br><br><%=@resource.comments%></span></p>
        </div>
        <div class="colo-12 col-lg-4 resource-detail-hero__image">
          <picture>
            <img
              src="<%= @resource.cover %>"
              alt="<%= @resource.title %>"
            >
          </picture>
        </div>
      </div>
    </div>
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_bean.svg"
      class="resource-detail-hero__decoration resource-detail-hero__decoration--green"
      alt="decorative figure"
    />
  </div>
</section>
<section id="resource-detail-body" class="container resource-detail-body">
<div class="mb-4 offset-lg-1">
  <% if !@resource.getit.empty? || @is_assessment%>
    <% action_url = @is_assessment ? "/assessment/#{@resource.assessment_id}" : '/send-mail' %>
    <form id="download-form" action="/<%= session[:locale] || 'es' %><%= action_url%>" method="post" class="needs-validation" novalidate>
    <div class="row mb-4">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <h2><%= @is_assessment ? t("resources.show.assessment_title") : t("contact-us-form.download") %></h2>
          </div>
          <div class="row">
            <div class="mb-3 col-xs-12">
              <label class="form-label"><%= t("contact-us-form.name-input.label") %></label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="name-input"
                required>
              <div class="invalid-feedback">
                <%= t("contact-us-form.name-input.error-message") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-xs-12">
              <label class="form-label"><%= t("contact-us-form.company-input.label") %></label>
              <input
                type="text"
                class="form-control"
                id="company-input"
                name="company">
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-xs-12">
              <label class="form-label"><%= t("contact-us-form.email-input.label") %></label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email-input"
                required>
              <div class="invalid-feedback">
                <%= t("contact-us-form.email-input.error-message") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-xs-12">
              <div class="form-group">
                <input type="checkbox" id="can_we_contact" name="can_we_contact">
                <label for="can_we_contact"><%= t('resources.show.download.notify_me') %></label>
              </div>
              <div class="form-group">
                <input type="checkbox" id="suscribe" name="suscribe">
                <label for="suscribe"><%= t('resources.show.download.suscribe') %></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="invalid-feedback">
              <%= t("contact-us-form.message-input.error-message") %>
            </div>

            <%#= recaptcha_tags callback: 'enableDownload' %>
            <div id="recaptcha-placeholder" class="mb-3"></div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <%if @also_download.count > 0 %>
            <div class="bg-light rounded-container p-3 mt-4">
              <div class="row">
                <h3><%= t("contact-us-form.also_download") %></h3>
                <%@also_download.each do |resource| 
                    landing_uri = "/#{lang}/#{partial_url}/#{resource.slug}" %>
                    <div class="form-group d-flex align-items-start mb-2">
                      <input type="checkbox" id="ad-<%=resource.slug%>" name="ad-<%=resource.slug%>" class="me-2 mt-1">
                      <label for="ad-<%=resource.slug%>"><a href="<%= landing_uri %>"><strong><%=resource.title%>:</strong></a> <%=resource.subtitle%></label>
                    </div>
                <%end%>
              </div>
            </div>
          <%end%>
        </div>
      </div>
      </div>
      <div class="row col-md-6">
        <input type="hidden" id="input-context" name="context" value="<%= request.path_info %>">
        <input type="hidden" id="resource-slug" name="resource_slug" value="<%= @resource.slug %>">
        <div class="btn-center-container">
          <button type="submit"
                  id="download"
                  class="btn my-primary-button"
                  value="Submit"
                  disabled
          >
            <%= @is_assessment ? t("resources.show.start_assessment") : t("contact-us-form.button.text") %>
          </button>
        </div>
                  <% if @is_assessment %>
            <div id="start-assessment" class="btn-center-container" style="display: none;">
              <a href="/#{lang}/assessment/<%= @resource.assessment_id %>" class="btn my-primary-button">
                <%= t("resources.show.start_assessment") %>
              </a>
            </div>
          <% end %>
      </div>          
    </div>
    </form>
  <% end %>  
  <% unless @resource.long_description.empty? %>
  <div class="row mb-4">
    <div class="col-lg-11">
      <%= @resource.long_description %>
    </div>
  </div>
  <% end %>
  <% unless @resource.preview.empty? %>
  <div class="row mb-4">
    <div class="col-md-8">
      <img src="<%= @resource.preview %>" alt="" class="img-fluid">
    </div>
  </div>
  <% end %>
  <% unless @resource.landing.empty? %>
   <div class="row">
        <% if @resource.landing&.include?('youtu.be') %>
      <div class="text-center mb-4">
          <!-- Extract video ID and embed YouTube video -->
          <% video_id = @resource.landing.split('/').last %>
          <div class="col-lg-9 col-md-10 mx-auto">
          <div class="ratio ratio-16x9 mb-4">
            <iframe 
              src="https://www.youtube.com/embed/<%= video_id %>"
              title="YouTube video"
              allowfullscreen>
            </iframe>
          </div>
          </div>
      </div>
        <% elsif @resource.getit.empty? %>
          <h2><%=t('resources.show.more_info.title')%></h2>
          <p><%=t('resources.show.more_info.text')%></p>
          <div class="btn-center-container">
            <button class="info my-secondary-button">
              <a href="<%= @resource.landing %>"><%=t('resources.show.more_info.button')%></a>
            </button>
          </div>
        <% else %>
          <h2><%=t('resources.show.more_info.title')%></h2>
          <p><%=t('resources.show.more_info.text')%></p>
          <div class="btn-center-container">
            <button class="info my-secondary-button">
              <a href="<%= @resource.landing %>"><%=t('resources.show.more_info.button')%></a>
            </button>
          </div>
        <% end %>
    </div>
  <% end %>
 <div class="row">
  <% trainers = @resource.trainers_with_role
     unless trainers&.empty? %>
    <h2><%= t("blog.landing.authors")%></h2>
    <div class="landing-blog-authors__container">
        <%trainers.each do |trainer| %>
        <%= erb :'component/cards/_trainer_card', locals: {trainer: trainer} %>
        <%end %>
    </div>
  <% end %>
</div>
</section>

<%= erb :'component/sections/recommended', locals: { recommended: @resource.recommended_not_downloads, title: t('recommended.title')  }%>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    loadReCaptcha('download-form');
    const form = document.getElementById('download-form');
    if (form) {
      form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
          form.classList.add('was-validated');
        }
      });
    }
  });
</script>