<%
title ||= 'Estas organizaciones confían en nosotros'
description ||= '.'.freeze
%>
<section id="client-logos" class="p-3 client-logos">
  <div class="clients-grid container">
    <div class="row m-4">
      <div class="col-12 text-center ">
        <h2>
          <%= title%>
        </h2>
        <%if description.to_s != '' %>
          <p><%= description %></p>
        <%end%>
      </div>
    </div>
    <div class="row">
      <% @clients.each do |client| %>
        <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center align-items-center mb-4">
          <img src="<%= client[:img] %>" alt="<%= client[:name] %>" class="client-logo" loading="lazy" />
        </div>
      <% end %>
    </div>
    <% if defined?(cta) && cta.to_s != ''%>
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-6 text-center">
        <a class="btn my-secondary-button" href="/clientes"><%= cta %></a>
      </div>
    </div>
    <% end %>
</div>
</section>
