<div class="container p-3 blog-feed__search-box">
  <div class="row search-box__container">
    <div class="col-12 col-lg-2">
      <div class="dropdown mb-2">
        <a
          class="btn dropdown-toggle ps-0"
          href="#" role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="blog-feed__category-drop"
        >
          <%=t("blog.search.category")%>
        </a>
        <ul class="dropdown-menu">
          <%@categories&.each do |category|
            #TODO: delete
            url = ERB::Util.url_encode(category.name)%>
            <li>
              <button
                class="dropdown-item"
                onclick="filterByCategory('<%=category.name%>')">
                <%=category.name%>
              </button>
            </li>
          <% end%>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="input-group">
        <input
          class="form-control border-end-0 border"
          type="input"
          name="matchWord"
          value="<%= @match || '' %>"
          oninput="filterByText(event)"
          id="example-search-input" />
        <!--          onchange="onChangeMatchWord(event)"-->
        <span class="input-group-append">
          <button
            class="btn btn-outline-secondary bg-white border-start-0 border ms-n5"
            type="button"
            onclick="goToFilterLink()">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="offset-8 offset-md-9  offset-lg-0 col-lg-3 mt-3">
      <button onclick="cleanAllFilters()" class="blue-link" >
        <%=t("blog.search.reset")%>
      </button>
    </div>
  </div>
</div>
