<% if @category %>
  <h2 class="subtitle"><%=t("blog.search.result.category_title")%> <%= @category %></h2>
<% end %>
<% if @match %>
  <h2 class="subtitle"><%=t("blog.search.result.text_title")%> "<%= @match %>"</h2>
<% end %>

<%if @category.nil? and @match.nil? and @all.nil? %>
  <h2 class="mt-4 mb-4 subtitle"><%=t("blog.latest")%></h2>
<% end %>
    <% @articles = @articles || []
    if @articles.empty? %>
      <h2 class="m-5"><%=t("blog.search.result.empty")%></h2>
    <% else %>
      <%= erb :'blog/paging' unless @all.nil? %>
    <div class="row">
      <% @articles.each do |article|%>
        <div class="col-md-6 col-lg-4">
            <%= erb :'component/cards/_article_card', locals: {article: article} %>
        </div>
      <%end%>
    </div>
      <%= erb :'blog/paging' unless @all.nil? %>
    <img
      class="desktop_figure blog-feed-list__red-triangle"
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_triangle.svg"
      alt="decoration figure"
      />

  <%end%>
  <% if @all.nil? %>
    <div class="btn-center-container">
      <a class="btn my-primary-button" onclick="setParam('all','true')"><%=t("blog.show_more")%></a>
    </div>
  <% end %>
</div>

<script>
    let params = decodeURI(window.location.search)
        .replace('?', '')
        .split('&')
        .map(param => param.split('='))
        .reduce((values, [ key, value ]) => {
            values[ key ] = value
            return values
        }, {})


    const setParam = (param, value) => {
        params = {
            ...params,
            [param]: value
        }

        if(param == 'category' || param == 'match'){
            params = {
                ...params,
                all: true,
                page: 0
            }
        }
        goToFilterLink()
    }

    const goToFilterLink = () => {
        const link = Object.keys(params).reduce((ac ,key) =>{
            if(key === '' || typeof(key) === null){
                return ac
            }else{
                return ac +`&${key}=${params[key]}`
            }
        }, '/<%=session[:locale]%>/blog?')

        window.location.href = link
    }

    const onChangeMatchWord = (e) => {
        params = {
            ...params,
            page: 0,
            match: e.target.value
        }
    }
</script>
