<section id="selected-articles">
  <h2 id="selected-articles__title" class="subtitle"><%=t("blog.highlights")%></h2>
  <div class="row"></div>
</section>

<section id="articles">
  <h2 id="articles__title" class="mt-4 mb-4 subtitle"><%=t("blog.latest")%></h2>

  <% @articles = @articles || []
     if @articles.empty? %>

    <h2 class="m-5"><%=t("blog.search.result.empty")%></h2>

  <% else %>

    <div class="row mb-4">
      <div class="paging-container offset-4 col-4 offset-md-9 col-md-3 col-lg-2">
        <%= erb :'component/_reactive_pager' %>
      </div>
    </div>

    <div id="article-list" class="row">
      <% @articles.each do |article|%>
        <div class="col-md-6 col-lg-4">
          <%= erb :'component/cards/_article_card', locals: {article: article} %>
        </div>
      <%end%>
    </div>

    <div class="row mb-4">
      <div class="paging-container offset-4 col-4 offset-md-9 col-md-3 col-lg-2">
        <%= erb :'component/_reactive_pager' %>
      </div>
    </div>

    <img
      class="desktop_figure blog-feed-list__red-triangle"
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_triangle.svg"
      alt="decoration figure"
      />
  <%end%>
    <div class="btn-center-container" id="blog-feed-list__show-more-button">
      <button class="btn my-primary-button" onclick="showMore()"><%=t("blog.show_more")%></button>
    </div>
</section>

<% if session[:locale]  == 'es'%>
  <script src="/js/blog_filter.js"> </script>
<% end %>
