<div
  class="card clickable-card area-card"
  id="area-card-<%=area.id %>"
  data-toggle="collapse"
  data-target="#additionalContent-<%=area.id %>"
  style="background-color: <%= area.primary_color %>"
>
  <div class="card-body">
    <div class="show-content row">
      <div class="col-12 col-md-5 title-section">
        <img src="<%= area.icon %>" alt="icon" class="mb-3 icon"/>
        <h2>
          <%= area.name %>
        </h2>
      </div>
      <div class="col-12 col-md-7 summary">
        <%= area.summary %>
      </div>
    </div>
    <div class="collapse extra-content" id="additionalContent-<%=area.id%>">
      <div class="title">
        <h4>
          <%= area.cta_message %>
        </h4>
      </div>
      <div>
        <div class="areas-container">
          <% area.services.each_with_index  do |service, index| %>
            <%= erb :'services/components/_service_card',
                    locals: {
                      service: service,
                      hover_color: area.secondary_color,
                    } %>
          <% end %>
        </div>
      </div>
      <% if area.slug %>
        <div class="cta-container">
          <a
            class="my-secondary-button"
            id="cta-button-<%=area.id %>"
            href="<%= "/es/servicios/#{area.slug}" %>"
            style=""
          >
            <img src="/app/img/icons/rocket.svg" alt="arrow-right" class="me-2"/>
            ¡Quiero saber más!
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <div
    class="plus-button"
    id="plus-button-<%=area.id%>"
  >
    <img src="/app/img/icons/plus.png" alt="plus" />
  </div>
</div>

<script>
    {
        const clickableCard = document.getElementById("area-card-<%=area.id %>");
        const additionalContent = document.querySelector('#additionalContent-<%=area.id %>');
        const plusButton = document.getElementById("plus-button-<%=area.id %>")
        const ctaButton = document.getElementById("cta-button-<%=area.id %>")

        clickableCard.onclick = () => {
            additionalContent.classList.toggle('collapse');

            if (!additionalContent.classList.contains('collapse')) {
                additionalContent.classList.add('show');
                plusButton.innerHTML = "<img src='/app/img/icons/minus.png' alt='minus' />"
            }else {
                additionalContent.classList.remove('show');
                plusButton.innerHTML = "<img src='/app/img/icons/plus.png' alt='plus' />"
            }
        };

        ctaButton.onclick = (event) => {
            event.stopPropagation()
        }

        ctaButton.onmouseover = () => {
            ctaButton.style.backgroundColor = "<%= area.secondary_color %>"
        }

        ctaButton.onmouseout = () => {
            ctaButton.style.backgroundColor = "white"
        }
    }
</script>