<a
  class="card clickable-card area-card"
  id="area-card-<%=area.id %>"
  style="background-color: <%= area.primary_color %>; text-decoration: none;"
  href="<%=
    if area.is_training_program
      session[:locale] == 'en' ? "/en/training/#{area.slug}" : "/es/formacion/#{area.slug}"
    else
      session[:locale] == 'en' ? "/en/services/#{area.slug}" : "/es/servicios/#{area.slug}"
    end
  %>"
>
  <div class="card-body">
    <div class="show-content row">
      <div class="col-12 col-md-5 title-section">
        <img src="<%= area.icon %>" alt="icon" class="mb-3 icon" loading="lazy"/>
        <h2>
          <%= area.name %>
        </h2>
      </div>
      <div class="col-12 col-md-7 summary">
        <%= area.summary %>
      </div>
    </div>
    <div class="cta-container mt-3">
      <span
        class="my-secondary-button"
        style=""
      >
        <img src="/app/img/icons/rocket.svg" alt="arrow-right" class="me-2" loading="lazy"/>
        <%= t('services.landing_page.areas.cta_button') %>
      </span>
    </div>
  </div>
</a>
