<div
  class="card clickable-card area-card"
  id="area-card-<%=area.name.split(" ")[0] %>"
  data-toggle="collapse"
  data-target="#additionalContent"
  style="background-color: <%= area.primary_color %>"
>
  <div class="card-body">
    <div class="show-content row">
      <div class="col-5">
        <img src="" alt="icon"/>
        <h4>
          <%= area.name %>
        </h4>
      </div>
      <div class="col-7 summary">
        <%= area.abstract %>
      </div>
    </div>
    <div class="collapse extra-content" id="additionalContent">
      <div class="title">
        <h4>
          Aprende más de nuestros servicios de cambio organizacional
        </h4>
      </div>
      <div>
        <div class="areas-container">
          <% area.services.each_with_index  do |service, index| %>
              <%# if index%3 == 0%>
<!--                </div>-->
<!--                <div class="row">-->
              <%# end %>
              <div class="area-card-container">
                <%= erb :'services/components/_service_card', locals: {service: service} %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="cta-container">
        <a class="my-secondary-button">
          Estas a un click
        </a>
      </div>

    </div>
  </div>
</div>

<script>
    {
        const clickableCard = document.getElementById("area-card-<%=area.name.split(" ")[0] %>");
        const additionalContent = document.querySelector('#additionalContent');

        clickableCard.onclick = () => {
            additionalContent.classList.toggle('collapse');

            if (!additionalContent.classList.contains('collapse')) {
                additionalContent.classList.add('show');
            }else {
                additionalContent.classList.remove('show');
            }
        };

        console.log(clickableCard)
    }
</script>