<hr />
<section class="service-info <%= service.color_theme %>">
  <h2>
    <img
      src="<%= service.logo %>"
      class="logo"
      />
    <%= service.name %>
  </h2>
  <p class="ms-3"> <%= service.subtitle %> </p>

  <div class="more-info">
    <a class="button" href="<%="/es/servicios#{service.canonical_url}" %>">
      Conoce el servicio completo
      <img src="/app/img/view_figures/arrow-right.svg" class=""/>
    </a>
  </div>
</section>
