<div class="container mt-5 mb-3">
  <h4><%= t('business-agility.differential.title') %></h4>
  <ul class="row mt-4">
    <div class="col-md-6">
      <li class="mb-3"><%= t('business-agility.differential.items')[0] %></li>
      <li class="mb-3"><%= t('business-agility.differential.items')[1] %></li>
    </div>
    <div class="col-md-6">
      <li class="mb-3"><%= t('business-agility.differential.items')[2] %></li>
      <li class="mb-3"><%= t('business-agility.differential.items')[3] %></li>
    </div>
  </ul>
</div>
