  <header class="header">
    <h1><%= t('news.title') %></h1>
  </header>
  <div class="container">
    <% @news.each do |news| %>
      <div class="news-card">
        <img src="<%= news.img || 'https://kleer-images.s3.sa-east-1.amazonaws.com/placeholder.png' %>" alt="<%= news.title %>" class="news-image">
        <div class="news-content">
          <h2><%= news.title %></h2>
          <div class="news-meta">
            <%= t('news.published_on') %> <%= news.event_date %>
            <% if news.trainers.count > 0 %>
              | <%= t('news.authors') %>: <%= news.trainers.join(', ') %>
            <% end %>
          </div>
          <p class="news-excerpt"><%= news.description %></p>
          <div class="button-container">
            <% unless news.video.to_s == '' %>
              <a href="<%= news.video %>" target="_blank" class="icon-button" title="<%= t('news.buttons.video') %>" aria-label="<%= t('news.buttons.video') %>"><i class="fa fa-play-circle"></i></a>
            <% end %>
            <% unless news.audio.to_s == '' %>
              <a href="<%= news.audio %>" target="_blank" class="icon-button" title="<%= t('news.buttons.audio') %>" aria-label="<%= t('news.buttons.audio') %>"><i class="fa fa-music"></i></a>
            <% end %>
            <% unless news.url.to_s == '' %>
              <a href="<%= news.url %>" target="_blank" class="icon-button" title="<%= t('news.buttons.external') %>" aria-label="<%= t('news.buttons.external') %>"><i class="fa fa-globe"></i></a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
