<%#=erb :'component/_generic_hero', locals: {title: 'agilidad organizacional', subtitle: 're agilidosos'} %>
<section id="businessa-hero">
  <div class="businessa-hero__container">
    <div>
      <h1 class="businessa-hero__title"><%= t("business-agility.title") %></h1>
      <p><%= t("business-agility.subtitle") %></p>
    </div>
    <div class="businessa-hero__img-container">
      <img src="/img/heros/bus_agility.png" class="principal-img"/>
      <img src="<%= cdn('website-assets/white_triangle.svg') %>" class="desktop_figure businessa-hero__white-triangle"/>
      <a href="#bussinesa-howto">
        <img src="<%= cdn('website-assets/arrow_button.svg') %>" class="desktop_figure down-button"/>
      </a>
    </div>
    <img src="<%= cdn('website-assets/blue_bean.svg') %>" class="businessa-hero__blue-bean"/>
    <img src="<%= cdn('website-assets/lines.svg') %>" class="businessa-hero__lines"/>
    <img src="<%= cdn('website-assets/green_worm.svg') %>" class="businessa-hero__green-worm"/>
  </div>
</section>
