
<section id="bussinesa-howto" class="container">
  <h4>
    <%= t('business-agility.howto.title') %>
  </h4>
  <%= t("business-agility.howto.text") %>
  <div class="row">
    <% t("business-agility.howto.items").each do |item| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
        <%if item[:url].to_s != '' %>
          <a href="<%= item[:url]%>">
            <div class="howto__item p-4 rotable-item">
        <% else %>
          <div class="howto__item p-4">
        <% end %>
            <img src="<%= item[:img] %>" class="mb-3"/>
            <p><%= item[:text] %></p>
      <%if item[:url].to_s != '' %>
            <b>Ver más</b>
          </div>
        </a>
      <% else %>
          </div>
      <% end %>
      </div>
    <% end %>
  </div>
</section>
