<p> lista de servicios <br>
PENDIENTE
</p>

<p> Slogan <br>
<%= service_area.slogan%>
</p>
<p> Description / side_image <br>
<%= service_area.description%> //
<%= service_area.side_image%>
</p>

<p> Target <br>
<%= service_area.target%> 
</p>

<p> Value proposition <br>
<%= service_area.value_proposition%> 
</p>

<p> contenido de cada servicio <br>
PENDIENTE 
</p>

