<div class="services-section">
  <div class="introduce">
    <img src="/app/img/icons/Glasses.svg"/>
    Aprende más de nuestros servicios
  </div>
</div>

<% services.each_with_index  do |service, index| %>
  <%= service.name %> <br>
  <%= service.subtitle %> <br>
  <%= service.value_proposition %> <br>
  <%= service.outcomes %> <br>
  <%= service.definitions %> <br>
  <%= service.program %> <br>
  <%= service.target %> <br>
  <%= service.pricing %> <br>
  <%= service.brochure %> <br>
<% end %>
